@charset "UTF-8";
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes fadeInLeft {
	from, 60%, 75%, 90%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		transform: translate3d(-3000px, 0, 0);
	}
	60% {
		opacity: 1;
		transform: translate3d(25px, 0, 0);
	}
	75% {
		transform: translate3d(-10px, 0, 0);
	}
	90% {
		transform: translate3d(5px, 0, 0);
	}
	to {
		transform: none;
	}
}
.desction-left{
	animation-name: fadeInLeft;
}
@keyframes fadeInBottom{
	from 60%, 75%, 90%, to{
		animation-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		transform: translate3d(0, 3000px,  0);	 
	}
	60% {
		opacity: 1;
		transform: translate3d(0, 25px, 0);
	}
	75% {
		transform: translate3d(0, -10px, 0);
	}
	90% {
		transform: translate3d(0, 5px, 0);
	}
	to {
		transform: none;
	}
	
}
.brands-desc{
	animation-name:fadeInBottom;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-120px);
		transform: translateY(-120px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		-moz-transform:translateY(-100px);
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}
.fadeInRight{
	-webkit-animation-name:fadeInRight;
	animation-name:fadeInRight;
}
@-webkit-keyfrmaes fadeGood{
	0% {
		opacity:0;
		-webkit-transform:translateX(100%);
		transform:translateX(100%);
	}
	100%{
		 opacity: 1;
		-webkit-transfrom:translateX(0px);
		transform:translateX(0px);
	}
}
@keyframes fadeGood{
	0% {
		opacity:0;
		-webkit-transform:translateX(100%);
		transform:translateX(100%);
	}
	100%{
		opacity: 1;
		-webkit-transform:translateX(0px);
		transform:translateX(0px);
	}
}
.fadeInGood{
	-webkit-animation-name:fadeGood;
	animation-name:fadeGood;
}
@-webkit-keyframes fadeInUp{
	0%{
		opacity:0;	
		-webkit-transform:translate3d(0,100%,0);
		transform:translate3d(0,100%,0)
	}
	100%{
		opacity:1;
		-webkit-transform:none;transform:none}
	}
@keyframes fadeInUp{
	0%{
		opacity:0;
		-webkit-transform:translate3d(0,100%,0);
		transform:translate3d(0,100%,0)
	}
	100%{
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}	
.fadeInUp{
	-webkit-animation-name:fadeInUp;
	animation-name:fadeInUp
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
.fadeInDown {
	animation-name: fadeInDown;
}
@keyframes fadeOnLeft{
	
	from{
		opacity:0;
		transform:translate3d(-100%,0,0);
	}
	
	to{
		opacity:1;
		transform:none;
	}
}
.fadeOnLeft{
	animation-name:fadeOnLeft;
	-webkit-animation-name:fadeOnLeft;
}


@keyframes fadeLowBottom{
	from{
		opacity:0;
		transform:translate3d(0,5px,0);
	}
	
	to{
		opacity:1;
		transform:none;
	}
}
.fadeLowBottom{
	-webkit-animation-name:fadeLowBottom;
	animation-name:fadeLowBottom;
}









