@charset "utf-8";
/* CSS Document */

#nav {
	width: 100%; /* 1000 */
	position: absolute;
	top: 0px;
	left: 0px;
}
#nav > a {
	display: none;
}
#nav li {
}
#nav li a {
	display: block; 
}

@media screen and ( max-width: 1200px )  {

	.phone{
		display:none;
	}
	#header .nav>li>a{
		padding-left:30px;
	}
}
@media screen and ( max-width: 1120px )  {
	.menu{
		width:75%;
	}
	.phone{
		display:none;
	}
	#header .nav>li>a{
		
		padding-left:15px;
	}
}
@media screen and ( max-width: 1000px )  {
	.phone{
		display:none;
	}
	#header .nav>li>a{
		
		padding-left:15px;
	}
	.menu{
		width:75%;
	}
	#xflmenu { height:40px;}
#nav {
	position: relative;
	top: auto;
	left: auto; background:#e1e1e1;
}

#nav li ul { height:auto; overflow:hidden;}
#nav > a {
	width: 2.5em; /* 50 */
	height: 2.5em; /* 50 */
	text-align: left;
	text-indent: -9999px;
	background-color: #FF7900;
	position: relative;
}
#nav > a:before,  #nav > a:after {
	position: absolute;
	border: 2px solid #fff;
	top: 35%;
	left: 25%;
	right: 25%;
	content: ' ';
}
#nav > a:after {
	top: 60%;
}
#nav:not( :target ) > a:first-of-type,  #nav:target > a:last-of-type {
	display: block;
}
/* first level */

#nav > ul {
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
}
#nav:target > ul {
	display: block; z-index:999999999; background: #fff;
}
#nav > ul > li {
	width: 100%;
	float: none;
}
#nav > ul > li > a {
	height: auto; color:#fff;
	text-align: left;
	line-height:20px;
}
#nav > ul > li:not( :last-child ) > a {
	border-right: none;
	border-bottom: 1px solid #ddd;
}
/* second level */
#nav li:not( :first-child ):hover ul {
	left: 0px;width:100%;
}
#nav li ul {
	position: static;
	padding: 1.25em 0.75em; /* 20 */
	padding-top: 0; width:100%;
}
.phone {
    display: block;
}
}
@media screen and ( max-width: 860px )  {

#xflmenu { height:40px;}
#nav {
	position: relative;
	top: auto;
	left: auto; background:#e1e1e1;
}

#nav li ul { height:auto; overflow:hidden;}
#nav > a {
	width: 2.5em; /* 50 */
	height: 2.5em; /* 50 */
	text-align: left;
	text-indent: -9999px;
	background-color: #FF7900;
	position: relative;
}
#nav > a:before,  #nav > a:after {
	position: absolute;
	border: 2px solid #fff;
	top: 35%;
	left: 25%;
	right: 25%;
	content: ' ';
}
#nav > a:after {
	top: 60%;
}
#nav:not( :target ) > a:first-of-type,  #nav:target > a:last-of-type {
	display: block;
}
/* first level */

#nav > ul {
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
}
#nav:target > ul {
	display: block; z-index:999999999; background: #fff;
}
#nav > ul > li {
	width: 100%;
	float: none;
}
#nav > ul > li > a {
	height: auto; color:#fff;
	text-align: left;
	line-height:20px;
}
#nav > ul > li:not( :last-child ) > a {
	border-right: none;
	border-bottom: 1px solid #ddd;
}
/* second level */
#nav li:not( :first-child ):hover ul {
	left: 0px;width:100%;
}
#nav li ul {
	position: static;
	padding: 1.25em 0.75em; /* 20 */
	padding-top: 0; width:100%;
}
.phone {
    display: block;
}
}

@media screen and ( max-width: 720px )  {
html {
	
}
#xflmenu { height:40px;}
#nav {
	position: relative;
	top: auto;
	left: auto; background:#e1e1e1;
}

#nav li ul { height:auto; overflow:hidden;}
#nav > a {
	width: 2.5em; /* 50 */
	height: 2.5em; /* 50 */
	text-align: left;
	text-indent: -9999px;
	background-color: #FF7900;
	position: relative;
}
#nav > a:before,  #nav > a:after {
	position: absolute;
	border: 2px solid #fff;
	top: 35%;
	left: 25%;
	right: 25%;
	content: ' ';
}
#nav > a:after {
	top: 60%;
}
#nav:not( :target ) > a:first-of-type,  #nav:target > a:last-of-type {
	display: block;
}
/* first level */

#nav > ul {
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
}
#nav:target > ul {
	display: block; z-index:999999999; background: #fff;
}
#nav > ul > li {
	width: 100%;
	float: none;
}
#nav > ul > li > a {
	height: auto; color:#fff;
	text-align: left;
	line-height:20px;
}
#nav > ul > li:not( :last-child ) > a {
	border-right: none;
	border-bottom: 1px solid #ddd;
}
/* second level */
#nav li:not( :first-child ):hover ul {
	left: 0px;width:100%;
}
#nav li ul {
	position: static;
	padding: 1.25em 0.75em; /* 20 */
	padding-top: 0; width:100%;
}
.phone {
    display: block;
}
}
 /* 640 */@media screen and ( max-width: 640px )  {
html {
	
}
#xflmenu { height:40px;}
#nav {
	position: relative;
	top: auto;
	left: auto; background:#e1e1e1;
}

#nav li ul { height:auto; overflow:hidden;}
#nav > a {
	width: 2.5em; /* 50 */
	height: 2.5em; /* 50 */
	text-align: left;
	text-indent: -9999px;
	background-color: #FF7900;
	position: relative;
}
#nav > a:before,  #nav > a:after {
	position: absolute;
	border: 2px solid #fff;
	top: 35%;
	left: 25%;
	right: 25%;
	content: ' ';
}
#nav > a:after {
	top: 60%;
}
#nav:not( :target ) > a:first-of-type,  #nav:target > a:last-of-type {
	display: block;
}
/* first level */

#nav > ul {
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
}
#nav:target > ul {
	display: block; z-index:999999999; background: #fff;
}
#nav > ul > li {
	width: 100%;
	float: none;
}
#nav > ul > li > a {
	height: auto; color:#fff;
	text-align: left;
	line-height:20px;
}
#nav > ul > li:not( :last-child ) > a {
	border-right: none;
	border-bottom: 1px solid #ddd;
}
/* second level */
#nav li:not( :first-child ):hover ul {
	left: 0px;width:100%;
}
#nav li ul {
	position: static;
	padding: 1.25em 0.75em; /* 20 */
	padding-top: 0; width:100%;
}
.phone {
    display: block;
}
}
