<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Logo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-logo" class="form-control" name="row[logo]" type="text" value="{$row.logo|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Favicon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-favicon" class="form-control" name="row[favicon]" type="text" value="{$row.favicon|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Record_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-record_number" class="form-control" name="row[record_number]" type="text" value="{$row.record_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Record_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-record_url" class="form-control" name="row[record_url]" type="text" value="{$row.record_url|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contact')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact" class="form-control" name="row[contact]" type="text" value="{$row.contact|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Telphone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-telphone" class="form-control" name="row[telphone]" type="text" value="{$row.telphone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" name="row[phone]" type="text" value="{$row.phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mail')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mail" class="form-control" name="row[mail]" type="text" value="{$row.mail|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" class="form-control" name="row[address]" type="text" value="{$row.address|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
