<style>
    .languageBox a{
        cursor: pointer;
    }
    .languageBox a:hover{
        color: red;
    }
    .language-active{
        color: red;
    }

    .menu_select{
        color:#FF7900;
    }

</style>


<div id="wrap">
    <div id="header">
        <div class="logo"><a href="index.htm"  title="北极狐电商-淘宝天猫代运营_拼多多运营_阿里巴巴代运营全店托管推广"><img src="__CDN__/index/skin/picture/logo.png"  alt="北极狐电商-淘宝天猫代运营_拼多多运营_阿里巴巴代运营全店托管推广"></a></div>

        <div class="menu">
            <ul class="language">

            </ul>
            <div id="nav">
                <a href="#nav" title="shownav">shownav</a>
                <a href="#" title="hidnav">hidnav</a>
                <ul class="nav">


                    <li class="navitem"><a href="/index/a/gengduofuwu/index.htm"  target="_blank" target="_self" title="更多服务"><span data-title="更多服务">更多服务</span></a>
                        <ul class="subnav">

                        </ul>
                    </li><li class="navitem"><a href="/index/a/guanyuwomen/qiyegaikuang/index.htm"  target="_blank" target="_self" title="关于我们"><span data-title="关于我们">关于我们</span></a>
                    <ul class="subnav">

                        <li><a href="/index/a/guanyuwomen/qiyegaikuang/index.htm"  title="企业概况" target="_blank" target="_self">企业概况</a></li>

                        <li><a href="/index/a/guanyuwomen/jintaomingyu/index.htm"  title="北极狐名誉" target="_blank" target="_self">北极狐名誉</a></li>

                        <li><a href="/index/a/guanyuwomen/qiyewenhua/index.htm"  title="企业文化" target="_blank" target="_self">企业文化</a></li>

                        <li><a href="/index/a/guanyuwomen/jiaruwomen/index.htm"  title="加入我们" target="_blank" target="_self">加入我们</a></li>

                        <li><a href="/index/a/guanyuwomen/hexintuandui/index.htm"  title="核心团队" target="_blank" target="_self">核心团队</a></li>

                        <li><a href="/index/a/guanyuwomen/lianxiwomen/index.htm"  title="联系我们" target="_blank" target="_self">联系我们</a></li>

                    </ul>
                </li><li class="navitem"><a href="/newsLists.html"  target="_blank" target="_self" title="新闻中心"><span data-title="新闻中心">新闻中心</span></a>
                    <ul class="subnav">

                        <li><a href="/newsLists.html?column_type=1"  title="新闻动态" target="_blank" target="_self">新闻动态</a></li>

                        <li><a href="/newsLists.html?column_type=2"  title="媒体报道" target="_blank" target="_self">媒体报道</a></li>

                        <li><a href="/newsLists.html?column_type=3"  title="员工风采" target="_blank" target="_self">员工风采</a></li>

                        <li><a href="/newsLists.html?column_type=4"  title="精彩视频" target="_blank" target="_self">精彩视频</a></li>

                    </ul>
                </li><li class="navitem"><a href="/index/a/jintaozhinang/index.htm"  target="_blank" target="_self" title="北极狐智囊"><span data-title="北极狐智囊">北极狐智囊</span></a>
                    <ul class="subnav">

                        <li><a href="/index/a/jintaozhinang/xianshangfenxiang/index.htm"  title="线上分享" target="_blank" target="_self">线上分享</a></li>

                        <li><a href="/index/a/jintaozhinang/xianxiafenxiang/index.htm"  title="线下分享" target="_blank" target="_self">线下分享</a></li>

                        <li><a href="/index/a/jintaozhinang/yunyingwenku/index.htm"  title="运营文库" target="_blank" target="_self">运营文库</a></li>

                    </ul>
                </li><li class="navitem"><a href="/index/a/chenggonganli/yunyinganli/index.htm"  target="_blank" target="_self" title="成功案例"><span data-title="成功案例">成功案例</span></a>
                    <ul class="subnav">

                        <li><a href="/index/a/chenggonganli/yunyinganli/index.htm"  title="运营案例" target="_blank" target="_self">运营案例</a></li>

                        <li><a href="/index/a/chenggonganli/shejianli/index.htm"  title="设计案例" target="_blank" target="_self">设计案例</a></li>

                    </ul>
                </li><li class="navitem"><a href="/index/a/kefuwaibao/index.htm"  target="_blank" target="_self" title="苏宁运营"><span data-title="苏宁运营">苏宁运营</span></a>
                    <ul class="subnav">

                    </ul>
                </li><li class="navitem"><a href="/index/a/shijuesheji/index.htm"  target="_blank" target="_self" title="拼多多运营"><span data-title="拼多多运营">拼多多运营</span></a>
                    <ul class="subnav">

                    </ul>
                </li><li class="navitem"><a href="/index/a/dianshangyunying/zhengdianyunyingtuoguan/index.htm"  target="_blank" target="_self" title="电商运营"><span data-title="电商运营">电商运营</span></a>
                    <ul class="subnav">

                        <li><a href="/index/a/dianshangyunying/zhengdianyunyingtuoguan/index.htm"  title="整店运营托管" target="_blank" target="_self">整店运营托管</a></li>

                        <li><a href="/index/a/dianshangyunying/zhitongchetuoguan/index.htm"  title="直通车托管" target="_blank" target="_self">直通车托管</a></li>

                        <li><a href="/index/a/dianshangyunying/xinmeitiyunying/index.htm"  title="新媒体运营" target="_blank" target="_self">新媒体运营</a></li>

                        <li><a href="/index/a/dianshangyunying/pinpaiyingxiaocehua/index.htm"  title="品牌营销策划" target="_blank" target="_self">品牌营销策划</a></li>

                    </ul>
                </li>


                    <li class="navitem"><a href="/"  title="首页" style="color:#FF7900;">首页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

