<meta charset="utf-8">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="淘宝代运营,京东代运营,天猫代运营，淘宝托管,直通车托管，拼多多代运营" />
<meta name="description" content="佛山市北极狐网络科技有限公司是专业的电子商务第三方服务机构，其总公司成立于2017年，公司先后开展过自建平台、第三方平台等多渠道网络营销，经历过电子商务运营的所有环节。2018年进入电子商务服务领域，是淘宝网首批服务商之一，我们致力于淘宝新开店、店铺代运营和淘宝运营培训。" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no" />



<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />

<!--<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">-->

<link href="__CDN__/index/skin/css/animation.css" rel="stylesheet" />
<link href="__CDN__/index/skin/css/index.css" rel="stylesheet" />
<link href="__CDN__/index/skin/css/media-queries.css" rel="stylesheet" />
<link href="__CDN__/index/skin/css/menu.css"rel="stylesheet" />
<link href="__CDN__/index/skin/css/sti_style.css"rel="stylesheet" />
<script src="__CDN__/index/skin/js/jquery-2.1.4.min.js" ></script>
<!--<script src="__CDN__/index/skin/js/jquery-1.7.min.js" ></script>-->

<script type="text/javascript" src="__CDN__/index/skin/js/jquery.flexslider-min.js" ></script>
<script type="text/javascript" src="__CDN__/index/skin/layer/layer.js" ></script>


<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="__CDN__/assets/js/html5shiv.js"></script>
  <script src="__CDN__/assets/js/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="__CDN__/index/skin/layer/css3-mediaqueries.js" ></script>
<![endif]-->
<script type="text/javascript">
    var require = {
        config: {$config|json_encode}
    };
</script>