/*
	  Time:  2017-08-14
	Author:  Lee 
*/
@charset "UTF-8";
body{
	font-size:14px;
	font-family: "Microsoft YaHei" ! important;
	-webkit-font-smoothing:antialiased;
}
*{
	padding:0px;
	margin:0px;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
    -ms-interpolation-mode: bicubic;
    border: none;
    height: auto;
    width: auto\9;
    max-width: 100%;
}
.clear { 
	clear:both; 	
}
.tc{
	text-align:center;
}
.wrap{
	width:100%;
}
.fl{ 
	float:left;
}
.fr{ 
	float:right;
}
.tr{
	text-align:right;
}
.tl{
	text-align:left;
}
/*********** Header **************/
#wrap{
	width:100%;
	display:inline-block;
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 3px 3px rgba(150, 150, 150, 0.15);
	position: fixed; 
	top: 0px;
	z-index: 9999;
}
#header{
	max-width:1200px;
	margin:0px auto;
}
.logo{
	width:20%;
	height:70px;
	float:left;
	padding:15px 0px;
}
.menu{
	float:right;
	position:relative;
	width: 80%;	
}
#header .nav{
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
    margin-top: 50px;
}
.language{
	margin-top: 20px;
    width: 100%;
    text-align: right;
}
.language a{
	font-size: 12px;
	color: #333333;
}
.language .china{
	background: #FF7900;
    color: #fff;
    line-height: 30px;
    padding: 5px;
    margin-left: 10px;
    font-size: 12px;
}
.menu ul li{
	float:right;
	position:relative;
	line-height:48px;
}
.menu ul li a{
	color:#282828;
	font-size:18px;
}
.menu ul li ul.second-nav li{
	width:95px;
	padding: 5px;
	line-height:20px;
}
.menu ul li ul.second-nav li a{
	font-weight:normal;
	font-size:14px;
}
/************** Header Over ***************/
.flexslider{
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	zoom:1;
}
.flex-viewport{
	max-height:2000px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.flexslider .slides{
	zoom:1;
}
.flexslider .slides li { 
	text-align:center;
}
.flex-direction-nav a.flex-prev{
	width:51px;
	height:51px;
	line-height:99em;
	overflow:hidden;
	margin:-30px 0 0;
	display:block;
	background:url("../images/ad_ctr.png")/*tpa=http://jintaovip.com/skin/images/ad_ctr.png*/ no-repeat;
	position:absolute;
	top:50%;
	z-index:10;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .3s ease;
	left: 5%;
}
.flex-direction-nav a.flex-next{
	width:51px;
	height:51px;
	line-height:99em;
	overflow:hidden;
	margin:-30px 0 0;
	display:block;
	background:url("../images/ad_ctl.png")/*tpa=http://jintaovip.com/skin/images/ad_ctl.png*/ no-repeat;
	position:absolute;
	top:50%;
	z-index:10;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);-webkit-transition:all .3s ease;
	left:92.5%;
}
.flexslider:hover .flex-next{
	opacity:0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-prev{
	opacity:0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{
	opacity:1;
	filter:alpha(opacity=50);
}
.flex-control-nav{
	width:100%;
	position:absolute;
	bottom:1em;
	text-align:center;
	z-index:999; 
	padding-top:10px;
}
.flex-control-nav li{
	margin:0 1px;
	display:inline-block;
	zoom:1;*display:inline;
}
.flex-control-paging li a{
	display:block;
	height:10px;
	overflow:hidden;
	text-indent:-99em;
	width:10px; 
	background:#fff;
	margin-right:5px; 
	cursor:pointer;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px;
}
.flex-control-paging li a.flex-active{ 
	background:#ca1d25;
}
/*********** Service **************/
#server{
	max-width:1200px;
	margin:0px auto;
	margin-top: 100px;
}
#server .desction{	
	width:90%;
	text-align:center;
	margin:0px auto;
	margin-top:20px;
	margin-bottom:60px;
	line-height:30px;
	color:#a8a8a8;
}
#case-logo .desction{
	width: 90%;
    text-align: center;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 100px;
    line-height: 30px;
    color: #a8a8a8;
}
.server-img-list ul li{
	float:left;
	width:208px;
	padding:0px 16px;	
}
.server-title{
	margin:25px 0px;
	height:50px;
	display: inline-block;
}
.ico-image{
	float:left;
	width:25px;
	height:25px;
	padding:0px 20px;
}
.server-name{
	float:left;
	width:140px;
	font-size:16px;
}
.server-name span{
	display:block;
	font-weight:normal;
	font-size:12px;
	color:#aaa;
}
.short-desc{
	clear:both;
	margin-left:20px;
	color:#8c8c8c;
}
.server-title a{
	color:#000;
	float:left;
}
.server-title a:hover{
	border-bottom:2px solid #FF7900;
	padding-bottom:5px;
}
#store{
	clear: both;
    display: inline-block;
    margin: 85px 0px 75px 0px;
}
#store ul li{
	float:left;
	padding:0px 80px;
	width:134px;
	text-align:center;
}
#store ul li p{
	padding-top:15px;
	font-weight: normal;
	color:#aaaaaa;
	font-size:14px;
}
#server .projectitem{ 
	width:208px; 
	height:auto; 
	float:left; 
	position:relative; 
}
#server .projectitem a{ 
	display:block; 
	overflow:hidden
}
#server .projectitem a img,.contrast-content img,#projectlist .projectitem a img,#electrical_seriver .projectitem a img,#design .projectitem a img{
	transition:all ease-out .3s
}
#server .projectitem a:hover img{ 
	transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2); 
	-webkit-transform:scale(1.2,1.2); 
	-o-transform:scale(1.2,1.2); 
}
#server .projectitem .project_info{ 
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0); 
	position:absolute; 
	left:0; 
	top:0; 
	transition:all ease-out .3s;
}
#server .projectitem a:hover .project_info{
	background:#FF7900;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9
}
#server .projectitem .project_info p{ 
	text-align:center; 
	color:#fff; 
	padding:0 20px
}
#server .projectitem .project_info div{ 
	position:relative;
	top:50%; 
	margin-top:-15px
}
#server .projectitem .project_info p.title{
	margin-top:10px; 
	color:rgba(0,0,0,0); 
	transition:all ease-out .3s;
	font-family: HELVETICA-NARROW;
	font-size:20px;
	display:none; 
}
#server .projectitem a:hover .project_info p.title{
	margin-top:0px; 
	display:block;
}
#server .projectitem a:hover .project_info .underline p{
	border-bottom:3px solid #fff;
	width:40px;
	padding-top:30px;
	text-align:center;
	position:relative;
	top:50%; 
	left:150px;
}
/************* Team *************/
#team{
	clear:both;
	width:100%;
	background:#FF7900;
	display: inline-block;
	margin-top: 50px;
}
#team-center{
	max-width:1200px;
	margin:0px auto;	
}
#team-center .team-title{
	padding-top:45px;
	text-align:center;
}
.desction-left{
	width:405px;
	float:left;
	color:#ffefe5;
}
.desction-left div{
	padding:15px 0px;
}
.desction-left p{
	line-height:28px;
}
.team-desction{
	position:relative;
}
#video{
	float:right;
	position:absolute;
    left: 446px;	
}
/************ Success Case ****************/
#success-case{
	max-width:1200px;
	margin:0px auto;
}
#case-logo{
	max-width: 1200px;
    margin: 0 auto;
}
.case-img{
	text-align:center;
	padding-top:75px;
}
#success-case .case-img{
	text-align:center;
	padding-top:90px;
}
.case-short{
	width: 90%;
    text-align: center;
    margin: 0px auto;
    padding-top: 25px;
    line-height: 30px;
    color: #a8a8a8;
    padding-bottom: 55px;
}
.case-list{
	height: 368px;
    overflow: hidden;
}
.case-list ul li{
	float:left;
	padding:0px 7px;
	width:385px;
	height: 355px;
    overflow: hidden;
}
.case-list ul li div{
	display:block;
	text-align:center;
}
.case-list ul li div span{
	text-align:center;
	font-size:16px;
	padding-top: 20px;
    display: inline-block;
}
.case-list ul li div p{
	padding-top:5px;
	color: #7a7a7a;
	font-size: 14px;
	padding-bottom:30px;
	height: 20px;
}
#case{
	background:#fafafa;
	width:100%;
	height:740px;
	clear:both;
	margin-top: 60px;
    display: inline-block;
	background-size: 100%100%;
}
#case-li{
	max-width:1200px;
	margin:0px auto;
	position: relative;
}
.content_list li a{	
	float:left;
	border-right: 1px solid #ccc;
}
#indexPage{	
	width:1085px;
	display:inline-block;
}
.tips{
	float:right;
	width:60px;
	margin-top: 86px;
}
#firsr-index{
	border-bottom: 1px solid #e7e7e7;
    width: 100%;
    margin-top: -184px;
}
#projectlist .projectitem{ 
	width:385px; 
	height:auto; 
	float:left; 
	position:relative; 
}
#projectlist .projectitem a{ 
	display:block; 
	overflow:hidden
}

#projectlist .projectitem a:hover img{ 
	transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2); 
	-webkit-transform:scale(1.2,1.2); 
	-o-transform:scale(1.2,1.2); 
}
#projectlist .projectitem .project_info{ 
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0); 
	position:absolute; 
	left:0; 
	top:0; 
	transition:all ease-out .3s;
}
#projectlist .projectitem a:hover .project_info{
	background:#FF7900;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9
}
#projectlist .projectitem .project_info p{ 
	text-align:center; 
	color:#fff; 
	padding:0 20px
}
#projectlist .projectitem .project_info div{ 
	position:relative;
	top:50%; 
	margin-top:-15px
}
#projectlist .projectitem .project_info p.title{
	margin-top:10px; 
	color:rgba(0,0,0,0);
	filter:alpha(opacity=0);	
	transition:all ease-out .3s;
	font-size:20px; 
}
#projectlist .projectitem a:hover .project_info p.title{
	margin-top:0px; 
	color:#fff;
	filter:alpha(opacity=100%);	
}
#projectlist .projectitem a:hover .project_info .underline p{
	border-bottom:3px solid #fff;
	width:30px;
	padding-top:10px;
	text-align:center;
	position:relative;
	top:50%; 
	left:157px;
}
#indexPage #mpartner .bx-wrapper .bx-controls-direction {
	display: none;
}
#indexPage #mpartner .wrapper ul li a {
	width: 255px;
	height: 145px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px
}
.noneborder p{
	width:100%;
	text-align:center;
}
#indexPage #mpartner .wrapper ul li a img {
	text-align: center;
    vertical-align: middle;
}
#indexPage #mpartner .bx-wrapper .bx-pager {
	bottom: -40px;
}
#indexPage #mcontact {
	background-color: #303030;
}
#indexPage #mcontact .header p.title {
	color: #fff;
}
#indexPage #mcontact .header p.subtitle {
	color: #c1c1c1;
}
#indexPage #mpartner .wrapper ul li a { 
	margin: 0; 
	border-left: 1px solid #e7e7e7; 
	border-right: 1px solid #e7e7e7; 
	position: relative; 
	z-index: 10; 
	transition: all 0.3s ease 0s; 
	margin-left: -1px; 
}
#indexPage #mpartner .wrapper ul li a:hover { 
	box-shadow: 0px 14px 40px rgb(214, 224, 255);
	border-color: #fff; 
 }
#indexPage #mpartner .content:after { 
	content: ''; 
	width: 100%; 
	position: absolute; 
	top: 63.8%; 
	left: 0; 
}
#indexPage #mpartner .bx-wrapper .bx-controls-direction a i { 
	display: none; 
}
#indexPage #mpartner .wrapper .bx-wrapper .bx-prev { 
	left: inherit; 
	right: 0px; background: url("../images/arrow-img001.png")/*tpa=http://jintaovip.com/skin/images/arrow-img001.png*/ no-repeat 0px 0px; 
	margin-top: -86px; 
	background-color: #868686;
	z-index: 2; 
}
#indexPage #mpartner .wrapper .bx-wrapper .bx-next { 
	right: 0px; 
	background: url("../images/arrow-img001.png")/*tpa=http://jintaovip.com/skin/images/arrow-img001.png*/ no-repeat -60px 0px; 
	margin-top: -27px;
	background-color: #868686; 
	border-top: 1px solid #ccc;
}
#indexPage #mpartner .bx-wrapper .bx-controls-direction .bx-prev:hover { 
	background: url("../images/arrow-img001.png")/*tpa=http://jintaovip.com/skin/images/arrow-img001.png*/ no-repeat 0px -60px; 
	background-color: #FF7900; 
}
#indexPage #mpartner .bx-wrapper .bx-controls-direction .bx-next:hover { 
	background: url("../images/arrow-img001.png")/*tpa=http://jintaovip.com/skin/images/arrow-img001.png*/ no-repeat -60px -60px; 
	background-color: #FF7900; 
}
#indexPage #mpartner .bx-wrapper .bx-controls-direction a { 
	width: 60px; 
	height:60px; 
	border-radius: 0; 
}
#mpartner .content:after { 
	content: ''; 
	width: 100%; 
	position: absolute; 
	top: 68.5%; 
	left: 0px; 
}
#indexPage #mpartner a.more i, #indexPage #mpartner a.more i{ 
	font-size: 16px; 
}
#mpartner .bx-wrapper .bx-pager.bx-default-pager a { 
	width: 8px; 
	height: 8px; 
	background: rgba(255,255,255,0.4); 
	border-radius: 0px; 
	margin: 10px 0; 
	border: none; 
}
#indexPage #mpartner .wrapper .bx-wrapper .bx-pager { 
	display: block; 
	width: 8px; 
	top: 35px; 
	bottom: inherit; 
	right: 280px; 
}
#mpartner .bx-wrapper .bx-pager.bx-default-pager .active, #mpartner .bx-wrapper .bx-pager.bx-default-pager a:hover { 
	background: rgba(255,255,255,1) 
}
#mpartner .bx-wrapper .bx-pager { 
	bottom: 0px; 
	top: 120px; 
}
#indexPage #mpartner .bx-wrapper .bx-controls-direction { 
	display: block; 
}
#indexPage #mpartner .bx-wrapper .bx-controls-direction a { 
	display: block; 
}
#indexPage #mpartner .wrapper ul li a:hover { 
	background: #fff; 
	z-index: 20 
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    outline: 0;
    width: 40px;
    height: 40px;
    z-index: 2;
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    transition: all ease-out .3s;
}
/**************** News **************/
#news{
	clear:both;
	max-width:1200px;
	margin:0 auto;
}
#news-content{
	width:48%;
	float:left;
}
.newstitem{
	padding:15px 0px;
	display: inline-block;
	width:100%;
}
.newsbody{
	width:410px;
	float:left;
}
.newsdate{
	float:right;
}
.newsbody .title{
	color:#000000;
	font-size:16px;
}
.newsbody .description{
	color:#4d4d4d;
	font-family:SimSun;
	padding:5px 0px;
	line-height:25px;
}
.newsdate{
	color:#000000;
	font-weight:bold;
}
.newmore a{
	width:15%;
	padding:8px 0px;
	border:2px solid #FF7900;
	border-radius:25px;
	font-size:24px;
	font-family:Arial;
	clear:both;
	margin-top: 70px;
    display: inline-block;
}
p.newmore a:hover{
	background:#FF7900;
	color:#ffffff
}
.newmore a{
	color:#FF7900;
}
#newslist .newstitem{ 
	width:100%; 
	transition:all ease-out .2s; 
	position:relative;
}
#newslist .newscontent{ 
	width:100%; 
	margin:0px auto; 
	display:block; 
	position:relative; 
	z-index:1 
}
#newslist .newsinfo{ 
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	width: 100%;
}
#newslist .newstitem:hover i{ 
	font-size:36px; 
	margin-top:20px; 
	color:#fff; 
	text-indent:0px;
}
#newslist .newstitem:hover .newsinfo{ 
	transform:translate3d(-50px,0,0);
	-webkit-transform:translate3d(-50px,0,0);
	-moz-transform:translate3d(-50px,0,0);
}
.new-image{
	height:316px;
	overflow:hidden;
}
.idbrowsernews #newslist .newstitem:hover .newsinfo{ 
	transform:translate3d(0px,0,0);
	-webkit-transform:translate3d(0px,0,0);
	-moz-transform:translate3d(0px,0,0);
}
#newslist .newstitem:hover p,#newslist .newstitem:hover a{ 
	color:#fff
}
.idbrowsernews #newslist .newstitem:hover{ 
	margin-left:0px;
	padding-left:0px;
	padding:15px 10px;
}
#newslist .newstitem:hover{ 
	background:#FF7900;
	margin-left:-60px;
	padding-left:80px;
}
p.newmore{
	width: 100%;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}
/********** Footer *************/
#footer{
	background:url("../images/footerbg.jpg")/*tpa=http://jintaovip.com/skin/images/footerbg.jpg*/ no-repeat;
	width:100%;
	clear:both;
	background-size: 100%100%;
	margin-top: 90px;
    display: inline-block;
	padding-bottom:90px;
}
#foot{
	max-width:1200px;
	margin:0 auto;
	padding-top: 35px;
}
#contact .cont-us{
	text-align:center;
}
#contact .guarantee{
	text-align:center;
	color:#808080;
	font-size:16px;
	padding-top:30px;
}
.company{
	margin-top:85px;
	padding:0 70px;
}
.company .contact-us{
	float:left;
	margin-top:65px;
}
.map{
	float:right;
}
.company .contact-us h2{
	color:#ffffff;
	font-size:24px;
	padding-bottom: 15px;
}
.company .contact-us p{
	color:#808080;
	font-size:16px;
	line-height:30px;
}
#bottom{
	background:#000;
	display:inline-block;
	width:100%;
	padding-bottom: 55px;
}
.bottom-border{
	width:100%;
	border-bottom: 1px solid #333;
}
#bootom-menu{
	max-width:1200px;
    margin: 0px auto; 
    height: 160px;
    line-height: 160px;
}
#bootom-menu .bootom-logo{
	float:left;
	width: 20%;
	padding-top: 50px;
}
#bootom-menu .nav{
	width: 62%;
	float:left;
}
#bootom-menu .nav ul li a{
	float:left;
	padding:0px 13px;
	color:#ffffff;
	font-size:16px;
}
#bootom-menu .social{
	width: 15%;
    float: left;
    text-align: right;
	color:#ffffff;
	font-size:16px;
}
#bootom-menu .social img{
	vertical-align: text-bottom;
}
#bott{
	max-width:1200px;
	margin:0px auto;
	padding-top:55px;
}
#bott p{
	width: 26%;
	color:#808080;
	line-height:30px;
	float:left;	
}
#bott .con{
	float:left;
	margin-left: 145px;
}
#bott .con li {
	float:left;
	margin:0 45px;
}
#bott .con li span{
	display: block;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}
#bott .tel{
	width: 20%;
    float: right;
    color: #ffffff;
    text-align: right;
}
#bott .tel span{
	display:block;
}
#bott .tel span.phone{
	color:#808080;
	font-size:16px;
}
#bott .tel span.number{
	font-size:28px;
}
#bott .tel span.china{	
	color:#808080;
	font-size:16px;
	vertical-align:middle;
}
#bott .tel span.china span{
	position: relative;
    top: -8px;
    display: inline-block;	
}
/*************** Success Case List ******************/
#design{
	width:100%;
	margin-top:55px;	
}
#design .design-desc{
	max-width:1200px;
	margin:0 auto;
	text-align:center;
}
#design .design-desction{
	width:66%;
	font-size:16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:0 auto;
	margin-top:40px;
	line-height: 30px;
	color:#4c4c4c;
}
.page_links a{
	color:#333;
	padding:0px 5px;
}
.page_links a.current{
	color:#FF7900;	
}
#classify{
	max-width:1200px;
	margin:0px auto;
	margin-top: 45px;
	margin-bottom: 50px;
	overflow: hidden;
}
#classify ul.design-sort{
	text-align: center;
    margin: 0 auto;
}
#classify ul li{
	margin-right:25px;
    float: left;
    position: relative;
    line-height: 70px;
}
#classify ul li a{
	font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4c4c4c;
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    padding: 10px 20px;
}
#classify ul li.current a{
	color:#ffffff;
	border:none;
	background:#FF7900;
}


#design .design-list{
	max-width:1200px;
	margin:0px auto;
	clear:both;
}
.design-list ul li{
	float:left;
	margin: 0px 0px 40px 0.8%;
	width:32.5%;
}
#design .shopname{
	margin-top: 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
	height: 43px;
}
#design .shopname a span{
    font-size: 14px;
	-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
	color:#333333;
}
#design .shopname p{
	margin-top: 5px;
    color: #8c8c8c;
    font-size: 12px;
	-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
#design .projectitem{ 
	width:100%; 
	height:auto; 
	float:left; 
	position:relative; 
}
#design .projectitem a{ 
	display:block; 
	overflow:hidden
}
#design .projectitem a:hover img{ 
	transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2); 
	-webkit-transform:scale(1.2,1.2); 
	-o-transform:scale(1.2,1.2); 
}
#design .projectitem .project_info{ 
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0); 
	position:absolute; 
	left:0; 
	top:0; 
	transition:all ease-out .3s;
}
#design .projectitem a:hover .project_info{
	background:#FF7900;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;opacity: 0.9
}
#design .projectitem .project_info p{ 
	text-align:center; 
	color:#fff; 
	padding:0 20px
}
#design .projectitem .project_info div{ 
	position:relative;
	top:36%; 
	margin-top:-15px
}
#design .projectitem .project_info p.title,#design .projectitem .project_info .detail{
	margin-top:10px; color:rgba(0,0,0,0); 
	font-size:12px; 
	transition:all ease-out .3s;
	font-size:20px; 
	display:none;
    font-size: 12px;
}
#design .projectitem a:hover .project_info p.title,#design .projectitem a:hover .project_info .detail{
	margin-top:0px; 
	color:#fff;
	display:block;
}
#design .project_info .detail span{
	display:block;
}
#design .project_info .detail{
	color:#fff;
}
#design .projectitem a:hover .project_info .detail{
	width:100px;
	padding-top:25px;
	text-align:center;
	position:relative;
	top:35%; 
	left:145px;
	font-size:14px;
}
/************ Operation ************/
#successcase_desctions{
	width:100%;
	background:#fff;
	margin-top:80px;
}
.success_content{
	max-width:1200px;
	margin:0 auto;
	text-align:center;
}
.success_content h2{
	font-size:30px;
	font-weight:normal;
	color:#4d4d4d;
}
.success_title span img{
	padding-top:5px;
}
.success_data{
	font-size:18px;
	color:#FF7900;
	margin-top:30px;
}
.success_data span img{
	padding-top: 5px
}
.case_images{
	max-width:1200px;
	margin:0 auto;
	position:relative;
	margin-top:40px;
}
.case_images .bg{
	position:absolute;
	top:25.7%;
	right:0px;
}
.casebackground{
	max-width:1200px;
	margin:0 auto;
	text-align:center;
	margin-top:100px;
}
.casebackground div{
	line-height: 35px;
    font-size: 16px;
    margin-top: 40px;
	color: #404040;
}
#takebefore{
	width:100%;
	margin-top:100px;
	position:relative;
}
#takebefore .beforebg{
	background:#FF7900;
	width:100%;
	height:250px;
	position: absolute;
    top: 47%;
}
.beforetitle,.before_images{
	max-width:1200px;
	margin:0 auto;
	text-align:center;
	position: relative;
}
#takebefore p,#takeover p{
	text-align:center;
	color:#c3c3c3;
	margin:30px auto;
	width:83%;
	line-height:25px;
}
#takeover{
	max-width:1200px;
	padding-top:90px;
	text-align:center;
	margin: 0px auto;
}
#takeover .beforetitle span{
	display:block;
	color:#666666;
	margin-top:5px;
}
#question{
	width:100%;
	background:#fafafa;
	display:inline-block;
	margin-top:120px;
}
.question_content{
	max-width:1200px;
	margin:0px auto;
	padding-top:60px;
}
.question_content p{
	text-align:center;
	padding-bottom:60px;
}
#question .leftquestion{
	width:50%;
	float:left;
}
#question .rightquestion{
	width:48%;
	float:left;
	margin-left:2%;
}
#question .rightquestion  p{
	float:right;
	width:100%;
}
#question .rightquestion  p img{
	padding:10px  0px 0px 55px;
}
.rightquestion ul li{
	color:#fff;
	background:#FF7900;
	border-radius:30px;
	padding:7px 20px;
	margin-bottom: 35px;
	display: table;
}
.rightquestion ul li span.querstonsort{
	font-size:20px;
	color:#fff;
	padding: 0px 10px 0px 10px;
}
.rightquestion ul li span.que{
	position:relative;
	top: -2px;
}
.rightquestion ul{
	padding-top: 15px;
    clear: both;
}
#question .strategy{
	clear:both;
	padding-top:105px;
	text-align:center;
}
.strategy ul.point{
	padding:60px 0px 20px 0px;
	display: inline-block;
}
.strategy ul li.point_list{
	background: url("../images/round.png")/*tpa=http://jintaovip.com/skin/images/round.png*/ no-repeat 48% 0px;
    width: 190px;
    padding-bottom: 55px;
    padding-top: 30px;
}
.strategy ul li{
	float:left;
}	
.strategy ul.point li img{
	padding-top:45px;
}
.strategy ul.point li span{
	font-family:Arial;
	font-weight:bold;
	color:#FF7900;
	font-size:43px;
}
.strategy ul.point li span.point_desction{
	font-size:14px;
	font-weight:normal;
	display:block;
	color:#7a7a7a;
	margin-top:60px;

}
#classicontent{
	width:100%;
	margin-top:90px;
}
#classicontent .classic{
	max-width:1200px;
	margin:0 auto;
	text-align:center;
}
.theme{
	padding-top:50px;
}
.lefttheme{
	width:36%;
	float:left;
	position:relative;
}
.absoimg img{
	position: absolute;
    top: 10%;
    right: -60%;
}
.absoimg span{
    font-size: 20px;
    position: absolute;
    right: 0px;
    color: #ffffff;
    left: 50%;
    width: 100%;
    font-size: 16px;
}
.righttheme {
	float:right;
	width:64%
}
.righttheme .year{
	clear:both;
	padding-top:30px;
}
.righttheme .year .imagesa {
	width:20%;
}
.righttheme .year ul {
	text-align:left;
	width:80%;
}
.righttheme .year ul li{
	color:#515151;
	padding-bottom:15px;
	line-height:30px;
	background:url("../images/quire.png")/*tpa=http://jintaovip.com/skin/images/quire.png*/ no-repeat 0 30%;
	padding-left:15px;	
}
.status{
	padding-top:70px;
	clear:both;
}
.status .store{
	width:48%;
}
.status .store img{
	float:left;
	width:65px;
}
.status .store div{
	float:left;
	margin:20px 0px 0px 50px;
	width:400px;
}
.status .store p.storechina{
	text-align:left;
	font-size:16px;
	color:#FF7900;
	line-height:25px;
	border-bottom:2px solid #fee6ed;
	padding-bottom:25px;
}
.status .store p.storeenglish{
	padding-top:25px;
	color:#fed1dd;
	font-size:12px;
	font-family:Arial;
	text-align:left;
	text-transform : uppercase;
	line-height:18px;
}
.locatit{
	max-width:1200px;
	margin:0 auto;
	margin-top:25px;
	border-bottom: 2px solid #eaeaea;
    padding-bottom: 20px;
}
.locatit div{
	font-size:16px;
	color:#282828;
}
.locatit div a{
	font-size:16px;
	color:#282828;
}
.locatit div img{
	padding:0px 5px;
}
.locatit div span{
	color:#FF7900;
}
#contact,#culture{
	max-width:1200px;
	margin:0px auto;
	margin-top:65px;
	font-size:16px;
}
.contact_menu{
	text-align: center;
    display: inline-block;
    width: 1200px;
}
.contact_menu li{
	display: inline-block;
}
.contact_menu li img{
	margin-top:-5px;
}
.contact_menu li.first{
	background:none;
}
.contact_menu li a{	
	font-size:18px;
	color:#282828;	
	padding:20px 34px;
}	
.contact_menu li a:hover{
	background:url("../images/tag.png")/*tpa=http://jintaovip.com/skin/images/tag.png*/ no-repeat;
	background-position:center 50px;
	color:#FF7900;
}	
.contact_menu li.selected a{
	background:url("../images/tag.png")/*tpa=http://jintaovip.com/skin/images/tag.png*/ no-repeat;
	background-position:center 50px;
	color:#FF7900;
}
#contact .map{
	margin-top:50px;
}
#contact .contact_content{
	clear:both;	
}
#contact .contact_content h2,.situation-title h2{
	font-size:32px;
	color:#282828;
	font-weight:normal;
	padding:40px 0px;
}
.page{
	max-width:1200px;
	overflow:hidden;
}
.page img{
	padding:50px 0px;
}
.page .coreteam img{
	padding:20px 23px;
}
.contact_content li{
	width:50%;
	float:left;
	font-size:16px;
	color:#282828;
	padding-bottom:5px;
}
.contact-op{
	margin-top: 30px;
    display: inline-block;
}
.contact-op div{
	margin:30px 0px;
}
.contact-op div h5{
	font-size:16px;
	margin-bottom:10px;
}
.contact-op div span{
	color:#FF7900;
}
.contact_content li img{
	position:relative;
	top:10px;
}
.contact_content .lxform li{
	width:100%;
	padding: 10px 0px;
}
.lxform{
	padding-top:40px;
	clear:both;
}
.lxform form ul li input,.lxform form ul li textarea{
	width:94.6%;
	padding:20px 30px;
	border:2px solid #e5e5e5;
	outline:none;
	color:#999999;
}
.lxform form ul li input.asbtn{
	width:255px;
	background:#FF7900;
	color:#fff;
	border:none;
	border-radius:8px;
	display:block;
	margin:0 auto;
	font-size:16px;
}
.cult h2{
	padding:100px 0px 50px 0px;
	font-size:32px;
	color:#282828;
	font-weight:normal;
}
.cult p{
	padding-bottom:30px;	
	line-height: 30px;
    font-size: 16px;
    color: #333333;	
}
.cult p{
	padding-left:20px;
}
.culture_content div.con{
	line-height:30px;
	font-size:16px;
	color:#333333;
}
.situation{
	margin-top:65px;
}
.situation h3{
	color:#FF7900;
	font-weight:normal;
	font-size:18px;
	padding-bottom: 5px;
}
.situation p{
	line-height:30px;
	font-size:16px;
	color:#333333;
	padding-bottom:30px;
}
.college{
	margin-top:20px;
}
.situation_content .situation-title h2{
	padding: 100px 0px 15px 0px;
}
.culture_content .con h2{
	font-size: 18px;
    font-weight: normal;
	color: #FF7900;
}
.situation-title p{
	color:#bdbdbd;
}
.course{
	border-bottom:2px solid #f5f5f5;
	overflow:hidden;
	padding: 50px 0px 20px 0px;
}
.course_data{
	font-family:Arial;
	font-size:66px;
	color:#FF7900;
}
.pd{
	margin-top:100px;
}
.course_achievement{
	width: 84%;
    margin-left: 3.5%;
	position:relative;
}
.course_achievement ul li{
	padding:30px 0px;
	color:#404040;
	font-size:16px;
}
ul li span.course_year{
	color:#ffffff;
	font-size:16px;
	background:#FF7900;
	padding:5px 0px;
	width:155px;
	display: inline-block;
    text-align: center;
    border-radius: 8px;
	margin-right:40px;
	float:left;
}
.course_content{
	line-height:30px;
	display: -webkit-box;
}
.course_images{
	position: absolute;
    right: 0px;
	top:30px;
}
.achievement_four .course_images{
	position: absolute;
    right: 0px;
    top: -70px;
}
.course_two{
	padding-top:20px;
}
.course_achievement_two{
	width: 55%;
    padding-left: 30px;
}
.course_content_two{
	line-height:35px;
}
.course_achievement_three{
	margin-top:20px;
}
.course_achievement_two ul li,.course_achievement_three ul li{
	padding-bottom:45px;
}
.course .achievement_four{
	 margin-left:0px;
	 width:100%;
}
/*************** Join Us ***************************/
.join{
	margin-top:100px;
	display:inline-block;
}
.join h2{
	font-weight:normal;
	color:#333333;
	font-size:30px;
}
.join img{
	padding:60px 0px;
}
.recruit{
	margin:0px 50px;
	margin-top:35px;
}
.recruit ul li{
	padding:15px 0px;
	width:100%;
	border-top: 2px solid #f5f5f5;
}
.recruit ul li:last-child{
	border-bottom: 2px solid #f5f5f5;
}
.join-title{
	position:relative;
	font-size:16px;
	color:#282828;
	background:url("../images/down.png")/*tpa=http://jintaovip.com/skin/images/down.png*/ right no-repeat;
	cursor: pointer;
}
.recruit ul li .current{
	background:url("../images/up.png")/*tpa=http://jintaovip.com/skin/images/up.png*/ right no-repeat;
}
.join-body{
	background:#f5f5f5;
	padding:25px;
	margin-top: 15px;
}
.join-body h4{
	font-size:14px;
	color:#404040;
	font-weight:normal;
	padding-bottom: 5px;
}
.qualifications{
	padding-top:5px;
}
.join-body .phone{
	font-size: 14px;
    color: #888888;
    padding: 8px 0px;
}
.join-body .phone div{
	
    padding: 4px 0px;
}
.join-body p{
	font-size:14px;
	color:#888888;
	padding:8px 0px;
}
/*********************** News List *****************/
#business-school{
	max-width:1200px;
	margin:0px auto;
	text-align:center;
}
.news-list{
	margin-top:60px;
	display: table;
}
.news-list ul li{
	width:275px;
	float:left;
	color:#666666;
	padding: 35px 30px;
	margin: 0px 32px;
}
.news-list ul li span a{
	color:#bfbfbf;
}
.news-list ul li:hover{
	background:#FF7900;
	color:#fff;
}
.news-list ul li:hover span{
	border: 2px solid #fff;

}
.news-list ul li:hover span a{
	color:#fff;

}
.news-list ul li.cur{
	background:#FF7900;
	color:#fff;
}
.news-list ul li.cur span{
	 border: 2px solid #fff;
}
.news-list ul li.cur span a{
	color:#ffffff;
}
.news-list ul li h3{
	font-size:18px;
	font-weight:normal;
	padding:30px 0px;
}
.news-list ul li p{
	line-height:25px;
	padding-bottom:25px;
}
.news-list ul li span{
    font-size: 16px;
    padding: 6px 50px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 15px;
}
.every-news-list{
	clear:both;
}
.public_class{
	width:50%;
}
.every-news-list{
	max-width:1200px;
	margin:0px auto;
	text-align:center;
	padding-top:80px;
}
.every-news-list img{
	padding-bottom:55px;
}
.library-desction{
	color:#666666;
	padding:0px 75px;
	line-height:25px;
}
.public_images img{
	padding-top:20px;
}
.library-list{
	padding-top:35px;
}
.library-list ul{
	margin-right: -140px;
}
.library-list ul li{
    width: 510px;
    padding: 10px 0px 10px 20px;
    margin: 15px 0px;
    float: left;
    margin-right: 140px;
}
.library-list ul li:hover{
	background:#FF7900;
	color:#ffffff;
}
.library-list ul li:hover span.title{	
	color:#ffffff;
}
.library-list ul li:hover p{
	color:#ffefe5;
}
.library-list ul li span.title{
	font-size:18px;
	color:#FF7900;
}
.library-list ul p{
	width: 100%;
    color: #666666;
    clear: both;
    text-align: left;
	padding-top: 5px;
}
.library-data{
	padding-right: 7%;
}
/***************/
.title-images img{
	margin-top:85px;
}
.circle-desction{
	color: #666666;
    padding: 0px 75px;
    line-height: 25px;
	padding-top:40px;
}
.circle-list ul li{
	padding:30px 0px;
	border-bottom:2px solid #f4f4f4;
}
.circle-list .title{
	font-size:18px;
	color:#FF7900;
}
.circle-list span.data img{
	position: relative;
    top: 4px;
    padding-right: 5px;
}
.circle-list p{
	width: 100%;
    color: #999999;
    clear: both;
    text-align: left;
}
.new-show-images{
	margin-top:20px;
}
.circle-list .more{
	padding-top: 20px;
    display: block;
    text-align: right;
	clear: both;	
}
/****************** Kudos ************************/
.circle-menu {
    clear: both;
    padding-top: 40px;
    text-align: center;
}
.circle-list{
	margin-top:35px;
}
.circle-menu ul{
	display: inline-block;
}
.circle-menu ul li{
	float:left;	
}
.circle-menu ul li a{
	padding:30px 70px;
	font-size:20px;
	color:#282828;	
}
.circle-menu ul li img{
	margin-top:-5px;	
}
.library-short{
	line-height:25px;
	text-align:left;
	color:#6c6c6c;
	margin-top:25px;
}
.circle-menu li.selected a {
	background: url("../images/tag.png")/*tpa=http://jintaovip.com/skin/images/tag.png*/ no-repeat;
    background-position: 46px 60px;
    color: #FF7900;
}
.circle-menu li a:hover {
	background: url("../images/tag.png")/*tpa=http://jintaovip.com/skin/images/tag.png*/ no-repeat;
    background-position: 46px 60px;
    color: #FF7900;
}
/****************** See You Friday *********************/
.fridays-menu {
    clear: both;
    padding-top: 40px;
    text-align: center;
}
.circle-list,.news-media{
	margin-top:35px;
}
.fridays-menu ul{
	display: inline-block;
}
.fridays-menu ul li{
	float:left;	
}
.fridays-menu ul li a{
	padding:30px 70px;
	font-size:18px;
	color:#282828;	
}
.fridays-menu ul li img{
	margin-top:-5px;	
}
.library-short{
	line-height:25px;
	text-align:left;
	color:#6c6c6c;
	margin-top:25px;
}
.fridays-menu li.selected a {
	background: url("../images/tag.png")/*tpa=http://jintaovip.com/skin/images/tag.png*/ no-repeat;
    background-position: center 60px;
    color: #FF7900;
}
.fridays-menu li a:hover {
	background: url("../images/tag.png")/*tpa=http://jintaovip.com/skin/images/tag.png*/ no-repeat;
    background-position: center 60px;
    color: #FF7900;
}
/******************** School Of Business ******************/
.circle-list .fridays-short ul li{
	float:left;
	margin-right:55px;
	color:#6c6c6c;
	border: none;
}
.circle-list .fridays-short ul li span{
	background: url("../images/rounds.png")/*tpa=http://jintaovip.com/skin/images/rounds.png*/ no-repeat;
    width: 20px;
    height: 20px;
    color: #fff;
	margin-right: 5px;
	line-height: 21px;
	display: inline-block;
}
#fridays-view{
	max-width:1200px;
	margin:0px auto;
	clear:both;
	text-align:center;
	border-bottom:2px solid #f4f4f4;
	padding-bottom:80px;
	padding-top: 70px;
}
#fridays-view .new-title h1{
	font-weight:normal;
	font-size:26px;
	color:#FF7900;	
}
#fridays-view .new-title p{
	color:#999999;
}
#fridays-view .public_data{
	margin-top:35px;
}

#fridays-view .public_data img{
	position: relative;
    top: 4px;
    padding-right: 5px;
}
#fridays-view .new-desction{
	margin-top:30px;
}
.new-desction .desction{
	font-size:14px;
	line-height:30px;
	text-align:left;
	color:#666;
}
.new-desction .desction img{
	margin: 0 auto;
}
.cate{
	font-size:16px;
}
.cate span.categories{
	font-size: 14px;
    border: 1px solid #ebebeb;
    background: #ebebeb;
    padding: 2px 5px;
    margin-left: 10px;
}
#commentaries{
	max-width:1200px;
	margin:0px auto;
	margin-top: 30px;
}
.revert{
	margin-bottom:20px;
	display:inline-block;
}
.people-img{
	width:100px;
}
.revert-content {
	width:1100px;
}
.revert-name,.reole span{
	font-size:14px;
	font-weight: bold;
	padding-bottom: 10px;	
}
.revert-desction img{
	margin-left:25px;
}
.reole{
	background: #f4f4f4;
    width: 1060px;
    padding: 20px;
    border-radius: 8px
}
.reole div{
	margin-top:10px;
}
#from{
	clear:both;
	width:100%;
}
#from ul li label{
	display:block;
	font-size:16px;
	padding-bottom: 5px;
}
#from ul li label font{
	color:#FF7900;
	position: relative;
    top: 3px;
}
#from form ul li input, #from form ul li textarea {
    width: 94.6%;
    font-size: 14px;
    color: #464646;
    padding: 20px 30px;
    border: 2px solid #e5e5e5;
    outline: none;
	font-family: "Microsoft YaHei" ! important;
}
#from form ul li{
	margin:15px 0px;
}
#from form ul li input.asbtn {
    width: 255px;
    background: #FF7900;
    color: #fff;
    border: none;
	font-size:18px;
    display: block;
}
#design-view{
	width:100%;
	display:inline-block;
}
.design_view-bg{
	width: 100%;
    background: #FF7900;
    height: 340px;
    position: absolute;
    top: 31.6%;
}
#design-content{
	max-width:1200px;
	margin:0px auto;
	margin-top:30px;
}
.design-image{
	width:750px;
}
.design-good{
	margin-left:35px;
	width: 415px; 
	height: 600px; 
	background-color: rgb(255, 255, 255); 
	position: absolute; 
	top: 0px; 
	left: 62.5%;
}
.design-good img{
	margin:10px 0px 40px 0px;
}
.design-title{
	border-bottom:2px solid #f3f3f3;
	padding-bottom:25px;
}
.design-title h2{
	font-size:20px;
	font-weight:normal;
	color:#FF7900
}
.design-title span{
	font-size:12px;
	font-weight:normal;
	font-family: Arial;
	color:#999999;
}
.desc-short{
	padding:15px 0px;
	font-size:16px;	
}
.desc-short p{
	line-height:30px;
}
.case-information{
	padding-top:15px;
	font-size:16px;
	border-bottom: 2px solid #f3f3f3;
    padding-bottom: 15px;
}
.case-information ul li{
	padding:10px 0px;
}
.case-information ul li label{
	width: 80px;
    display: inline-block;
}
.error{
	padding-top:20px;
	clear:both;
}
.success{
	text-align: center;
    font-size: 18px;
    padding-top: 50px;
    clear: both;
    color: #FF7900;
}
.error_msg{
	color:#FF7900;
	line-height:35px;
}
.social a,.contact-us a,.contact_content a{
	position:relative; 
	font-size:12px; 
	text-align:center;
}
.weixin_nr{
	width:100px; 
	height:100px; 
	padding:10px; 
	background:#fff; 
	text-align:center; 
	position:absolute; 
	left:-45px; 
	top:45px; 
	display:none;
}
.weixin_nr img{ 
	margin-bottom:5px;
}
.weixin_nr .arrow{ 
	width:0; 
	height:0; 
	border-bottom:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent; 
	position:absolute; 
	left:50px; 
	top:-10px;
}
.on .weixin_nr{ 
	display:block;
}
.contact_content .weixin_nr{
	width: 100px;
    height: 100px;
    padding: 10px;
    background: #fff;
    text-align: center;
    position: absolute;
    left: 45px;
    top: -50px;
    display: none;
}
.contact_content .on .weixin_nr{ 
	display:block;
}
#friendly_link{
	max-width: 1200px;
    clear: both;
    color: #808080;
    margin: 0px auto;
    font-size: 16px;
    margin-top: 20px;
    padding-top: 20px;
}
#friendly_link span{
	float: left;
    padding-top: 5px;
}
#friendly_link ul li{
	float:left;
	margin:0px 10px;
}
#outsourcing{
	max-width:1200px;
	margin:0px auto;
	background: #f5f5f5;;
}
.outsourcing_content{
	max-width:990px;
	margin:0px auto;
	padding:20px 0px;
}
.bottom-footer{
	max-width: 1200px;
    margin: 0px auto;
    clear: both;
    color: #fff;
    padding-top: 40px;
}
.bottom-footer a{
	color: #fff;
}
.content_list li{
	 float: left; 
	 max-width: 1025px;    
	 padding-left: 30px
}
.bx-viewport{
	position: relative; 
	height: 329px; 
	max-width: 1084px;
	overflow:hidden;
}
.bx-viewport ul{
	position: absolute; 
	top:0px; 
	left: 0px;
}
.sort-list{
	background:#fff;
	border:1px solid #eee;
}
.sort {
	height: auto;
	z-index: 20;
	position: fixed;
	right: 16px;
	top: 150px;

}
.list1{
	display:none;	
	position:absolute;
	width: 200px;
	left: -200px;
	top: 0px;
	background:#f5f5f5;
	overflow: hidden;	
}
.sort-list ul li{
	position:relative;
	display:block;
	padding: 10px 5px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.sort-list ul li:last-child{	
	border-bottom:none;
}
.sort-list ul li span{
	display:block;
	color:#4d4d4d;
}
.sort-list ul li a:hover span{
	color:#FF7900;
}
.sort-list ul li ul li{
	border-bottom: 1px solid #eee;	
	text-align:left;
	padding-left:12px;
	width:100%;
	padding: 8px;
}
.sort-list ul li ul li a{
	font-size:12px;
	color:#4d4d4d;
}
.sort-list ul li ul li a font{
	padding-left:10px;
	color:#FF7900;
	position: relative;
    top: 2px;
}
.phe{
	padding-right: 20px;margin-top: 12px;padding-left: 12px;
}
.sort-list ul li ul.weixin li{
	float:left;
	width:40%;
}
.sort .sort-list li.top a {
    display: block;
    cursor: pointer;
}
.sort .sort-list li a.sort-list-6 {
    background-position: -1308px -593px;
    width: 47px;
    height: 20px;
}
.sort .sort-list li a.sort-list-6:hover {
	background-position:-1308px -271px;
}
#header .content { margin: 0 auto; height: 100%; width:80%;position:relative; }
#header .content a#logo { float: left; display: block; height: 44px }
#header .content a#logo img { padding-left: 0px; width: auto; height: 100% }
#header .content #openBtn { float: right; display: none; margin-top: 7px; margin-right: 0; cursor: pointer }
#header .nav>li { position: relative; height: 48px; font-size: 14px ;line-height:48px;}
#header .nav>li>a { position: relative; display: block; overflow: hidden; padding-left: 34px;line-height: 48px;height:48px;color:#282828;font-weight: 500;}
#header .nav>li>a span { position: relative; display: inline-block; transition: all ease-out .3s;color:#282828; }
#header .nav>li>a span:after { position: absolute; left: 0; width: 100%; color:#FF7900;content: attr(data-title); transform: translateY(100%) }
#header .nav>li>a>i { margin-left: 10px }
#header .nav .subnav { position: absolute; top: 100%; left: 0; z-index: 999; visibility: hidden; overflow: hidden; width: 150px; height: auto; border-top: 2px solid #FF7900; background-color: #fff; box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05); opacity: 0; transition: all .36s ease }
#header .nav ul.subnas{width:185px;}
#header .nav ul.subnanews{width:170px;}
#header .nav .navitem:last-child .subnav { right: 0; left: auto }
#header .nav .subnav li { width: 100% }
#header .nav .subnav li a { display: block; padding: 9pt 24px; padding-left:40px;color: #666; font-weight: 500; font-size: 14px; line-height: 22px; transition: all .2s ease-in-out }
#header .nav>li:hover .subnav { visibility: visible; opacity: 1 }
#header .nav>li a.active span, #header .nav>li:hover a span { transform: translateY(-100%) }
#header .nav>li a.active i, #header .nav>li:hover a i { color:#FF7900; }
#header .nav .subnav li a.active, #header .nav .subnav li a:hover { padding-left: 40; background-color: #f9f9f9; color:#FF7900; }
.nibox {
    margin: 100px auto 0;
    width: 100%;
}
#browser-lt11 #header .nav>li>a span:after{
	top:100%;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
#contactform ul li label{
	padding-bottom:5px;
	display: block;
}
#contactform ul li label font{
	padding-left: 2px;
    color: #FF7900;
    position: relative;
    top: 3px;
}
.data{
	width:110px;
}
#classify ul li ul li a.all{
	color:#FF7900;
}
/********************** Update Time: 2017-09-15 ********/
.electrical_success_case{
	background:#fafafa;
	height:90px;
	overflow: hidden;
	max-width:1200px;
	margin:0px auto;
	margin-top: -45px;
    position: relative;
}
.electrical_success_case ul li{
	float:left;
	padding: 18px 27.5px;
    border-right: 2px solid #ededed;
	cursor: pointer;
}
.electrical_success_case ul li:last-child{
	border-right:none;
}
.electrical_success_case ul li.select{
	background: #FF7900;
    padding: 25px 10px;
}
.electrical_success_case ul li:hover{
	background:#fff;
	transition: all 0.5s ease 0s; 
}
.electrical_success_case ul li.select:hover{
	background:#FF7900;
}
#electrical_seriver,#problem{
	max-width:1200px;
	margin:0px auto;
	margin-top: 80px;
}
#case_show{
	max-width:1200px;
	margin:0px auto;
}
.electrical_list{
	width:69%;
}
.electrical_list ul{
	margin-right:-40px;
}
.electrical_list ul li{
	float:left;
	margin:0px 40px 40px 0px;
	width:393px;
	height:228px;
	overflow:hidden;
}
.electrical_detail{
	width:31%;
	text-align: right;
}
.tiptop{
	border-top:2px solid #ededed;
	width: 80%;
    float: right;
}
.electrical_detail .detail{
	margin-top: 90px;  
}
.electrical_detail .detail p{	
	line-height:20px;
}
.electrical_detail .detail .chinese_detail{
	color:#3c3c3c;
	padding-top:10px;
	line-height: 20px;
}
.electrical_detail .detail .english_detail{
	margin-top:40px;
	color:#cdcdcd;
	font-size:12px;
	line-height: 20px;
	text-transform : uppercase;
	font-family:Arial;
}
.pt img{
	margin-top:25px;
}
#problem h2{	
    font-size: 30px;
    color: #3c3c3c;
    font-weight: normal;
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: left;
    width: 90%;
}
#problem h2 span {
    position: relative;
    top: -20px;
    background: #fff;
    padding-right: 15px;
	font-weight: bold;
	color:#FF7900;
}
#problem span.pro {
    float: right;
    position: relative;
    top: -17px;
    font-size: 20px;
    color: #FF7900;
    font-weight: bold;
}
#problem .problem{
	display: inline-block;
    width: 100%;
	margin-top: 20px;
}
#problem .problem ul{
	margin-right:-100px;
}
#problem .problem ul li{
	width:550px;
	float:left;
	margin:0px 100px 30px 0px;
}
#problem .problem_content{
	color:#3c3c3c;
	margin-top: 15px;
}
#problem .problem_content p{
	margin:40px 0px 15px 0px;
}
/*
#case_show h2{
	font-size: 24px;
	padding: 80px 0px 30px 0px;
	color: #FF7900;
    font-weight: bold;
}
#case_show h3{
	font-weight:bold;
	color: #FF7900;
	margin:15px 0px;
	text-align:center;
	font-size:20px;
}
*/
#electrical_seriver .projectitem{ 
	width:393px; 
	height:auto;  
	position:relative; 
}
#electrical_seriver .projectitem a{ 
	display:block; 
	overflow:hidden
}
#electrical_seriver .projectitem a:hover img{ 
	transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2); 
	-webkit-transform:scale(1.2,1.2); 
	-o-transform:scale(1.2,1.2); 
}
#electrical_seriver .projectitem .project_info{ 
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0; 
	transition:all ease-out .3s;
}
#electrical_seriver .projectitem a:hover .project_info{
	background:#FF7900;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9
}
#electrical_seriver .projectitem .project_info div{ 
	position:relative;
	top:50%; 
	margin-top:-15px;
	text-align:center; 
}
#electrical_seriver .projectitem .project_info p.title{
	margin-top:10px;  
	transition:all ease-out .3s;
	display:none; 
}
#electrical_seriver .projectitem a:hover .project_info p.title{
	margin-top:0px; 
	display:block;
}
/*************** Customer Service Outsourcing ***************/
.customers_problems{
	max-width:1200px;
	margin:0px auto;
	margin-top:-60px;
}
.customers_problems ul li{
	width:20%;
	float:left;
	position:relative;
	overflow: hidden;
    height: 263px;
}
.customers_problems ul li div.problems{
	position:absolute;
    top: 82%;
    width: 100%;
    left: 10%;
}
.customers_problems ul li div{
	position:absolute;
    top: 73%;
    width: 100%;
    left: 7%;
}
.customers_problems .problems{
	font-size:18px;
	color:#ffffff;
}
.customers_problems ul li strong{
	font-size:18px;
	font-weight:bold;
    display:block;
	margin-bottom: 5px;
	color:#3d3d3d;	
}
.customers_problems ul li span{
	color:#919191;
}
.customers_problems ul li.cf strong,.customers_problems ul li.cf span{
	color:#ffffff;
}
#data-speak{
	max-width:1200px;
	margin:0px auto;
	position:relative;
	clear: both;
}
.absolu{
	width: 460px;
    height: 170px;
    background: #FF7900;
    display: inline-block;
    color: #ffffff;
    position: absolute;
    top: 0px;
    left: 60%;
    text-align: right;
    padding-right: 20px;
}
.absolu .title h2{
	font-size:38px;
	font-weight:bold;
	font-family:Arial;
	margin-top: 10px;
}
.absolu .title span{
	font-size:22px;
}
.spacing{
	width:3px;
	height:40px;
	background:#fff;
	text-align: right;
    display: inline-block;
	margin-top: 10px;
}
.headings{
	font-size:18px;
}
.headings span{
	font-weight:bold;
}
#data-speak .data{
	margin-top: 255px;
	width:20%;
	text-align: right;
    border-right: 4px solid #FF7900;
    padding-right: 15px;
}
#data-speak .data p{
	color:#919191;
	line-height:25px;
}
#customization{
	background:url("../images/bgcustomer.jpg")/*tpa=http://jintaovip.com/skin/images/bgcustomer.jpg*/;
	clear: both;
    width: 100%;
	height:220px;
}
#customization .customization-service{
	max-width: 1200px;
    text-align: center;
    margin: 0px auto;
    padding-top: 90px;
    color: #fff;
}
#customization .customization-service h2{
	font-size:30px;
	padding-bottom: 3px;
	font-weight: normal;
}
#customization .customization-service span{
	font-size:12px;
	font-family:Arial;
	text-transform:uppercase;
}
#strengths,.analysis,#service-system{
	max-width:1200px;
	margin:0px auto;	
}
#strengths h2{
	font-size:24px;
	color:#FF7900;
	font-weight:normal;
	padding-bottom:5px;
}
#strengths h2 strong{
	font-size:30px;
}
.str-information{
	margin-bottom:20px;
}
.service-type{
	margin:40px 0px;
}
.str-information span,.analysis span{
	font-size:12px;
	font-family:Arial;
	text-transform:uppercase;
	color:#FF7900;
}
.strengths{
	clear:both;
}
.strengths h3{
	font-size:20px;
	color:#363636;
	font-weight:normal;
}
.strengths h3 strong{
	font-size:30px;
	font-family:Arial;
	position: relative;
    top: 3px;
}
.strengths-first-descrpition{
	margin:30px 0px 0px 50px;
	width: 490px;
}
.strengths-first-img{
	width:657px;
}
.strengths ul li{
	color:#444444;
	margin:20px 0px;
	line-height:22px;
	background:url("../images/square.png")/*tpa=http://jintaovip.com/skin/images/square.png*/ no-repeat;
	background-position: 0px 6px;
    padding-left: 20px;
}
.amount{
	margin-top:150px;
}
.amount ul li{
	background:none;
	float:left;
	width:45%;
	font-size:18px;
	color:#444444;
}
.amount ul li span{
	display:block;
	font-size:40px;
	margin-top:25px;
	font-weight:bold;
	color: #a4a4a4;
}
.amount ul li span.after-color{
	color:#FF7900;
}
.amount ul li span.yuan{
	font-size:20px;
	display: inline-block;
}
.strengths{
	border-bottom:2px solid #e9e9e9;
	padding:40px 0px;
	display: inline-block;
	width: 100%;
}
.strengths:last-child{
	border:none;
}
.outsourcing,.over-customers{
	width:37%;
	float:left;
}
.advantages-compared{
	margin-left:10%;
}
.vs{
	text-align:center;
	font-size:50px;
	font-family:Arial;
	color:#FF7900;
	width:20%;
	float:left;
	margin-top: 80px;
}
.oursource{
	line-height:30px;
	color:#444444;
	margin:15px 0px 0px 15px;
}
.customers-data{
	margin:30px 0px 0px 15px;
	color:#FF7900;
}
.customers-data span{
	padding-right:15px;
}
.strengths ul.strengths-descrpition li{
	float:left;
	margin-right:50px;
}
.strengths .img,.analysis div img{
	display: block;
    margin: 0px auto;
	clear: both;
}
#case-analysis{
	background:#f8f8f8;
	width:100%;
	padding-bottom: 30px;
}
.analysis{
	padding-top:30px;
}
.analysis h2{
	color:#FF7900;
	font-size:30px;
	font-weight:normal;
}
.analysis div h3{
	margin:30px 0px;
	font-size:18px;
	font-weight:normal;
}
.analysis div h3 strong{
	color:#3c3c3c;
}
.talk-data{
	margin-top:70px;
	clear: both;
	display: inline-block;
}
.service-process li{
	float: left;
    margin: 10px 0px;
    width: 20%;
	font-size:12px;
}
#service-system .service-process li span{
	font-size:24px;
	margin-right: 10px;
	position: relative;
    top: 3px;
}
.join-us-list img{
	vertical-align: text-top;
    margin-right: 115px;
    display: inline-block;
}
/************* Update Time: 2017-10-10 ***************/
#brands-content{
	max-width:1200px;
	margin:0px auto;
	text-align:center;
	margin-top:90px;
}
#brands-content h2,#brands-service h2,.advantages-service h2,.brand-cooper h2,.brands-contact h2{
	font-size:30px;
	color:#666666;
	font-weight:normal;
	text-align:center;
}
.profile-descrition{
	color:#666666;
	margin:30px 0px;
	padding: 0px 120px;
	line-height:25px;
}
.development-course,.development-course ul{
	margin-top:80px;
}
.development-course ul{
	background:url("../images/development-history.png")/*tpa=http://jintaovip.com/skin/images/development-history.png*/ no-repeat;	
	height:450px;
	position:relative;
}
.development-course ul li{
	width:22%;
	float:left;
	color:#666666;
	text-align:left;
}
.development-course ul li.course-first{
	position:absolute;
	left:150px;
	top:-25px;
}
.development-course ul li.course-two{
	position:absolute;
	left:0px;
	top:165px;
}
.development-course ul li.course-third{
	position: absolute;
    left: 300px;
    top: 120px;
}
.development-course ul li.course-fourth{
	position: absolute;
    left: 565px;
    top: -25px;
}
.development-course ul li.course-five{
	position: absolute;
    left: 785px;
    top: 160px;
}
.development-course ul li.course-six{
	position: absolute;
    left: 975px;
    top: 30px;
}
.development-course ul li span{
	display: block;
    color: #FF7900;
    padding-bottom: 5px;
}
.our-service,#ascendancy{
	max-width:1200px;
	margin:0px auto;
	margin-top:90px;
}
.accen-list h3,.autobiography h3{
	font-weight:bold;
	font-size:18px;
	color:#666666;
	margin:40px 0px;
}
.service-descrition h3{
	font-weight:bold;
	font-size:18px;
	color:#666666;
	margin:40px 0px 15px 0px;
}
.service-descrition dl{
	float:left;
	width:100%;
	padding: 25px 0px;
    border-bottom: 1px dashed #ccc;
}
.service-descrition dl:last-child{
	border-bottom:none;
}
.service-descrition dt{
	font-weight:bold;
	color:#666666;
	width:26%;
	float:left;
}
.service-descrition dt img{
	vertical-align: middle;
	padding-right:40px;
}
.service-descrition dd{
	line-height: 35px;
	color:#666666;
	float:left;
}
.service-first dd,.service-six dd{
	width: 37%;
}
.service-two dd{
	padding-right: 112px;
}
#brands-service dd.tal{
	padding-right: 0px;
}
.service-third dd{
	padding-right:76px;
}
.service-four dd{
	width:17.5%;
}
.service-five dd{
	padding-right: 65px;
}
#service-bg{
	margin-top: -40px;
    display: inline-block;
    position: relative;
    z-index: -1;
}
.list{
	margin-left:45px;
}
.list dl{
	float:left;
	margin: 10px 60px 0px 0px;
}
.list dt{
	font-weight:bold;
	color:#666666;
}
.list dd{
	margin:10px 0px;
	color:#666666;
}
.autobiography{
	padding-top: 50px;
	position:relative;
}
.autobiography ul li{
	margin-bottom:35px;
	color:#2d2d2d;
}
.autobiography ul li span{
	font-weight:bold;
	color:#FF7900;
	display:block;
	padding-bottom:5px;
}
.personalized{
	position: absolute;
    top: 155px;
    right: 0;
    z-index: -1;
}
.advantages-service{
	margin-top:130px;
}
.advantages-service h2{
	margin-bottom:60px;
}
.success-list{
	margin-left:210px;
}
.success-list ul li{
	color:#383838;
	font-size:18px;
	margin:45px 0px;
}
.success-list strong{
	color:#FF7900;
	font-size:18px;
}
.brand-cooper h2,.brands-contact h2{
	padding:90px 0px 70px 0px;
}
.contact-detial img{
	margin-left:90px;
}
.contact-detial ul{
	margin-left:230px;
}
.contact-detial ul li{
	margin-bottom:15px;
	font-size:16px;
	color:#2d2d2d;
}
.service-text{
	text-align:right;
}
.free-dian{
	font-size: 18px;
    color: #FF7900;
}
/********* Update Time: 2017-11-04 ************/
#personal-customization{
	max-width:1200px;
	margin:0px auto;
	margin-top:60px;
}
.personal-order{
	width:42%;
	margin-top:20px;
}
.personal-order h2{
	border-left: 3px solid #FF7900;
    margin-top: 60px;
    padding-left: 5px;
    font-size: 30px;
    font-weight: normal;
	color:#FF7900;
}
.personal-order div p{
	line-height:25px;
	margin-bottom:10px;
	color: #bcbcbc;
}
#personal-customization ul{
	padding-top:55px;
}	
#personal-customization ul li{
	float:left;
	border-right:2px solid #f6f6f6;
	width:33%;
	text-align:center;
}
#personal-customization ul li span{
	display:block;
	font-size:16px;
	color:#373737;
	margin-top:40px;
}
#design-detail{
	max-width:1200px;
	margin:0px auto;
}
#rate{
	width:100%;
	background:#FF7900;
	display: inline-block;
	margin-top: 60px;
}
#rate-descrition{
	max-width:1200px;
	margin:0px auto;	
}
.hoisting{
	width:48%;
	padding:35px 0px;
}
.hoisting h2{
	font-size:30px;
	font-weight:normal;
	color: #feeff1;
}
.hoisting span{
	font-size:18px;	
	color: #feeff1;
}
.hoisting div{
	margin-top:15px;	
}
.hoisting div p{
	margin:5px 0px;
	color:#fb90a3;
}
#personal-customization ul li.border-none{
	border-right:0px;
}
.learn-more{
	width:52%;
    padding: 35px 0px;
    border-radius: 20px;
	color: #ffffff;
}
.learn-more li{
	margin-bottom:5px;
	list-style:square;
}
#design-detail,.particulars,.design-content{
	margin-top:60px;
	overflow:hidden;
}
.shop-study{
	display:inline-block;
}
.study-title{
	border: 6px solid #FF7900;
    padding: 15px 20px;
	color:#FF7900;
	width: 26%;
}
.study-title h2{
	font-size:36px;
	font-weight:bold;	
}
.study-title span{
	font-size:20px;
}
.study-title h3{
	font-size:18px;
	font-weight:bold;	
}
.study-title  div{
	margin-top:30px;
	text-transform : uppercase
}
.study-title  p{
	font-size:12px;
	color: #ffd1b2;
}
.study-desc{
	width:65%;
	margin-left: 4%;
	margin-top:10px;
}
.study-desc p{
	margin-bottom:10px;
	color:#666666;
}
.study-desc div{
	text-align:right;
	margin-top: 45px;
}
.study-desc div span{
	color: #ffffff;
    background: #FF7900;
    padding: 0px 30px;
    border-radius: 25px;
    font-size: 30px;
}
.study-desc div span.gray{
	background:#cfcfcf;
	color:#ffffff;
	margin-right: 15px;
}
.study-desc div img{
	margin: 0px 20px;
    position: relative;
    top: 9px;
}
.study-desc div p{
	margin-top:10px;
	color:#bcbcbc;
}
.shop-decoration{
	width:34%;
	margin: 40px 0px 0px 35px
}
.shop-decoration h2{
	font-size:24px;
	font-weight:normal;
	color:#FF7900;
}
.shop-decoration strong{
	display:block;
	margin-bottom: 20px;
}
.shop-decoration ul li{
	margin:10px 0px 10px 20px;
	list-style:square;
	color:#FF7900;
}
.shop-decoration ul li span{
	color:#676767;
}
.design-process ul li{
	width:100%;
	overflow: hidden;
	position:relative;
	line-height: 28px;
	margin: 60px 0px;
}
.design-process ul li .step{
	font-size:18px;
    width: 48%;	
}
.design-process .dlist,#problem-encountered .team ul li .media-images,#media-advantage{
	position:relative;	
}
.design-process .dlist ul::before{
	content: '';
    border-right: 2px solid #f4f4f4;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 0px;
}
.design-process ul li .step::after{
	content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #cecece;
    position: absolute;
    border-radius: 50%;
    left: 50.3%;
    margin-left: -8px;
    top: 8px;
    transition: all 0.36s ease;
	background: #fff;
}
.design-process ul li .step span{
	font-size:24px;
	font-family:Arial;
	color: #505054;
	position: relative;
    top: 2px;
}
.design-process ul li .process-introduced{
	width:48%;
}
.design-process ul li:hover .step span,.design-process ul li:hover .process-introduced,.design-process ul li:hover .step{
	color:#FF7900
}
.design-process ul li:hover .step::after{
    border: 2px solid #FF7900;
}
.design-content .other-page h2{
	clear:both;
	font-size:30px;
	font-weight: normal;
	text-align:center;
	color: #FF7900;
}
.design-content .other-page p{
	font-size:12px;
	text-transform: uppercase;
	color:#ffd3b2;
	text-align:center;
}
.design-content ul li{
	display:inline-block;
	margin:0px 5px;
}
.design-content .dlist{
	margin: 30px 0px 60px 0px;
}
.design-content ul li .title{
	background:#f4f4f4;
	text-align: left;
    padding: 5px 0px 5px 25px;
	transition:all ease-out .4s
}
.design-content ul li:hover .title{
	background:#FF7900;
	
}
.design-content ul li:hover .title span{
	background:#FF7900;
	color:#ffffff;
}
.design-content ul li .title span{
	font-size:16px;
	color:#3a3a3a;
}
.design-content ul li:hover .title p{
	color:#ffffff;
	opacity:0.5;
}
.white-line{
	width: 45px;
    height: 2px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
}
.visual-marketing div span.line{
	width: 25px;
    height: 2px;
    background: #FF7900;
    display: inline-block;
    vertical-align: middle;
	margin-right:0px;
}
#benefits{
	background:#f8f8f8;
	width:100%;
	display: inline-block;
}
.design-benefits{
	max-width:1200px;
	margin:0px auto;
}
.design-benefits ul li{
	float:left;
	width:16.6%;
	text-align:center;
	padding: 30px 0px 30px 0px;
}
.design-benefits ul li span{
	display:block;
	margin-top:20px;
	color:#3a3a3a;
	font-size:16px;
}
#design-detail-content{
	max-width:1200px;
	margin:0px auto;
	margin-top: 60px;
}
.visual-marketing h2{
	font-size:24px;
	font-weight:normal;
	color:#FF7900;
	padding-bottom:10px;
}
.visual-marketing p,.design-content ul li .title p{
	color:#bcbcbc;
}
.visual-marketing div{
	margin-top:50px;
}
.visual-marketing div span{
	font-size:18px;
	margin-right: 100px;
}
.visual-marketing div span strong{
	font-size:40px;
	color:#FF7900;
	font-family:Arial;
}
.advantage-choose,.design-process{
	padding-top:60px;
}
.design-case h2,.design-process .title h2{
	color:#FF7900;
	font-size:28px;
	font-weight:normal;
}
#case_show .operation-title .title,#design .operation-title .title,.design-process .operation-title .title{
	border-left: 4px solid #FF7900;
    padding-left: 5px;
	float:left;
}
#case_show .more,#design .more{
	float:right;
	font-size:12px;
	color:#FF7900;
	line-height: 53px;
}
#case_show .operation-title,#design .operation-title{
	overflow: hidden;
    margin:0px 0px  30px 10px;
}
.design-process .operation-title{
	margin:0px 0px  30px 0px;
	overflow:hidden;
}
#case_show .title p,#design .title p,#case_show .more a,#design .more a,.design-process .title p{
	font-size:12px;
	color:#FF7900;
}
.design-case h2 a{
	float:right;
	font-size:14px;
	color:#FF7900;
	font-weight: normal;
	line-height: 45px;
}
/*********** Update Time: 2017-11-07 **************/
#shop-problem{
	max-width:1200px;
	margin:0px auto;
	margin-top:70px;
	overflow:hidden;
}
#shop-problem ul,.precess-diagnosis,.diagnosis-list ul{
	overflow:hidden;
}
#shop-problem ul li{
	float:left;
	width: 16.6%;
	text-align:center;
}
#shop-problem ul li p{
	font-size:16px;
	padding-top:30px;
}
#shop-problem ul li p span{
	font-size:36px;
	color:#3371a8;
	padding-right:5px;
}
.tell-problem{
	margin-top:100px;
}
.all-problem div h2{
	font-weight:normal;
	font-size:30px;
	color:#3371a8;
	padding-top:50px;
}
.all-problem div p.title{
	font-size:18px;
	color:#3371a8;
	padding:5px 0px;
}
.all-problem div p.title span{
	width:45px;
	height:2px;
	background:#3371a8;
	float:left;
	margin: 12px 5px 0px 0px;
}
.all-problem div p{
	font-size:14px;
	text-transform: uppercase;
	color: #bcbcbc;
}
#diagnosis-team,.answering{
	max-width:1200px;
	margin:0px auto;
	margin-top:60px;
	text-align: center;
}
#diagnosis-team h2{
	margin-bottom:20px;
}
#diagnosis-team .precess-diagnosis h2{
	margin-top:60px;
}
#answering-questions{
	width:100%;
	background:#3371a8;
}
#answering-questions h2{
	font-size:30px;
	font-weight:normal;
	color:#ffffff;
}
#answering-questions p{
	font-size:18px;
	color:#7a9cc0;
}
.answering{
	padding:35px 0px;
}
.precess-diagnosis .diagnosis-list{
	width:50%;
	text-align: left;
}
.diagnosis-list ul li .step{
	font-size:48px;
	font-weight:bold;
	color:#3371a8;
	float:left;	
    padding-right: 10px;
	position: relative;
    top: -3px;
}
.diagnosis-list ul li{
	width:100%;
	padding:20px 0px 20px 35px;	
	cursor: pointer;
}
.diagnosis-list ul li .diagnosis-desc span{
	font-size:24px;
	color:#3a3a3a;
}
.diagnosis-list ul li .diagnosis-desc p{
	font-size:18px;
	color: #bcbcbc;
}
.diagnosis-list ul li:hover{
	background:#3371a8;
}
.diagnosis-list ul li:hover .step,.diagnosis-list ul li:hover .diagnosis-desc span,.advantage-hosting ul li:hover span{
	color:#ffffff;
}
.diagnosis-list ul li:hover .diagnosis-desc p{
	color:#5f8ab6;
}
.registraticn{
	margin-top:40px;
}
#diagnosis-team .form{
	background:#f4f4f5;
	margin-top: 60px;
	padding: 30px;
}
#diagnosis-team .form ul li{
	margin:15px 0px;
	width: 100%;
    display: inline-block;
}
#diagnosis-team .form label{
	width: 100px;
    font-size: 16px;
    float: left;
    text-align: right;
}
#diagnosis-team .form input,#diagnosis-team .form textarea{
	float:left;
	padding:5px;
	border-radius:6px;
	border:1px solid #ccc;
	outline: none;
	width: 30%;
}
#diagnosis-team .form input.diasubmit{
	background: #3371a8;
    color: #fff;
    font-size: 24px;
    width: 265px;
    border-radius: 0px;
    border: none;
    padding: 10px 0px;
}
#diagnosis-team .form label span{
	color: #FF7900;
    padding-left: 5px;
    position: relative;
    top: 3px;
}
.online-message{
	background:url("../images/sign-up-diagnosis.jpg")/*tpa=http://jintaovip.com/skin/images/sign-up-diagnosis.jpg*/ no-repeat;
	width:100%;
	padding: 30px 0px;
	color:#ffffff;
}
#diagnosis-team .online-message h2{
    text-transform: uppercase;
	font-size:30px;
	font-family:Arial;
	margin-bottom:0px;
}
.online-message p{
	font-size:18px;
}
/*************************************************************/
#thematic .data{
	background:url("../images/bg.jpg")/*tpa=http://jintaovip.com/skin/images/bg.jpg*/ no-repeat;
	width: 100%;
	display: inline-block;
	padding-top:30px;
	padding-bottom: 5px;
}
#thematic .video{
	background:url("../images/vbg.jpg")/*tpa=http://jintaovip.com/skin/images/vbg.jpg*/ no-repeat;
	width: 100%;
	display: inline-block;	
}
#thematic .data img{
	float:left;
}
#thematic .data-list,#thematic .video-list,.record{
	max-width:1100px;
	margin:0px auto;
	text-align:center;
}
#thematic .data-two{
	margin: 0px 45px;
}
#thematic .video-list img{
	padding-bottom:35px;
}
#thematic .record{
	padding-top:70px;
}
#thematic .title{
	padding-bottom:80px;
}
/*************************************************************/
#shop-problem ul{
	padding-top:10px;
}
#shop-problem li img:hover,#benefits li img:hover,#personal-customization li img:hover,#brands-service dl dt img:hover{
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
#shop-problem li img,#benefits li img,#personal-customization li img,#brands-service dl dt img{
    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
}
/******************** Update Time: 2017-11-15 **************/
#solve-problem{
	max-width:1200px;
	margin:0px auto;
}
.show-img{
	position:relative;
	margin-top:-45px;
	width: 55.7%;
}
.problem-list{
	width:44.3%;
	margin-top:20px;
}
.problem-list ul{
	margin:50px 0px 0px 10px;
}
.problem-list ul li{
	float:left;
	width:33.3%;
	color: #3e3e3e;
	margin-bottom:5px;
}
.problem-list ul li:before {
    content: "";
    list-style: disc;
    color: #b0b0b0;
    display: inherit;
    float: left;
	font-size:12px;
	position: relative;
    left: 6px;
}
.advantage-hosting{
	max-width:1200px;
	margin:0px auto;
	padding-top:80px;
	overflow: hidden;
}
.advantage-hosting ul li{
	color:#3e3e3e;
	float:left;
	width:17.9%;
	background:#e7e7e7;
	padding:50px 0px 20px 25px;
	position:relative;
}
.advantage-hosting ul li:hover{	
	background-color:#FF7900;
	color:#ffffff;
	margin-top:-30px;
	padding: 35px 0px 65px 25px;	
	transition:all ease-out .4s
}
.advantage-hosting ul li span.arrow{
	display:none;	
}
.advantage-hosting ul li:hover span.arrow{
	position:absolute;
	top:130px;
	left:25px;
}
.advantage-hosting ul li.ashes{
	background:#f5f5f5;
}
.advantage-hosting ul li:hover.ashes{
	background:#FF7900;
	color:#ffffff;
	margin-top:-30px;
	padding: 35px 0px 65px 25px;
}
.advantage-hosting ul li span{
	font-family:Arial;
	font-weight:bold;
	color:#FF7900;
	font-size:36px;
	display:block;
}
.hosting-operating,.effect-comparison{
	max-width:1200px;
	margin:0px auto;
	margin-top:75px;
	text-align: center;
	overflow:hidden;
}
.hosting-operating ul li span{
	display:block;
	padding-bottom: 10px;
}
.hosting-operating ul{
	margin-top: 15px;
}
.hosting-operating ul li{
	float:left;
	padding:0px 45px;
	text-align:center;
	margin-right:25px;
	background: url("../images/quire.png")/*tpa=http://jintaovip.com/skin/images/quire.png*/ no-repeat 30px 6px;
}
.hosting-operating ul li:hover{
	background:url("../images/quire-while.jpg")/*tpa=http://jintaovip.com/skin/images/quire-while.jpg*/ no-repeat 30px 26px #FF7900;
	color:#ffffff;
	margin-top:-40px;
	position:relative;
	z-index:999px;
	padding:20px 45px 10px 45px;	
	transition:all ease-out .4s
}
#case-contrast,#cooperative-brand{
	width:100%;
	margin:0px auto;
	text-align:center;
	overflow:hidden;
	margin-top: 70px;
}
#case-contrast h3,#cooperative-brand h3,.effect-comparison h3{
	font-size:24px;
	font-weight:normal;
}
#case-contrast  p.title,.effect-comparison p,#cooperative-brand p{
	text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0px 40px 0px;
   color:#3e3e3e;
}
.contrast-content-first,.contrast-content-two,.contrast-content-three{
	width:44%;

	padding:0px 3%;
	margin-top:30px;
}
.contrast-content-img{
	width:50%;
	overflow: hidden;
}
.contrast-content-first h4,.contrast-content-three h4,.contrast-content-two h4{
	font-size:24px;
	font-weight:normal;
	text-align:left;
}
.contrast-content-first p,.contrast-content-three p,.contrast-content-two p{
	font-size:14px;
	color:#3e3e3e;
	text-align:left;
	margin-top: 10px;
    line-height: 25px;
}
.contrast-content{
	width: 100%;
	position:relative;
    overflow: hidden;
}
.contrast-content:hover{
	background:#FF7900;
	color:#ffffff;
	transition: all 0.6s;  
}
.contrast-content:hover p{
	color:#ffffff;
	transition: all 0.8s;  
}
.contrast-content:hover img{
	transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2); 
	-webkit-transform:scale(1.2,1.2); 
	-o-transform:scale(1.2,1.2); 
}
.contrast-content-two{
	padding-bottom:1px;
} 
#cooperative-brand{
	margin-top:80px;
	max-width:1200px;
}
#cooperative-brand span{
	font-size:16px;
	display: block;
    padding-bottom: 30px;
}
.effect-comparison ul{
	width:100%;
	text-align:center;
	overflow:hidden;
	margin-bottom:30px;
}
.effect-comparison ul:last-child{
	margin-bottom:0px;
	border-top: 1px solid #cdcdcd;
    padding-top: 30px;
}
.effect-comparison ul li{
	width:40%;
	display:inline-block;
}
.effect-comparison ul li span.before-taking-over{
	font-size:18px;
	display:block;
}
.effect-comparison ul li span.number{
	font-size:46px;
	font-family:Arial;
	color:#3e3e3e;
	position: relative;
    top: 5px;
}
.effect-comparison ul li p{
	color:#bcbcbc;
}

.fz{
	font-size:24px;
}
.effect-comparison ul li span.cred{
	color:#FF7900
}
/***************** Update Time: 2017-11-17 **************/ 
#problem-encountered{
	max-width:1200px;
	margin:0px auto;
	text-align:center;
	margin-top:60px;
}
#problem-encountered .title::after,#media-advantage .title::after{
	content:"";
	width:35px;
	height:4px;
	background:#FF7900;
	display: block;
    margin: 0px auto;
    margin-top: 15px;
}
#problem-encountered .title,#media-advantage .title{
	margin-bottom:40px
}
#problem-encountered .title h1,#media-advantage .title h1{	
	font-size:30px;
	font-weight:normal;
	color: #434343;
}
#problem-encountered .title p,#media-advantage .title p{
	text-transform: uppercase;
	color: #434343;
}
.encountered-list{
	text-align: left;
	height:138px;
	overflow:hidden;
}
#problem-encountered .problem-list{
	width:40%;
	padding:0px 5%;
}
#problem-encountered .problem-show-img{
	width:50%;
}
.encountered-list h2{
	font-size:22px;
	font-weight:normal;
	margin-bottom:15px;
}
.encountered-list p{
	line-height:22px;
	color:#bcbcbc;
}
.encountered-list:hover{
	background:#FF7900;
	color:#ffffff;
	transition: all 0.8s; 
}
.encountered-list:hover p{
	color:#ffffff;
	transition: all 0.8s; 
}
.encountered-list img{
	cursor: pointer;  
	transition: all 0.8s;  
}
.encountered-list:hover img{
	transform: scale(1,1.2);  	
}
.laws{
	margin-top:80px;	
}
.laws ul{
	overflow: hidden;
}
.laws ul li{
	width: 17%;
    float: left;
    border-bottom: 2px solid #f4f4f4;
    margin: 0px 14px;
    padding-bottom: 25px;
	cursor: pointer;
}
.laws ul li span{
	font-size:18px;
	margin-bottom:20px;
	display: block;
	color: #434343;
	text-transform: uppercase;
}
.laws ul li p{
	color:#bcbcbc;	
}
.about-service{
	margin:80px 0px;
}
.laws ul li:before{
	content: "";
    border-bottom: 2px solid #ff812d;
    width: 0; 
    position: relative;
    transition: all 2s cubic-bezier(.215, .61, .355, 1) 0s;
    top: 109px;
    z-index: 11;
    display: block;
}
.laws ul li:hover:before{
	width:100%;	
}
#problem-encountered .team ul li{
	float:left;
	width:370px;
	margin:0px 15px;
	padding-bottom:37px;
}
#problem-encountered .team ul li:hover{	
	border-bottom:2px solid #FF7900;
	padding-bottom:35px;
}
#problem-encountered .team ul li img{
	transition: all 0.8s;  
}
#problem-encountered .team ul li .media-images::before{
	color: inherit;
    position: absolute;
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    content: ' ';
    border: 5px solid #FF7900;
    top: -15px;
    left: 49%;
    transition: height .1s linear .3s,width .1s linear .4s,visibility 0s .51s;
    border-bottom: 0;
    border-left: 0;
    margin: 10px;
    margin-left: 4px;
    z-index: 5;
}
#problem-encountered .team ul li:hover .media-images::before{
	width:calc(52% - 12px);
    height: calc(100% - 0px);
    visibility: visible;
    transition: width .1s linear 0s,height .1s linear .1s;
}
#problem-encountered .team ul li .media-images::after {
    color: inherit;
    position: absolute;
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    content: ' ';
    border: 5px solid #FF7900;
    right: 0px;
    bottom: 0;
    transition: background-size .1s linear 0s,height .1s linear .1s,width .1s linear .2s,visibility 0s .3s;
    border-top: 0;
    border-right: 0;
    background-image: linear-gradient(#FF7900,#FF7900);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 0 5px;
    z-index: 5;
}
#problem-encountered .team ul li:hover .media-images::after{
	width: calc(100% - 0px);
    height:calc(100% - 0px);
    transition: visibility 0s .2s,width .1s linear .2s,height .1s linear .3s,background-size .1s linear .4s;
    background-size: 53% 5px;
	visibility: visible;
}
#problem-encountered .team ul li span{
	font-size:18px;
	color: #434343;
	padding-top: 20px;
    display: block;
}
#problem-encountered .team ul li p{
	color: #bcbcbc;
	padding-top: 5px;
}
.advantage-list{
	max-width:1200px;
	margin:0px auto;
	text-align:center;
	padding-top: 43px;
	overflow: hidden;
}
.item_wrapper{
	width:20%;
	float:left;
	margin:0px 30px;
	position:relative;
}
.date_wrap .number{
	font-size:30px;
	font-weight:bold;
	color: #434343;
}
#media-advantage .ellipsis{
	font-size:18px;
	color:#434343;
	padding-top: 45px;
}
.item_des .description{
	color:#bcbcbc;
	margin-top: 10px;
	margin: 10px 20px 0px 20px;
}
.date_wrap::before {
    content: '';
    width: 11px;
    height: 11px;
    border: 1px solid #cecece;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    margin-left: -8px;
    top: 50px;
    transition: all 0.36s ease;
}
.date_wrap::after {
    content: '';
    width: 5px;
    height: 5px;
    background: #cecece;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    border-radius: 50%;
    top: 54px;
    transition: all 0.36s ease;
}
#media-advantage::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -101px;
    background: #f3f3f3;
	overflow:hidden;
	z-index:-1;
}
#media-advantage .item_wrapper:hover .number{
	color:#FF7900;
}
#media-advantage .item_wrapper:hover .ellipsis{
	color:#FF7900;
}
#media-advantage .item_wrapper:hover .item_des .description{
	color:#ffd1b2;
}
#media-advantage .item_wrapper:hover .date_wrap::after {
	background:#FF7900;
}
#media-advantage .item_wrapper:hover .date_wrap::before{
	border: 1px solid #FF7900;
}

.news-media .media-images{
	width:20%;
}
.news-media .media-content{
	width:75%;
	text-align:left;
	margin-left:25px;
}
.news-media .media-content h2{
	font-weight:normal;
	font-size: 18px;
    color: #FF7900;
}
.news-media .media-content p{
	margin-top:10px;
	line-height:25px;
}
.news-media .media-content .public{
	margin-top:15px;
}

.news-media .media-content .public img{
	position: relative;
    top: 6px;
    padding-right: 10px;
}
.news-media .media-content .public span{
	margin-right:30px;
	color: #a8a8a8;
}
.news-media ul li {
    padding: 30px 0px;
    border-bottom: 2px solid #f4f4f4;
	overflow:hidden;
}

#mlist{
	max-width:1200px;
	margin:0px auto;
	
}
#mlist h2.title{
	font-weight:normal;
	text-align:center;
	margin-top:30px;
}
/************* outline css ****************/
#ilecturer{
	background:url("../images/introduction-gb.jpg")/*tpa=http://jintaovip.com/skin/images/introduction-gb.jpg*/ no-repeat;
	width:100%;
	overflow: hidden;
}
#ilecturer .lturer{
	max-width:1200px;
	margin:0px auto;
	padding: 160px 0px 90px 0px;
}
#ilecturer .lturer h2{
	font-size:36px;
	font-weight:normal;
	color:#24c8ed;
}
#ilecturer .lturer .title span{
	font-size:30px;
	color:#000000;
	padding: 10px 0px 20px 0px;
	display:block;
}
#ilecturer .lturer ul {
	width:40%;
}
#ilecturer .lturer ul li{
	font-size: 24px;
    color: #666666;
    font-family: MONOSPACE;
    padding-bottom: 20px;
    line-height: 35px;
}
#ilecturer .title h1,#pconfused .title h1,#outline-facebook .title h1,#signkown .title h1{
	text-align: center;
    margin-top: 80px;
    font-size: 48px;
    font-weight: normal;
    color: #24c8ed;
}

#pconfused{
	background:url("../images/confused-gb.jpg")/*tpa=http://jintaovip.com/skin/images/confused-gb.jpg*/ no-repeat;
	width:100%;
	overflow:hidden;
	color:#ffffff;
}
#pconfused .dinfo-list{
	max-width:1200px;
	margin:0px auto;
	padding: 100px 0px 90px 0px;
}
#pconfused .dinfo-list ul{
	margin-left: 42%;
	padding: 10px 40px 20px 60px;
}
#pconfused .dinfo-list ul li{
	overflow:hidden;
	border-bottom:2px solid #969b9f;
	margin: 20px 0px 20px 10px;
}
#pconfused .dinfo-list ul li .qinfo p{
	font-size:22px;
}
#pconfused .dinfo-list ul li .qinfo span{
	font-size:12px;
	text-transform: uppercase;
}
#pconfused .dinfo-list ul li .step{
	font-size:48px;
	color:#24c8ed;
	float:left;
	position: relative;
    top: -7px;
	margin-right:15px;
	font-family: impact;
}
#hcurriculum{
	max-width:1200px;
	margin:0px auto;
	overflow: hidden;
}
#hcurriculum ul{
	margin-top:75px;
}
#hcurriculum ul li .number{
	font-size: 40px;
    font-family: impact;
    background: url("../images/outline-quan.png")/*tpa=http://jintaovip.com/skin/images/outline-quan.png*/ no-repeat;
    width: 160px;
    height: 150px;
    display: block;
    text-align: center;
    padding-top: 55px;
	margin: 0px auto;
}
#hcurriculum ul li .number span{
	font-family: yahei;
    font-size: 24px;
	padding-left: 5px;
}
#hcurriculum ul li{
	width:25%;
	float:left;
}
#hcurriculum ul li .hdetail{
	display:block;
	font-size:24px;
	text-align:center;
}
#sknow .slist{
	max-width:1200px;
	margin:0px auto;
	margin-top:65px;
	overflow:hidden;
}
#sknow .slist ul li{
	float:left;
	position:relative;
	text-align:center;
	height: 286px;
}
#sknow .slist ul li .sdescrition.btitle div{
	font-size:20px;
	line-height:30px;
	color: #000;
}
#sknow .slist ul li .sdescrition.btitle h2{
	color: #000000;
    font-size: 22px;
    font-weight: normal;
}
#sknow .slist ul li .sdescrition h2{
	color: #ffffff;
    font-size: 22px;
    font-weight: normal;
}
#sknow .slist ul li .sdescrition div{
	font-size: 18px;
    line-height: 30px;
    color: #fff;
}
#sknow .slist ul li .btitle h2::after,#sknow .slist ul li .sdescrition h2::after{
	content:" ";
	width:70px;
	height:5px;
	background:#24c8ed;
	margin: 25px auto;
	display:block;
}
#sknow .slist ul li .sdescrition{
	position: absolute;
    z-index: 100;
    width: 100%;
    top: 25%;
}
#course-outline{
	background:url("../images/course-outline.jpg")/*tpa=http://jintaovip.com/skin/images/course-outline.jpg*/ no-repeat;
	width:100%;
	margin-top: -100px;
	padding-top: 130px;
	display: inline-block;
	padding-bottom: 75px;
}
#course-outline .title h1{
	text-align: center;
    margin-top: 80px;
    font-size: 48px;
    font-weight: normal;
    color: #24c8ed;
}
#course-outline .outline-list{
	max-width:1200px;
	margin:0px auto;
	color:#ffffff;
	overflow:hidden;
	    margin-top: 120px
}
#course-outline .outline-list ul{
	width:1100px;
	margin-left: 55px;
}
#course-outline .outline-list .every-list{
	width:1200px;	
	overflow: hidden;
	float: left;
}
#course-outline .line{
	position:relative;
}
#course-outline .outline-list ul li{
	width: 45%;
    margin-bottom: 25px;
    border: 1px solid #24c8ed;
    margin: 15px 24px;
    display: inline-block;
	vertical-align: top;
}
#course-outline .outline-list ul li .outline-step{
	float: left;
    font-size: 72px;
    font-family: Impact;
    background: #24c8ed;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin-right: 15px;
}
#course-outline .outline-list ul li .course-content h3{
	font-size:22px;
	color:#24c8ed;
	font-weight:normal;
}
#course-outline .outline-list ul li .course-content div{
	font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
	line-height: 25px;
}
#course-outline .outline-list ul li .course-content{
	margin-top:15px;
}
.oinfo{
	height:360px;
	overflow:hidden;
	position: relative;
}
#course-outline .bx-prev {
    position: absolute;
    top: 30%;
    background: url("../images/outline-arrow-left.png")/*tpa=http://jintaovip.com/skin/images/outline-arrow-left.png*/ no-repeat;
    width: 42px;
    height: 142px;
    z-index: 0;
    left: 0;
    margin-left: 0px;
}
#course-outline .bx-next {
    position: absolute;
    top: 30%;
    background: url("../images/outline-arrow-right.png")/*tpa=http://jintaovip.com/skin/images/outline-arrow-right.png*/ no-repeat;
    width: 42px;
    height: 142px;
    z-index: 0;
    right: 0;
    margin-right: 0px;
}
#student-case{
	margin-top:50px;
}
#student-case .clist{
	max-width:1200px;
	margin:0px auto;
	margin-top:55px;
}
#student-case .clist li{
	margin:20px 0px;
}
#student-case .clist h2{
	font-size:32px;
	font-weight:normal;
	margin-bottom: 20px;
	margin-left: 13.5%;
}
#student-case .clist li h2 img{
	margin-right:15px;
	position: relative;
    top: -15px;
	margin-left:0px;
}
#student-case .clist li p{
	width:100%;
	text-align:center;
}
#student-case .clist li p img{
	margin-left:65px;
}
#outline-facebook{
	background:url("../images/outline-feedback.jpg")/*tpa=http://jintaovip.com/skin/images/outline-feedback.jpg*/ no-repeat;
	width:100%;
	overflow:hidden;	
}
#outline-facebook .facebook-images{
	max-width:1200px;
	margin:0px auto;
	text-align:center;
	padding: 100px 0px 50px 0px;
}
#signkown{
	background:url("../images/to-sign-up.jpg")/*tpa=http://jintaovip.com/skin/images/to-sign-up.jpg*/ no-repeat;
	width:100%;
	display: inline-block;
	overflow:hidden;
}
#signkown .kinfo{
	max-width: 1200px;
    margin: 0px auto;
    color: #ffffff;
    padding: 100px 0px 70px 0px;
    overflow: hidden;
}
#signkown .payimage{
	width:34%;
	text-align:center;
	border-right: 1px solid #879da3;
}
#signkown .payimage span{
	display: block;
    font-size: 20px;
    padding-top: 20px;
    line-height: 30px;
}
#signkown .kinfo ul{
	width:59%;
	margin-left:6%;
}
#signkown .kinfo ul li{
	margin-bottom:30px;
}
#signkown .kinfo ul li h4{
	font-size:22px;
	font-weight:normal;
	
}
#signkown .kinfo ul li p{
	font-size:18px;
	line-height: 30px;
}
#signkown .kinfo ul li p .payimage{
	float: right;
    position: relative;
    top: -100px;
}

/***************** end ********************/
#mlist .platlisting{
	overflow:hidden;
	margin-top:25px;
}
.platlisting li{
	float:left;
	width: 20%;
    margin: 10px 2.5%;
}
.portfolio-img {
    overflow: hidden;
    border: 1px solid #e1eeff;
}
.portfolio-img a, .portfolio-img img {
    width: 100%;
    display: block;
    overflow: hidden;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.portfolio-img a:hover img {
    transform: scale(1.2, 1.2) rotate(10deg);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.platlisting li .portfolio-title h2 {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background: #FF7900;
    text-align: center;
}
.portfolio-title a {
    color: #FFF;
}


.video{
	margin-top:35px;
}
.video h3{
	text-align:center;
	font-weight:normal;
	font-size:20px;
	padding-bottom: 20px;
	color:#FF7900;
}
.vinfo{
	overflow:hidden;
	margin: 30px 0px;
	border-bottom: 2px solid #f4f4f4;
    padding-bottom: 30px;
}
.viewinfo{
	width:880px;
	margin:0px auto;
}
.vinfo ul li{
	width:31.5%;
	position:relative;
	float:left;
	margin: 10px 0.9%;
}
.vinfo ul li span{
	color:#000;
	padding-top: 15px;
    display: block;
}
.container-video-player{
	position: absolute;
    width: 50px;
    height: 50px;
    top: 35%;
    left: 45%;
}


/******* core team *********/

.container{
	margin:0px auto;
	width:1200px;
	padding:90px 10px;
	padding-bottom:100px;
}
.container.nopadding{
	padding:0px;
}
.container > .title{
	margin-bottom:26px;
	text-transform:uppercase;
}
.gridWrapper{
	position:relative;
	margin-bottom:90px;
}
.gridBlock{
	margin:1px 25px;
	width:350px;
	height:476px;
	float:left;
	cursor:pointer;
	position:relative;
}
.gridBlock .desc{
	position:absolute;	
	display:none;
	width:638px;
	background:#efedcb;
	z-index:10;
	padding:25px 55px;
}
.gridBlock .desc .title{
	color:#ff6600;
	text-transform:uppercase;
	font-size:30px;
	font-weight:400;
	line-height:33px;
	margin-bottom:5px;
	width:500px;
}
.gridBlock .desc .subTitle{
	font-size:18px;
	lien-height:27px;
	margin-bottom:18px;
	font-weight:400;
	width:500px;
}
.gridBlock .desc p{
	font-size:14px;
	line-height:20px;
}
.gridBlock .captionWrapper{
	position:absolute;
	width:350px;
	height:65px;
	bottom:0px;
	background:url("../images/gridblock_bg.png")/*tpa=http://jintaovip.com/skin/images/gridblock_bg.png*/ center center no-repeat;
}
.gridBlock .captionWrapper:hover{
	background:url("../images/gridblock_bg_hover.png")/*tpa=http://jintaovip.com/skin/images/gridblock_bg_hover.png*/ center center no-repeat;
}
.gridBlock.act .captionWrapper{
	background:url("../images/black_alpha07_bg.png")/*tpa=http://jintaovip.com/skin/images/black_alpha07_bg.png*/;
}
.gridBlock .caption{
	width:100%;
	padding:0px 63px 0px 30px;
}
.gridBlock .caption .heading{
	font-size:18px;
	line-height:21px;
	color:#FF7900;
	font-weight:400;
}
.gridBlock .caption .text{
	font-size:14px;
	line-height:18px;	
	color:#fff;
}
.gridBlock .desc .closeBtn{
	position:absolute;
	width:25px;
	height:25px;
	background:url("../images/gridblock_close.png")/*tpa=http://jintaovip.com/skin/images/gridblock_close.png*/ right no-repeat;
	right:55px;
	top:40px;
}
#leadership #portrait_one .desc{
	top:0px;
	left:400px;
}
#leadership #portrait_two .desc{
	top:475px;
	left:0px;
}
#leadership #portrait_three .desc{
	top:0px;
	left:-800px;
}



