	/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 1920px) {
	#header .phone{
		display:none;
	}
}
@media screen and (max-width: 1200px) {
	#success-case ul li{
		float: left;
		width: 33.3%;
		margin-bottom: 25px;
		text-align: center;
	}
	#success-case .title{
		display:none;
	}
	#success-case .projectitem{
		margin-bottom:20px;
	}
	#firsr-index{
		border-bottom:none;
	}
	#case{
		background:none;
		margin-top:0px;
	}
	#case-logo .desction{
		margin-bottom:30px;
	}
	#header .phone{
		display:none;
	}
}
@media screen and (max-width: 1120px) {
	.contact_menu li{
		width:20%;
	}
	.fridays-menu ul li a{
		padding: 30px 10px;
	}
	#design .design-list ul li{
		width:99%;
	}
	#design .design-desction,#server .desction{
		width:96%;
		padding:0px 2%;
		text-align:left;
	}
	#classify ul.design-sort,.case-list ul li{
		padding:0px;
	}
	.server-img-list ul li{
		width:46%;
		margin:2% auto;
		text-align:center;
		padding:0px;
	}
	#server .projectitem {
		width: 50%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	#server .projectitem{
		float:none;
	}
	.server-name{
		text-align:left;
	}
	.server-title{
		padding-bottom:0px;
		height: 50px;
		
	}
	#store,.electrical_success_case{
		display:none;
	}
	.sti_paginate{
		width:100%;
		max-width:1200px;
	}
	#case-logo .desction,.case-short{
		width: 96%;
		padding: 0px 2%;
		text-align: left;
		padding-bottom: 5%;
	}
	.newsbody,#news-content,#newslist .newscontent,.desction-left,.electrical_list{
		width:100%;
		float:none;
	}
	.newscontent .fl,.problem li div.fl{
		float:none;
	}
	.newsdate{
		text-align:right;		
	}
	#news,#server,#team,#success-case,#team-center{
		padding:0 2%;
		margin-top:50px;
	}
	#success-case .case-img,.case-img{
		padding-top:0px;
	}
	#case .case-img{
		padding-top:50px;
	}
	#team-center .team-title{
		padding-top:0px;
	}
	#case{
		margin-top:0px;
	}	
	#indexPage{
		width:100%;
	}
	.casetitle span.publicdata{
		display:none;
	}
	.operate,.design-list,#fridays-view, #commentaries, #business-school,.every-news-list,.situation_content,.contact_content,.electrical_list,.electrical_detail,#problem,#successcase_desctions,#takebefore,#takeover,#question,#classicontent,#design-content,#case_show,#team,#case,#strengths,#case-analysis,#service-system,#brands-content,#brands-service,#ascendancy{
		width:96%;
		padding:0px 2%;
	}
	.locatit{
		width:96%;
		padding:0% 2% 4.5% 2%;
	}
	.operate h2,#problem h2{
		border-top:none;
		width: 100%;
		display: inline-table;
		font-size:16px;
	}
	.operate h2 span.title{
		width:100%;
	}
	.contact_menu{
		width: 100%;
		clear: both;
		text-align: center;
		display: inline-block;
		margin:0px;
	}
	.contact_menu li{
		width: 20%;
		text-align: center;
		padding: 10px 0px;
	}
	.contact_menu li a{
		padding:20px 24px;
	}
	.course_achievement_two,.course_achievement{
		width: 100%;
		padding: 0px;
		margin:0px;
	}
	.course_achievement_two ul,.amount{
		margin-top:20px;
	}
	.course_content{
		display: block;
		padding-top: 10px;
	}
	.pd,.course_data,#electrical_seriver .projectitem{
		width:100%;
		text-align:center;
	}
	.achievement_four .course_images{
		top:0px;
		position:relative;
	}
	.every-news-list .library-list .public_class ul li,.customers-data span{
		width:96%;
		display:block;
	}
	.design-image{
		width:100%;
		padding: 10px 0px 10px 0px;
	}
	.library-list ul{
		margin-right:0px;
		width: 100%;
		margin: 0px auto;
		text-align: center;
		display: inline-block;
	}	
	.library-list ul li{
		width: 49%;
		display: inline-block;
		text-align: center;
		margin-right:0px;
		float:none;
		padding:0px;
	}
	#from form ul li input, #from form ul li textarea{
		padding:20px 0px;
		border: 1px solid #e5e5e5;
		background:#ffffff;
	}
	.language,.data,.heng,.library-data,.tel,#colophon,.pro,.project_info,.add,#contact .map,p.newmore,#data-speak{
		display:none;
	}
	.public_class,.public_images{
		width:50%;
	}
	.menu{
		width:75%;
		margin-top:0px;
	}
	.logo{
		width:25%;
		text-align:center;
	}
	.nibox{
		margin: 100px auto 0;
		width: 100%;
	}
	.circle-desction,.library-desction{
		padding:10px 0px 0px 0px;
	}
	.news-list ul li{
		width: 100%;
		padding:20px 0px;
		margin:0px 0px 20px 0px;
	}
	.news-list ul li:last-child,.recruit,#problem .problem ul{
		margin:0px;
	}
	.every-news-list{
		padding-top: 20px;
	}
	.every-news-list img{
		padding-bottom:25px;
	}
	.fridays-menu ul li{
		width:20%;
		margin:15px 0px;
		float:none;
		display: inline-block;
	}
	.fridays-menu ul {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0px auto;
	}
	.library-list .fr{
		float:left;
	}
	#fridays-view .new-title h1{
		font-size:16px;
	}
	.library-list ul li span.title,.circle-list .title{
		font-size:16px;
		text-align: left;
	}
	.company,#bott p{
		padding:0px 2%;
		width:96%;
	}
	#bootom-menu,#video,.problem_content img,.new-image{
		display:none;
	}
	#bott .con{
		margin-left:0px;
		margin-top:20px;
		width: 100%;
	}
	#bott,.map{
		padding-top:20px;
	}
	#footer{
		padding-bottom: 30px;
		margin-top: 30px;
		background:#151516;
	}
	.company{
		margin-top:0px;
	}
	#contact .guarantee{
		text-align:left;
		padding: 10px 10px 0px 10px;
	}
	.company .contact-us p,#contact .guarantee,#bott p{
		font-size:14px;
	}
	.course_images{
		position:relative;
		top:0px;
	}
	#bott .con li{
		margin: 0px;
		width: 50%;
		margin: 0px auto;
		text-align: center;
		float:left;
	}
	.map{
		float:left;
	}
	#contact .contact_content h2,.situation_content .situation-title h2{
		font-size:24px;
		text-align:center;
		padding:40px 0px 40px 0px;
	}
	.course{
		padding:0px 0px 20px 0px;
	}
	.contact_content li{
		width:100%;
		font-size:14px;
		line-height: 30px;
	}
	.lxform form ul li input, .lxform form ul li textarea{
		padding:20px 5px;
	}
	#problem .problem ul li{
		width:40%;
		display:inline-block;
		margin:2% 2% 2% 2%;
		text-align:center;
	}
	#problem .problem{
		width:96%;
		display:inline-block;
		text-align:center;
	}
	#problem .problem ul li{
		float:none;
	}
/***************************/
	.bg,.beforebg,.point_img,.lefttheme,.desction-left img,.newsdate{
		display:none;
	}
	#takebefore p, #takeover p,#question .leftquestion,#question .rightquestion,.righttheme{
		width:100%;
	}
	.strategy ul.point li span.point_desction{
		font-size:12px;
		text-align:left;
	}
	.status,.strategy ul.point{
		padding-top:0px;
	}
	.status .store{
		margin:0px;
		width:96%;
	}
	.righttheme .year .imagesa{
		margin-right:10px;
	}
	.righttheme .year ul{
		width:77%;
	}
	#classicontent,#question,#takeover,#takebefore,.casebackground{
		margin-top:20px;
	}
	.theme,#question .strategy,.operate{
		padding-top:20px;
	}
	.strategy ul li.point_list{
		width:40%;
		margin:0px 5%;
	}
	.righttheme .fr,.electrical_list ul li{
		float:none;
	}
	.status .store img{
		width:12%;
	}
	.status .store div{
		width:70%;
	}
	.status .fr{
		padding-top:20px;
		float:left;
	}
	.success_content h2{
		font-size:24px;
	}
	.design-image{
		width:100%;
		margin:0px;
		padding:0px;
	}
	.design-good{
		margin-left:0px;
		width:100%;
		left:0px;
		position:relative;
		height:100%;
	}
	.electrical_list ul{
		width: 100%;
		text-align: center;
		margin: 0px auto;
		display: inline-block
	}
	.electrical_list ul li{
		width: 40%;
		text-align: center;
		display: inline-block;
		margin: 2% 2% 2% 2%;
	}	
	.electrical_detail h2{
		width:30%;
		float:left;
	}
	.electrical_detail .detail{
		width:65%;
		float:left;
		text-align:right;
	}
	.electrical_detail .detail,#case_show{
		margin-top:0px;
	}
	#case_show h2{
		padding: 30px 0px 30px 0px;
	}
	.tiptop,.fridays-menu ul li.heng,#service-bg{
		display:none;
	}
	#problem h2,#case_show h2{
		text-align:center;
		font-size:24px;
	}
	#success-case ul li{
		width:48%;
		float:left;
		margin:20px 1%;
	}
	#success-case ul li p{
		font-size:12px;
		padding:5px 0px;
		line-height:20px;
	}
	#success-case ul li div{
		text-align:center;
	}
	#case{
		height:auto;
		padding-bottom: 20px;
	}
	#case-logo .desction{
		margin-bottom:0px;
	}
	#firsr-index{
		border-bottom: none; 
		width: 100%;
		margin-top: 0px; 
	}
	.company .contact-us{
		width:51%;
	}
	.map{
		width:49%;
	}
	.circle-list ul li{
		padding: 15px 0px;
	}
	#fridays-view{
		margin-top: 30px;
		display: inline-block;
	}
	#business-school{
		margin-bottom:5%;
	}
	.advantages-compared{
		margin-left:0px;
	}
	.service-process li{
		width:50%;
	}
	#case-analysis{
		padding-bottom:30px;
	}
	.strengths-first-descrpition{
		margin: 30px 0px 0px 0px;
	}
	#case{
		background:#f5f5f5;
	}	
	.profile-descrition{
		padding:0px;
		text-align:left;
	}	
	.development-course ul{
		background:none;
	}
	.development-course ul li.course-first,.development-course ul li.course-two,.development-course ul li.course-third,.development-course ul li.course-fourth,.development-course ul li.course-five,.development-course ul li.course-six{
		position:static;
		left:0px;
		top:0px;
		width:100%;
		margin-bottom:20px;
	}
	.service-descrition dl.align{
		width: 46%;
		margin-left: 4%;
	}
	.service-descrition dd span {
		padding-right: 10px;
	}
	.personalized,.ascendancy-image{
		position:static;
		top:0px;
		right:0px;
		margin: 0px auto;
		display: block;
	}
	.ascendancy-image{
		width:100%;
		text-align: center;
	}
	.advantages-service img{
		display:block;
		margin:0px auto;
	}
	.advantages-service .fl{
		float:none;
	}
	.list,.contact-detial img{
		margin-left:0px;
	}
	.contact-detial ul {
		margin-left: 40px;
	}
	.service-descrition dt,.strengths-first-img,.strengths-first-descrpition{
		width:100%;
	}	
	.phone{
		position: absolute;
		top: -5px;
		left: 0px;
		margin-left: 40px;
	}
	.menu ul.phone li a{
		font-size:14px;
		margin:0px 6px;
	}
	.service-five dd,.service-six dd,.service-four dd,.service-third dd,.service-two dd,.service-first dd{
		width:100%;
		padding-right: 0px;
		text-align: left;
	}
	.service-text{
		text-align:left;
	}
	#header .nav{
		margin-top:45px;
	}
	#header .phone{
		display:none;
	}
}
@media screen and (max-width: 1000px) {
	.contact_menu li{
		width:20%;
	}
	.fridays-menu ul li a{
		padding: 30px 10px;
	}
	#design .design-list ul li{
		width:99%;
	}
	#design .design-desction,#server .desction{
		width:96%;
		padding:0px 2%;
		text-align:left;
	}
	#classify ul.design-sort,.case-list ul li{
		padding:0px;
	}
	.server-img-list ul li{
		width:46%;
		margin:2% auto;
		text-align:center;
		padding:0px;
	}
	#server .projectitem {
		width: 50%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	#server .projectitem{
		float:none;
	}
	.server-name{
		text-align:left;
	}
	.server-title{
		padding-bottom:0px;
		height: 50px;
		
	}
	#store,.electrical_success_case{
		display:none;
	}	
	.sti_paginate{
		width:100%;
		max-width:1200px;
	}
	#case-logo .desction,.case-short{
		width: 96%;
		padding: 0px 2%;
		text-align: left;
		padding-bottom: 5%;
	}
	.newsbody,#news-content,#newslist .newscontent,.desction-left,.electrical_list{
		width:100%;
		float:none;
	}
	.newscontent .fl,.problem li div.fl{
		float:none;
	}
	.newsdate{
		text-align:right;		
	}
	#news,#server,#team,#success-case,#team-center{
		padding:0 2%;
		margin-top:50px;
	}
	#success-case .case-img,.case-img{
		padding-top:0px;
	}
	#case .case-img{
		padding-top:50px;
	}
	#team-center .team-title{
		padding-top:0px;
	}
	#case{
		margin-top:0px;
	}	
	#indexPage{
		width:100%;
	}
	.casetitle span.publicdata{
		display:none;
	}
	.operate,.design-list,#fridays-view, #commentaries, #business-school,.every-news-list,.situation_content,.contact_content,.electrical_list,.electrical_detail,#problem,#successcase_desctions,#takebefore,#takeover,#question,#classicontent,#design-content,#case_show,#team,#case,#strengths,#case-analysis,#service-system,#brands-content,#brands-service,#ascendancy{
		width:96%;
		padding:0px 2%;
	}
	.locatit{
		width:96%;
		padding:0% 2% 4.5% 2%;
	}
	.operate h2,#problem h2{
		border-top:none;
		width: 100%;
		display: inline-table;
		font-size:16px;
	}
	.operate h2 span.title{
		width:100%;
	}
	.contact_menu {
		width: 100%;
		clear: both;
		text-align: center;
		display: inline-block;
		margin:0px;
	}
	.contact_menu li{
		width: 20%;
		text-align: center;
		padding: 10px 0px;
	}
	.contact_menu li a{
		padding:20px 24px;
	}	
	.course_achievement_two,.course_achievement{
		width: 100%;
		padding: 0px;
		margin:0px;
	}
	.course_achievement_two ul,.amount{
		margin-top:20px;
	}
	.course_content{
		display: block;
		padding-top: 10px;
	}
	.pd,.course_data,#electrical_seriver .projectitem{
		width:100%;
		text-align:center;
	}
	.achievement_four .course_images{
		top:0px;
		position:relative;
	}
	.every-news-list .library-list .public_class ul li,.customers-data span{
		width:96%;
		display:block;
	}
	.design-image{
		width:100%;
		padding: 10px 0px 10px 0px;
	}
	.library-list ul{
		margin-right:0px;
		width: 100%;
		margin: 0px auto;
		text-align: center;
		display: inline-block;
	}	
	.library-list ul li{
		width: 49%;
		display: inline-block;
		text-align: center;
		margin-right:0px;
		float:none;
		padding:0px;
	}
	#from form ul li input, #from form ul li textarea{
		padding:20px 0px;
		border: 1px solid #e5e5e5;
		background:#ffffff;
	}
	.language,.data,.heng,.library-data,.tel,#colophon,.pro,.project_info,.add,#contact .map,p.newmore,#data-speak{
		display:none;
	}
	.public_class,.public_images{
		width:50%;
	}
	.logo{
		width:40%;
	}
	.menu{
		width:60%;
		margin-top:5%;
	}
	.logo{
		text-align:center;
	}
	.nibox{
		margin: 100px auto 0;
		width: 100%;
	}
	.circle-desction,.library-desction{
		padding:10px 0px 0px 0px;
	}
	.news-list ul li{
		width: 100%;
		padding:20px 0px;
		margin:0px 0px 20px 0px;
	}
	.news-list ul li:last-child,.recruit,#problem .problem ul{
		margin:0px;
	}
	.every-news-list{
		padding-top: 20px;
	}
	.every-news-list img{
		padding-bottom:25px;
	}
	.fridays-menu ul li{
		width:20%;
		margin:15px 0px;
		float:none;
		display: inline-block;
	}
	.fridays-menu ul {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0px auto;
	}
	.library-list .fr{
		float:left;
	}
	#fridays-view .new-title h1{
		font-size:16px;
	}
	.library-list ul li span.title,.circle-list .title{
		font-size:16px;
		text-align: left;
	}
	.company,#bott p{
		padding:0px 2%;
		width:96%;
	}
	#bootom-menu,#video,.problem_content img,.new-image{
		display:none;
	}
	#bott .con{
		margin-left:0px;
		margin-top:20px;
		width: 100%;
	}
	#bott,.map{
		padding-top:20px;
	}
	#footer{
		padding-bottom: 30px;
		margin-top: 30px;
		background:#151516;
	}
	.company{
		margin-top:0px;
	}
	#contact .guarantee{
		text-align:left;
		padding: 10px 10px 0px 10px;
	}
	.company .contact-us p,#contact .guarantee,#bott p{
		font-size:14px;
	}
	.course_images{
		position:relative;
		top:0px;
	}
	#bott .con li{
		margin: 0px;
		width: 50%;
		margin: 0px auto;
		text-align: center;
		float:left;
	}
	.map{
		float:left;
	}
	#contact .contact_content h2,.situation_content .situation-title h2{
		font-size:24px;
		text-align:center;
		padding:40px 0px 40px 0px;
	}
	.course{
		padding:0px 0px 20px 0px;
	}
	.contact_content li{
		width:100%;
		font-size:14px;
		line-height: 30px;
	}
	.lxform form ul li input, .lxform form ul li textarea{
		padding:20px 5px;
	}
	#problem .problem ul li{
		width:40%;
		display:inline-block;
		margin:2% 2% 2% 2%;
		text-align:center;
	}
	#problem .problem{
		width:96%;
		display:inline-block;
		text-align:center;
	}
	#problem .problem ul li{
		float:none;
	}
/***************************/
	.bg,.beforebg,.point_img,.lefttheme,.desction-left img,.newsdate{
		display:none;
	}
	#takebefore p, #takeover p,#question .leftquestion,#question .rightquestion,.righttheme{
		width:100%;
	}
	.strategy ul.point li span.point_desction{
		font-size:12px;
		text-align:left;
	}
	.status,.strategy ul.point{
		padding-top:0px;
	}
	.status .store{
		margin:0px;
		width:96%;
	}
	.righttheme .year .imagesa{
		margin-right:10px;
	}
	.righttheme .year ul{
		width:77%;
	}
	#classicontent,#question,#takeover,#takebefore,.casebackground{
		margin-top:20px;
	}
	.theme,#question .strategy,.operate{
		padding-top:20px;
	}
	.strategy ul li.point_list{
		width:40%;
		margin:0px 5%;
	}
	.righttheme .fr,.electrical_list ul li{
		float:none;
	}
	.status .store img{
		width:12%;
	}
	.status .store div{
		width:70%;
	}
	.status .fr{
		padding-top:20px;
		float:left;
	}
	.success_content h2{
		font-size:24px;
	}
	.design-image{
		width:100%;
		margin:0px;
		padding:0px;
	}
	.design-good{
		margin-left:0px;
		width:100%;
		left:0px;
		position:relative;
		height:100%;
	}
	.electrical_list ul{
		width: 100%;
		text-align: center;
		margin: 0px auto;
		display: inline-block
	}
	.electrical_list ul li{
		width: 40%;
		text-align: center;
		display: inline-block;
		margin: 2% 2% 2% 2%;
	}	
	.electrical_detail h2{
		width:30%;
		float:left;
	}
	.electrical_detail .detail{
		width:65%;
		float:left;
		text-align:right;
	}
	.electrical_detail .detail,#case_show{
		margin-top:0px;
	}
	#case_show h2{
		padding: 30px 0px 30px 0px;
	}
	.tiptop,.fridays-menu ul li.heng,#service-bg{
		display:none;
	}
	#problem h2,#case_show h2{
		text-align:center;
		font-size:24px;
	}
	#success-case ul li{
		width:48%;
		float:left;
		margin:20px 1%;
	}
	#success-case ul li p{
		font-size:12px;
		padding:5px 0px;
		line-height:20px;
	}
	#success-case ul li div{
		text-align:center;
	}
	#case{
		height:auto;
		padding-bottom: 20px;
	}
	#case-logo .desction{
		margin-bottom:0px;
	}
	#firsr-index{
		border-bottom: none; 
		width: 100%;
		margin-top: 0px; 
	}
	.company .contact-us{
		width:51%;
	}
	.map{
		width:49%;
	}
	.circle-list ul li{
		padding: 15px 0px;
	}
	#fridays-view{
		margin-top: 30px;
		display: inline-block;
	}
	#business-school{
		margin-bottom:5%;
	}
	.advantages-compared{
		margin-left:0px;
	}
	.service-process li{
		width:50%;
	}
	#case-analysis{
		padding-bottom:30px;
	}
	.strengths-first-descrpition{
		margin: 30px 0px 0px 0px;
	}
	#case{
		background:#f5f5f5;
	}	
	.profile-descrition{
		padding:0px;
		text-align:left;
	}	
	.development-course ul{
		background:none;
	}
	.development-course ul li.course-first,.development-course ul li.course-two,.development-course ul li.course-third,.development-course ul li.course-fourth,.development-course ul li.course-five,.development-course ul li.course-six{
		position:static;
		left:0px;
		top:0px;
		width:100%;
		margin-bottom:20px;
	}
	.service-descrition dl.align{
		width: 46%;
		margin-left: 4%;
	}
	.service-descrition dd span {
		padding-right: 10px;
	}
	.personalized,.ascendancy-image{
		position:static;
		top:0px;
		right:0px;
		margin: 0px auto;
		display: block;
	}
	.ascendancy-image{
		width:100%;
		text-align: center;
	}
	.advantages-service img{
		display:block;
		margin:0px auto;
	}
	.advantages-service .fl{
		float:none;
	}
	.list,.contact-detial img{
		margin-left:0px;
	}
	.contact-detial ul {
		margin-left: 40px;
	}
	.service-descrition dt,.strengths-first-img,.strengths-first-descrpition{
		width:100%;
	}	
	.phone{
		position: absolute;
		top: -5px;
		left: 0px;
		margin-left: 40px;
	}
	.menu ul.phone li a{
		font-size:14px;
		margin:0px 6px;
	}	
	.service-five dd,.service-six dd,.service-four dd,.service-third dd,.service-two dd,.service-first dd{
		width:100%;
		padding-right: 0px;
		text-align: left;
	}
	.service-text{
		text-align:left;
	}
	#header .nav{
		margin-top:45px;
	}
	
	.contrast-content-img{
		width:100%;
		margin-top:10px;
	}
	.contrast-content-first, .contrast-content-two, .contrast-content-three,.advantage-hosting,.problem-list{
		width:96%;
		padding-top:0px;
		height:auto;
		padding:0px 2%;
	}
	.contrast-content{
		margin-bottom:20px;
		height:auto;
	}
	#cooperative-brand,#case-contrast,.effect-comparison,.hosting-operating,.advantage-hosting{
		margin-top:20px;
	}
	.advantage-hosting ul li{
		color: #3e3e3e;
		float: left;
		width: 48%;
		background: #e7e7e7;	   
		position: relative;
		padding: 15px 0px;
		margin: 1%;
		text-align: center;
		font-size: 12px;
	}
	.effect-comparison ul li{
		float: left;
		text-align: left;
		border-right: none;
		width: 25%;
		text-align: center;
		padding:0px;
	}
	.hosting-operating ul li{
		float: left;
		padding: 0px;
		text-align: center;
		margin-right: 0px;
		background: url("../images/quire.png")/*tpa=http://jintaovip.com/skin/images/quire.png*/ no-repeat 30px 6px;
		width: 20%;
		margin-bottom: 10px;
	}
	.show-img {
		display:none;
	}
	#problem-encountered .problem-list,#problem-encountered .problem-show-img{
		width:50%;
		padding: 0px;
		margin:0px;
	}
	.encountered-list{
		height:auto;
	}
	.laws ul li,.item_wrapper{
		width: 48%;
		margin: 10px 1%;
	}
	.laws ul li span,#success-case ul li div span{
		font-size:16px;
	}
	#problem-encountered .team ul li{
		width: 48%;
		margin: 0px 1%;
	}
	#media-advantage::after{
		background:none;
	}
	.about-service{
		margin:40px 0px;
	}
	.laws,#problem-encountered{
		margin-top:40px;
	}
	.encountered-list h2{
		margin-bottom:0px;
	}
	.laws ul li p{
		font-size:12px;
	}
	#header .phone{
		display:block;
	}
}
/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 860px) {
	.contact_menu li{
		width:20%;
	}
	.fridays-menu ul li a{
		padding: 30px 10px;
	}
	#design .design-list ul li{
		width:99%;
	}
	#design .design-desction,#server .desction{
		width:96%;
		padding:0px 2%;
		text-align:left;
	}
	#classify ul.design-sort,.case-list ul li{
		padding:0px;
	}
	.server-img-list ul li{
		width:46%;
		margin:2% auto;
		text-align:center;
		padding:0px;
	}
	#server .projectitem {
		width: 50%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	#server .projectitem{
		float:none;
	}
	.server-name{
		text-align:left;
	}
	.server-title{
		padding-bottom:0px;
		height: 50px;
		
	}
	#store,.electrical_success_case{
		display:none;
	}	
	.sti_paginate{
		width:100%;
		max-width:1200px;
	}
	#case-logo .desction,.case-short{
		width: 96%;
		padding: 0px 2%;
		text-align: left;
		padding-bottom: 5%;
	}
	.newsbody,#news-content,#newslist .newscontent,.desction-left,.electrical_list{
		width:100%;
		float:none;
	}
	.newscontent .fl,.problem li div.fl{
		float:none;
	}
	.newsdate{
		text-align:right;
		
	}
	#news,#server,#team,#success-case,#team-center{
		padding:0 2%;
		margin-top:50px;
	}
	#success-case .case-img,.case-img{
		padding-top:0px;
	}
	#case .case-img{
		padding-top:50px;
	}
	#team-center .team-title{
		padding-top:0px;
	}
	#case{
		margin-top:0px;
	}	
	#indexPage{
		width:100%;
	}
	.casetitle span.publicdata{
		display:none;
	}
	.operate,.design-list,#fridays-view, #commentaries, #business-school,.every-news-list,.situation_content,.contact_content,.electrical_list,.electrical_detail,#problem,#successcase_desctions,#takebefore,#takeover,#question,#classicontent,#design-content,#case_show,#team,#case,#strengths,#case-analysis,#service-system,#brands-content,#brands-service,#ascendancy{
		width:96%;
		padding:0px 2%;
	}
	.locatit{
		width:96%;
		padding:0% 2% 4.5% 2%;
	}
	.operate h2,#problem h2{
		border-top:none;
		width: 100%;
		display: inline-table;
		font-size:16px;
	}
	.operate h2 span.title{
		width:100%;
	}
	.contact_menu {
		width: 100%;
		clear: both;
		text-align: center;
		display: inline-block;
		margin:0px;
	}
	.contact_menu li{
		width: 20%;
		text-align: center;
		padding: 10px 0px;
	}
	.contact_menu li a{
		padding:20px 24px;
	}	
	.course_achievement_two,.course_achievement{
		width: 100%;
		padding: 0px;
		margin:0px;
	}
	.course_achievement_two ul,.amount{
		margin-top:20px;
	}
	.course_content{
		display: block;
		padding-top: 10px;
	}
	.pd,.course_data,#electrical_seriver .projectitem{
		width:100%;
		text-align:center;
	}
	.achievement_four .course_images{
		top:0px;
		position:relative;
	}
	.every-news-list .library-list .public_class ul li,.customers-data span{
		width:96%;
		display:block;
	}
	.design-image{
		width:100%;
		padding: 10px 0px 10px 0px;
	}
	.library-list ul{
		margin-right:0px;
		width: 100%;
		margin: 0px auto;
		text-align: center;
		display: inline-block;
	}	
	.library-list ul li{
		width: 49%;
		display: inline-block;
		text-align: center;
		margin-right:0px;
		float:none;
		padding:0px;
	}
	#from form ul li input, #from form ul li textarea{
		padding:20px 0px;
		border: 1px solid #e5e5e5;
		background:#ffffff;
	}
	.language,.data,.heng,.library-data,.tel,#colophon,.pro,.project_info,.add,#contact .map,p.newmore,#data-speak{
		display:none;
	}
	.public_class,.public_images{
		width:50%;
	}
	.logo{
		width:40%;
	}
	.menu{
		width:60%;
		margin-top:5%;
	}
	.logo{
		text-align:center;
	}
	.nibox{
		margin: 100px auto 0;
		width: 100%;
	}
	.circle-desction,.library-desction{
		padding:10px 0px 0px 0px;
	}
	.news-list ul li{
		width: 100%;
		padding:20px 0px;
		margin:0px 0px 20px 0px;
	}
	.news-list ul li:last-child,.recruit,#problem .problem ul{
		margin:0px;
	}
	.every-news-list{
		padding-top: 20px;
	}
	.every-news-list img{
		padding-bottom:25px;
	}
	.fridays-menu ul li{
		width:20%;
		margin:15px 0px;
		float:none;
		display: inline-block;
	}
	.fridays-menu ul {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0px auto;
	}
	.library-list .fr{
		float:left;
	}
	#fridays-view .new-title h1{
		font-size:16px;
	}
	.library-list ul li span.title,.circle-list .title{
		font-size:16px;
		text-align: left;
	}
	.company,#bott p{
		padding:0px 2%;
		width:96%;
	}
	#bootom-menu,#video,.problem_content img,.new-image{
		display:none;
	}
	#bott .con{
		margin-left:0px;
		margin-top:20px;
		width: 100%;
	}
	#bott,.map{
		padding-top:20px;
	}
	#footer{
		padding-bottom: 30px;
		margin-top: 30px;
		background:#151516;
	}
	.company{
		margin-top:0px;
	}
	#contact .guarantee{
		text-align:left;
		padding: 10px 10px 0px 10px;
	}
	.company .contact-us p,#contact .guarantee,#bott p{
		font-size:14px;
	}
	.course_images{
		position:relative;
		top:0px;
	}
	#bott .con li{
		margin: 0px;
		width: 50%;
		margin: 0px auto;
		text-align: center;
		float:left;
	}
	.map{
		float:left;
	}
	#contact .contact_content h2,.situation_content .situation-title h2{
		font-size:24px;
		text-align:center;
		padding:40px 0px 40px 0px;
	}
	.course{
		padding:0px 0px 20px 0px;
	}
	.contact_content li{
		width:100%;
		font-size:14px;
		line-height: 30px;
	}
	.lxform form ul li input, .lxform form ul li textarea{
		padding:20px 5px;
	}
	#problem .problem ul li{
		width:40%;
		display:inline-block;
		margin:2% 2% 2% 2%;
		text-align:center;
	}
	#problem .problem{
		width:96%;
		display:inline-block;
		text-align:center;
	}
	#problem .problem ul li{
		float:none;
	}
/***************************/
	.bg,.beforebg,.point_img,.lefttheme,.desction-left img,.newsdate{
		display:none;
	}
	#takebefore p, #takeover p,#question .leftquestion,#question .rightquestion,.righttheme{
		width:100%;
	}
	.strategy ul.point li span.point_desction{
		font-size:12px;
		text-align:left;
	}
	.status,.strategy ul.point{
		padding-top:0px;
	}
	.status .store{
		margin:0px;
		width:96%;
	}
	.righttheme .year .imagesa{
		margin-right:10px;
	}
	.righttheme .year ul{
		width:77%;
	}
	#classicontent,#question,#takeover,#takebefore,.casebackground{
		margin-top:20px;
	}
	.theme,#question .strategy,.operate{
		padding-top:20px;
	}
	.strategy ul li.point_list{
		width:40%;
		margin:0px 5%;
	}
	.righttheme .fr,.electrical_list ul li{
		float:none;
	}
	.status .store img{
		width:12%;
	}
	.status .store div{
		width:70%;
	}
	.status .fr{
		padding-top:20px;
		float:left;
	}
	.success_content h2{
		font-size:24px;
	}
	.design-image{
		width:100%;
		margin:0px;
		padding:0px;
	}
	.design-good{
		margin-left:0px;
		width:100%;
		left:0px;
		position:relative;
		height:100%;
	}
	.electrical_list ul{
		width: 100%;
		text-align: center;
		margin: 0px auto;
		display: inline-block
	}
	.electrical_list ul li{
		width: 40%;
		text-align: center;
		display: inline-block;
		margin: 2% 2% 2% 2%;
	}	
	.electrical_detail h2{
		width:30%;
		float:left;
	}
	.electrical_detail .detail{
		width:65%;
		float:left;
		text-align:right;
	}
	.electrical_detail .detail,#case_show{
		margin-top:0px;
	}
	#case_show h2{
		padding: 30px 0px 30px 0px;
	}
	.tiptop,.fridays-menu ul li.heng,#service-bg{
		display:none;
	}
	#problem h2,#case_show h2{
		text-align:center;
		font-size:24px;
	}
	#success-case ul li{
		width:48%;
		float:left;
		margin:20px 1%;
	}
	#success-case ul li p{
		font-size:12px;
		padding:5px 0px;
		line-height:20px;
	}
	#success-case ul li div{
		text-align:center;
	}
	#case{
		height:auto;
		padding-bottom: 20px;
	}
	#case-logo .desction{
		margin-bottom:0px;
	}
	#firsr-index{
		border-bottom: none; 
		width: 100%;
		margin-top: 0px; 
	}
	.company .contact-us{
		width:51%;
	}
	.map{
		width:49%;
	}
	.circle-list ul li{
		padding: 15px 0px;
	}
	#fridays-view{
		margin-top: 30px;
		display: inline-block;
	}
	#business-school{
		margin-bottom:5%;
	}
	.advantages-compared{
		margin-left:0px;
	}
	.service-process li{
		width:50%;
	}
	#case-analysis{
		padding-bottom:30px;
	}
	.strengths-first-descrpition{
		margin: 30px 0px 0px 0px;
	}
	#case{
		background:#f5f5f5;
	}	
	.profile-descrition{
		padding:0px;
		text-align:left;
	}	
	.development-course ul{
		background:none;
	}
	.development-course ul li.course-first,.development-course ul li.course-two,.development-course ul li.course-third,.development-course ul li.course-fourth,.development-course ul li.course-five,.development-course ul li.course-six{
		position:static;
		left:0px;
		top:0px;
		width:100%;
		margin-bottom:20px;
	}
	.service-descrition dl.align{
		width: 46%;
		margin-left: 4%;
	}
	.service-descrition dd span {
		padding-right: 10px;
	}
	.personalized,.ascendancy-image{
		position:static;
		top:0px;
		right:0px;
		margin: 0px auto;
		display: block;
	}
	.ascendancy-image{
		width:100%;
		text-align: center;
	}
	.advantages-service img{
		display:block;
		margin:0px auto;
	}
	.advantages-service .fl{
		float:none;
	}
	.list,.contact-detial img{
		margin-left:0px;
	}
	.contact-detial ul {
		margin-left: 40px;
	}
	.service-descrition dt,.strengths-first-img,.strengths-first-descrpition{
		width:100%;
	}	
	.phone{
		position: absolute;
		top: -5px;
		left: 0px;
		margin-left: 40px;
	}
	.menu ul.phone li a{
		font-size:14px;
		margin:0px 6px;
	}	
	.service-five dd,.service-six dd,.service-four dd,.service-third dd,.service-two dd,.service-first dd{
		width:100%;
		padding-right: 0px;
		text-align: left;
	}
	.service-text{
		text-align:left;
	}
	#header .nav{
		margin-top:45px;
	}
/******2017-11-06*****/	
	#personal-customization,#rate,#design-detail,#design-detail-content{
		width:96%;
		padding:0px 2%;
	}
	.personal-order,.hoisting,.study-desc,.shop-decoration{
		width:100%;
	}
	#personal-customization{
		margin-top:10px;
	}	
	#personal-customization ul li{
		width:33%;		
		border-right: none;
	}	
	.learn-more{
		margin-top:0px;
		width:100%;
		padding: 0px;
	}	
	.study-title{
		width:87%;		
	}
	.study-desc{
		margin-left:0px;
	}
	.study-desc div{
		text-align:center;
	}	
	.shop-decoration{
		margin: 20px 0px 0px 0px;
	}
	.design-benefits ul li{
		width:33%;
	}
	.design-process ul li,.design-process ul li.process-middle,.design-process ul li.process-short,.design-content{
		width:100%;
	}
	.visual-marketing div span{
		display:block;
	}
	.visual-marketing div,.personal-order h2,#design-detail,#design-detail-content,#design{
		margin-top:20px;
	}
	.advantage-choose{
		padding-top:20px;
	}
	.visual-marketing{
		margin-bottom:20px;
	}
	.visual-marketing h2{
		font-size:20px;
	}
	.design-content img{
		display:none;
	}
	.design-content .more-things img{
		display:block;
		margin: 0px auto;
		float: none;
	}
	.more-things{
		width:100%;
		display:block;
		margin-bottom: 40px;
	}
	.design-content ul{
		width: 44%;
		margin-left: 6%;
	}
	#rate-descrition{
		display: inline-block;
		padding-bottom: 30px;
	}
	.design-content{
		width:100%;
		margin: 60px 0px 0px 0px;
	}
	#design .design-list ul li,.visual-marketing,.good-team,.personal-order,.personal-order-images{
		width:49%;
	}
	.visual-marketing div span{
		margin-right:0px;
	}
	.personal-order-images{
		margin-top:50px;
	}
	.contrast-content-img{
		width:100%;
		margin-top:10px;
	}
	.contrast-content-first, .contrast-content-two, .contrast-content-three,.advantage-hosting,.problem-list,#problem-encountered{
		width:96%;
		padding-top:0px;
		height:auto;
		padding:0px 2%;
	}
	.contrast-content{
		margin-bottom:20px;
		height:auto;
	}
	#cooperative-brand,#case-contrast,.effect-comparison,.hosting-operating,.advantage-hosting{
		margin-top:20px;
	}
	.advantage-hosting ul li{
		color: #3e3e3e;
		float: left;
		width: 48%;
		background: #e7e7e7;	   
		position: relative;
		padding: 15px 0px;
		margin: 1%;
		text-align: center;
		font-size: 12px;
	}
	.effect-comparison ul li{
		float: left;
		text-align: left;
		border-right: none;
		width: 25%;
		text-align: center;
		padding:0px;
	}
	.hosting-operating ul li{
		float: left;
		padding: 0px;
		text-align: center;
		margin-right: 0px;
		background: url("../images/quire.png")/*tpa=http://jintaovip.com/skin/images/quire.png*/ no-repeat 30px 6px;
		width: 20%;
		margin-bottom: 10px;
	}
	.show-img {
		display:none;
	}

	#problem-encountered .problem-list,#problem-encountered .problem-show-img{
		width:50%;
		padding: 0px;
		margin:0px;
	}
	.encountered-list{
		height:auto;
	}
	.laws ul li,.item_wrapper{
		width: 48%;
		margin: 10px 1%;
	}
	.laws ul li span,#success-case ul li div span{
		font-size:16px;
	}
	#problem-encountered .team ul li{
		width: 48%;
		margin: 0px 1%;
	}
	#media-advantage::after{
		background:none;
	}
	.about-service{
		margin:40px 0px;
	}
	.laws,#problem-encountered{
		margin-top:40px;
	}
	.encountered-list h2{
		margin-bottom:0px;
	}
	.laws ul li p{
		font-size:12px;
	}
	
}
@media screen and (max-width: 720px) {
	.contact_menu li{
		width:20%;
	}
	.fridays-menu ul li a{
		padding: 30px 10px;
		font-size: 18px;
	}
	#design .design-list ul li{
		width:99%;
	}
	#design .design-desction,#server .desction{
		width:96%;
		padding:0px 2%;
		text-align:left;
	}
	#classify ul.design-sort,.case-list ul li{
		padding:0px;
	}
	.server-img-list ul li{
		width:46%;
		margin:2% auto;
		text-align:center;
		padding:0px;
	}
	#server .projectitem {
		width: 50%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	#server .projectitem,.problem li div.fl{
		float:none;
	}
	.server-name{
		text-align:left;
	}
	.server-title{
		padding-bottom:0px;
		height: 50px;
		
	}
	#store,.electrical_success_case,.newsdate{
		display:none;
	}	
	.sti_paginate{
		width:100%;
		max-width:1200px;
	}
	#case-logo .desction,.case-short{
		width: 96%;
		padding: 0px 2%;
		text-align: left;
		padding-bottom: 5%;
	}
	.newsbody,#news-content,#newslist .newscontent,.desction-left,.electrical_list{
		width:100%;
		float:none;
	}
	.newscontent .fl{
		float:none;
	}
	.newsdate{
		text-align:right;		
	}
	#news,#server,#team,#success-case,#team-center{
		padding:0 2%;
		margin-top:50px;
	}
	#success-case .case-img,.case-img{
		padding-top:0px;
	}
	#case .case-img{
		padding-top:50px;
	}
	#team-center .team-title{
		padding-top:0px;
	}
	#case{
		margin-top:0px;
	}	
	#indexPage{
		width:100%;
	}
	.casetitle span.publicdata{
		display:none;
	}
	.operate,.design-list,#fridays-view, #commentaries, #business-school,.every-news-list,.situation_content,.contact_content,.electrical_list,.electrical_detail,#problem,#team,#successcase_desctions,#takebefore,#takeover,#question,#classicontent,#design-content,#case_show{
		width:96%;
		padding:0px 2%;
	}
	.locatit{
		width:96%;
		padding:0% 2% 4.5% 2%;
	}
	.operate h2,#problem h2{
		border-top:none;
		width: 100%;
		display: inline-table;
		font-size:16px;
	}
	.operate h2 span.title{
		width:100%;
	}
	.contact_menu {
		width: 100%;
		clear: both;
		text-align: center;
		display: inline-block;
		margin:0px;
	}
	.contact_menu li{
		width: 20%;
		text-align: center;
		padding: 10px 0px;
	}
	.contact_menu li a{
		padding:20px 24px;
	}	
	.course_achievement_two,.course_achievement{
		width: 100%;
		padding: 0px;
		margin:0px;
	}
	.course_achievement_two ul{
		margin-top:20px;
	}
	ul li span.course_year{
		width:100%;
	}
	.course_content{
		display: inline-block;
		padding-top: 10px;
	}
	.pd,.course_data,#electrical_seriver .projectitem,#success-case ul li div{
		width:100%;
		text-align:center;
	}
	.achievement_four .course_images{
		top:0px;
		position:relative;
	}	
	.design-image,.library-list ul li{
		width:100%;
		padding: 10px 0px 10px 0px;
	}	
	#from form ul li input, #from form ul li textarea{
		padding:20px 0px;
		border: 1px solid #e5e5e5;
		background:#ffffff;
	}
	.language,.data,.heng,.library-data,.tel,#colophon,.pro,.desction-left img,#contact .map{
		display:none;
	}
	.public_class{
		width:100%;
	}
	.logo{
		width:40%;
	}
	.menu{
		width:60%;
		margin-top:5%;
	}
	.logo{
		text-align:center;
	}
	.nibox{
		margin: 100px auto 0;
		width: 100%;
	}
	.circle-desction,.library-desction{
		padding:10px 0px 0px 0px;
	}
	.news-list ul li{
		width: 100%;
		padding:20px 0px;
		margin:0px 0px 20px 0px;
	}
	.news-list ul li:last-child,.recruit,#problem .problem ul{
		margin:0px;
	}
	.every-news-list{
		padding-top: 20px;
	}
	.every-news-list img{
		padding-bottom:25px;
	}
	.fridays-menu ul li{
		width:20%;
		margin:15px 0px;
	}
	.fridays-menu ul {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0px auto;
	}
	.library-list .fr{
		float:left;
	}
	#fridays-view .new-title h1{
		font-size:16px;
	}
	.library-list ul li span.title,.circle-list .title{
		font-size:16px;
		text-align: left;
	}
	.library-list ul{
		margin-right:0px;
	}
	.company,#bott p{
		padding:0px 2%;
		width:96%;
	}
	#bootom-menu,#video,.problem_content img,.new-image,.project_info,.add,p.newmore{
		display:none;
	}
	#bott .con{
		margin-left:0px;
		margin-top:20px;
		width: 100%;
	}
	#bott,.map{
		padding-top:20px;
	}
	#footer{
		padding-bottom: 30px;
		margin-top: 30px;
		background:#151516;
	}
	.company{
		margin-top:0px;
	}
	#contact .guarantee{
		text-align:left;
		padding: 10px 10px 0px 10px;
	}
	.company .contact-us p,#contact .guarantee,#bott p{
		font-size:14px;
	}
	.course_images{
		position:relative;
		top:0px;
	}
	#bott .con li{
		margin: 0px;
		width: 50%;
		margin: 0px auto;
		text-align: center;
		float:left;
	}
	.map{
		float:left;
	}
	#contact .contact_content h2, .situation_content .situation-title h2{
		font-size:24px;
		text-align:center;
		padding:40px 0px 40px 0px;
	}
	.course{
		padding:0px 0px 20px 0px;
	}
	.contact_content li{
		width:100%;
		font-size:14px;
	}
	.lxform form ul li input, .lxform form ul li textarea{
		padding:20px 5px;
	}
	#problem .problem ul li{
		width:40%;
		display:inline-block;
		margin:2% 2% 2% 2%;
		text-align:center;
	}
	#problem .problem{
		width:96%;
		display:inline-block;
		text-align:center;
	}
	#problem .problem ul li{
		float:none;
	}
/***************************/
	.bg,.beforebg,.point_img,.lefttheme{
		display:none;
	}
	#takebefore p, #takeover p,#question .leftquestion,#question .rightquestion,.righttheme,.strengths-first-img,.strengths-first-descrpition{
		width:100%;
	}
	.strategy ul.point li span.point_desction{
		font-size:12px;
		text-align:left;
	}
	.status,.strategy ul.point{
		padding-top:0px;
	}
	.status .store{
		margin:0px;
		width:96%;
	}
	.righttheme .year .imagesa{
		margin-right:10px;
	}
	.righttheme .year ul{
		width:77%;
	}
	#classicontent,#question,#takeover,#takebefore,.casebackground,#electrical_seriver{
		margin-top:20px;
	}
	#success-case ul li{
		margin-bottom:20px;
	}
	.theme,#question .strategy,.operate{
		padding-top:20px;
	}
	.strategy ul li.point_list{
		width:40%;
		margin:0px 5%;
	}
	.righttheme .fr,.electrical_list ul li{
		float:none;
	}
	.status .store img{
		width:12%;
	}
	.status .store div{
		width:70%;
	}
	.status .fr{
		padding-top:20px;
		float:left;
	}
	.success_content h2{
		font-size:24px;
	}
	.design-image{
		width:100%;
		margin:0px;
		padding:0px;
	}
	.design-good{
		margin-left:0px;
		width:100%;
		left:0px;
		position:relative;
		height:100%;
	}
	.electrical_list ul{
		width: 100%;
		text-align: center;
		margin: 0px auto;
		display: inline-block
	}
	.electrical_list ul li{
		width: 40%;
		text-align: center;
		display: inline-block;
		margin: 2% 2% 2% 2%;
	}	
	.electrical_detail h2{
		width:30%;
		float:left;
	}
	.electrical_detail .detail{
		width:65%;
		float:left;
		text-align:right;
	}
	.electrical_detail .detail{
		margin-top:0px;
	}
	.tiptop{
		display:none;
	}
	#problem h2,#case_show h2{
		text-align:center;
		font-size:24px;
	}
	#success-case ul li{
		width:46%;
		float:left;
		margin:20px 2%;
	}
	#success-case ul li p{
		font-size:12px;
		padding:5px 0px;
		line-height:20px;
	}
	#case{
		height:auto;
		padding-bottom: 20px;
	}
	#case-logo .desction{
		margin-bottom:0px;
	}
	#firsr-index{
		border-bottom: none; 
		width: 100%;
		margin-top: 0px; 
	}
	#classify ul li a{
		padding: 17px 60px 17px 20px;
	}
	.circle-list ul li{
		padding: 15px 0px;
	}
	#fridays-view{
		margin-top: 30px;
		display: inline-block;
	}
	#business-school{
		margin-bottom:5%;
	}
	#case{
		background:#f5f5f5;
	}
	.flex-direction-nav a.flex-prev,.flex-direction-nav a.flex-next{
		background:none;
	}
	#header .nav{
		margin-top:45px;
	}
	/******2017-11-06*****/	
	#personal-customization,#rate,#design-detail,#design-detail-content,#diagnosis-team{
		width:96%;
		padding:0px 2%;
	}
	.personal-order,.hoisting,.study-desc,.shop-decoration{
		width:100%;
	}
	#personal-customization{
		margin-top:10px;
	}	
	#personal-customization ul li{
		width:33%;		
		border-right: none;
	}	
	.learn-more{
		margin-top:0px;
		padding:0px;
		width:100%;
	}	
	.study-title{
		width:87%;		
	}
	.study-desc{
		margin-left:0px;
	}
	.study-desc div{
		text-align:center;
	}	
	.shop-decoration{
		margin: 20px 0px 0px 0px;
	}
	.design-benefits ul li{
		width:50%;
	}
	.design-process ul li,.design-process ul li.process-middle,.design-process ul li.process-short,.design-content{
		width:100%;
	}
	.visual-marketing div span{
		display:block;
	}
	.visual-marketing div,.personal-order h2,#design-detail,#design-detail-content,#design{
		margin-top:20px;
	}
	.advantage-choose{
		padding-top:20px;
	}
	.visual-marketing{
		margin-bottom:20px;
	}
	.visual-marketing h2{
		font-size:20px;
	}
	.design-content img{
		display:none;
	}
	.design-content .more-things img{
		display:block;
		margin: 0px auto;
		float: none;
	}
	.more-things{
		width:100%;
		display:block;
		margin-bottom: 40px;
	}
	.design-content ul{
		width: 44%;
		margin-left: 6%;
	}
	#rate-descrition{
		display: inline-block;
		padding-bottom: 30px;
	}
	.design-content{
		width:100%;
		margin: 60px 0px 0px 0px;
	}
	#design .design-list ul li,.visual-marketing,.good-team{
		width:49%;
	}
	.visual-marketing div span{
		margin-right:0px;
	}
	.contrast-content-img{
		width:100%;
		margin-top:10px;
	}
	.contrast-content-first, .contrast-content-two, .contrast-content-three,.advantage-hosting,.problem-list{
		width:96%;
		padding-top:0px;
		height:auto;
		padding:0px 2%;
	}
	.contrast-content{
		margin-bottom:20px;
		height:auto;
	}
	#cooperative-brand,#case-contrast,.effect-comparison,.hosting-operating,.advantage-hosting{
		margin-top:20px;
	}
	.advantage-hosting ul li{
		color: #3e3e3e;
		float: left;
		width: 48%;
		background: #e7e7e7;	   
		position: relative;
		padding: 15px 0px;
		margin: 1%;
		text-align: center;
		font-size: 12px;
	}
	.effect-comparison ul li{
		float: left;
		text-align: left;
		border-right: none;
		width: 48%;
		text-align: center;
		padding:0px;
	}
	.hosting-operating ul li{
		float: left;
		padding: 0px;
		text-align: center;
		margin-right: 0px;
		background: url("../images/quire.png")/*tpa=http://jintaovip.com/skin/images/quire.png*/ no-repeat 30px 6px;
		width: 33%;
		margin-bottom: 10px;
	}
	.show-img {
		display:none;
	}
		
	#problem-encountered .problem-list,#problem-encountered .problem-show-img{
		width:100%;
		padding: 0px;
	}
	.encountered-list{
		height:auto;
	}
	.laws ul li,.item_wrapper{
		width: 48%;
		margin: 10px 1%;
	}
	.laws ul li span,#success-case ul li div span{
		font-size:16px;
	}
	#problem-encountered .team ul li{
		width: 48%;
		margin: 0px 1%;
	}
	#media-advantage::after{
		background:none;
	}
	.about-service{
		margin:40px 0px;
	}
	.laws,#problem-encountered{
		margin-top:40px;
	}
	.encountered-list{
		margin-bottom:20px;
	}
	.laws ul li p{
		font-size:12px;
	}	
}
/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 640px) {
	#design .design-list ul li{
		width:99%;
	}
	#design .design-desction,#server .desction{
		width:96%;
		padding:0px 2%;
		text-align:left;
	}
	#classify ul.design-sort,.case-list ul li{
		padding:0px;
	}
	.server-img-list ul li{
		width:46%;
		margin:2% auto;
		text-align:center;
		padding:0px;
	}
	#server .projectitem {
		width: 50%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	#server .projectitem,.project_info{
		float:none;
	}
	.server-name{
		text-align:left;
	}
	.server-title{
		padding-bottom:0px;
		height: 50px;
		display:block;
	}
	#store,.electrical_success_case{
		display:none;
	}
	.sti_paginate{
		width:100%;
		max-width:1200px;
	}
	#case-logo .desction,.case-short{
		width: 96%;
		padding: 0px 2%;
		text-align: left;
		padding-bottom: 5%;
	}
	.newsbody,#news-content,#newslist .newscontent,.desction-left,.electrical_list{
		width:100%;
		float:none;
	}
	.newscontent .fl{
		float:none;
	}
	.newsdate{
		text-align:right;		
	}
	#news,#server,#team,#success-case,#team-center{
		padding:0 2%;
		margin-top:50px;
	}
	#success-case .case-img,.case-img{
		padding-top:0px;
	}
	#case .case-img{
		padding-top:50px;
	}
	#team-center .team-title{
		padding-top:0px;
	}
	#case{
		margin-top:0px;
	}	
	#indexPage{
		width:100%;
	}
	.casetitle span.publicdata{
		display:none;
	}
	.operate,.design-list,#fridays-view, #commentaries, #business-school,.every-news-list,.situation_content,.contact_content,.electrical_list,.electrical_detail,#problem,#team,#successcase_desctions,#takebefore,#takeover,#question,#classicontent,#design-content{
		width:96%;
		padding:0px 2%;
	}
	.locatit{
		width:96%;	
		padding:0% 2% 4.5% 2%;
	}
	.operate h2,#problem h2{
		border-top:none;
		width: 100%;
		display: inline-table;
		font-size:16px;
	}
	.operate h2 span.title{
		width:100%;
	}
	.contact_menu {
		display: inline;
	}
	.contact_menu li{
		width: 100%;
		text-align: center;
		padding: 10px 0px;
	}	
	.course_achievement_two,.course_achievement{
		width: 100%;
		padding: 0px;
		margin:0px;
	}
	.course_achievement_two ul{
		margin-top:20px;
	}
	ul li span.course_year{
		width:100%;
	}
	.course_content{
		display: inline-block;
		padding-top: 10px;
	}
	.pd,.course_data,#electrical_seriver .projectitem,#success-case ul li div{
		width:100%;
		text-align:center;
	}
	.achievement_four .course_images{
		top:0px;
		position:relative;
	}	
	.design-image,.library-list ul li{
		width:100%;
		padding: 10px 0px 10px 0px;
	}	
	#from form ul li input, #from form ul li textarea{
		padding:20px 0px;
		border: 1px solid #e5e5e5;
		background:#ffffff;
	}
	.language,.data,.heng,.library-data,.tel,#colophon,.pro,.desction-left img,#contact .map,p.newmore{
		display:none;
	}
	.public_class{
		width:100%;
	}
	.logo{
		width:40%;
	}
	.menu{
		width:50%;
		margin-top:7%;
	}	
	.nibox{
		margin: 100px auto 0;
		width: 100%;
	}
	.circle-desction,.library-desction{
		padding:10px 0px 0px 0px;
	}
	.news-list ul li{
		width: 100%;
		padding:20px 0px;
		margin:0px 0px 20px 0px;
	}
	.news-list ul li:last-child,.recruit,#problem .problem ul{
		margin:0px;
	}
	.every-news-list{
		padding-top: 20px;
	}
	.every-news-list img,#bottom{
		padding-bottom:25px;
	}
	.fridays-menu ul li{
		width:100%;
		margin:15px 0px;
	}
	#fridays-view .new-title h1{
		font-size:16px;
	}
	.library-list ul li span.title,.circle-list .title{
		font-size:16px;
		text-align: left;
	}
	.library-list ul{
		margin-right:0px;
	}
	.company,#bott p{
		padding:0px 2%;
		width:96%;
	}
	#bootom-menu,#video,.new-image,.add,.newsdate{
		display:none;
	}
	#bott .con{
		margin-left:0px;
		margin-top:20px;
		width: 100%;
	}
	#bott,.map{
		padding-top:20px;
	}
	#footer{
		padding-bottom: 30px;
		margin-top: 30px;
		background:#151516;
	}
	.company,#case_show{
		margin-top:0px;
	}
	#contact .guarantee{
		text-align:left;
		padding: 10px 10px 0px 10px;
	}
	.company .contact-us p,#contact .guarantee,#bott p{
		font-size:14px;
	}
	.course_images{
		position:relative;
		top:0px;
	}
	#bott .con li{
		margin: 0px;
		width: 50%;
		margin: 0px auto;
		text-align: center;
	}
	#contact .contact_content h2, .situation_content .situation-title h2{
		font-size:24px;
		text-align:center;
		padding:40px 0px 40px 0px;
	}
	.course{
		padding:0px 0px 20px 0px;
	}
	.contact_content li{
		width:100%;
		font-size:14px;
	}
	.lxform form ul li input, .lxform form ul li textarea{
		padding:20px 5px;
	}	
/***************************/
	.bg,.beforebg,.point_img,.lefttheme{
		display:none;
	}
	#takebefore p, #takeover p,#question .leftquestion,#question .rightquestion,.righttheme{
		width:100%;
	}
	.strategy ul.point li span.point_desction{
		font-size:12px;
		text-align:left;
	}
	.status,.strategy ul.point{
		padding-top:0px;
	}
	.status .store{
		margin:0px;
		width:96%;
	}
	.righttheme .year .imagesa{
		margin-right:10px;
	}
	.righttheme .year ul{
		width:77%;
	}
	#classicontent,#question,#takeover,#takebefore,.casebackground,#electrical_seriver{
		margin-top:20px;
	}
	.theme,#question .strategy,.operate{
		padding-top:20px;
	}
	.strategy ul li.point_list{
		width:40%;
		margin:0px 5%;
	}
	.righttheme .fr{
		float:none;
	}
	.status .store img{
		width:12%;
	}
	.status .store div{
		width:70%;
	}
	.success_content h2{
		font-size:24px;
	}
	.design-image{
		width:100%;
		margin:0px;
		padding:0px;
	}
	.design-good{
		margin-left:0px;
		width:100%;
		left:0px;
		position:relative;
		height:100%;
	}
	.electrical_list ul li,.public_images {
		width:96%;		
	}
	.electrical_list ul{
		width: 100%;
		text-align: center;
		margin: 0px auto;
		display: inline-block
	}
	.electrical_list ul li{
		width: 40%;
		text-align: center;
		display: inline-block;
		margin: 2% 2% 2% 2%;
	}	
	#problem h2{
		font-size:24px;
	}
	#success-case ul li{
		width:48%;
		float:left;
		margin:20px 1%;
	}
	#success-case ul li p{
		font-size:12px;
		padding:5px 0px;
		line-height:20px;
	}
	#case{
		height:auto;
		padding-bottom: 20px;
	}
	#case-logo .desction{
		margin-bottom:0px;
	}
	#firsr-index{
		border-bottom: none; 
		width: 100%;
		margin-top: 0px; 
	}	
	.company .contact-us,.map,.strengths-first-img,.strengths-first-descrpition{
		width:100%;
	}
	#classify ul li a{
		padding: 17px 60px 17px 20px;
	}
	#fridays-view{
		margin-top: 30px;
		display: inline-block;
	}
	#business-school{
		margin-bottom:5%;
	}
	#case{
		background:#f5f5f5;
	}
	.join-us-list img,.join-us-list{
		margin-right:0px;
	}
	.page img{
		padding:15px 0px;
	}
	.flex-direction-nav a.flex-prev,.flex-direction-nav a.flex-next{
		background:none;
	}
	.phone{
		position: absolute;
		top: -5px;
		left: 0px;
		margin-left:40px;
	}
	.menu ul.phone li a{
		font-size:14px;
		margin:0px 6px;
	}
	#header .nav{
		margin-top:45px;
	}	
/******2017-11-06*****/	
	#personal-customization,#rate,#design-detail,#design-detail-content,#diagnosis-team{
		width:96%;
		padding:0px 2%;
	}
	.personal-order,.hoisting,.study-desc,.shop-decoration{
		width:100%;
	}
	#personal-customization{
		margin-top:10px;
	}	
	#personal-customization ul li{
		width:100%;
		float:none;
		border-right: none;
	}	
	.learn-more{
		margin-top:0px;
		width:100%;
		padding:0px;
	}	
	.study-title{
		width:87%;		
	}
	.study-desc{
		margin-left:0px;
	}
	.study-desc div{
		text-align:center;
	}	
	.shop-decoration{
		margin: 20px 0px 0px 0px;
	}
	.design-benefits ul li{
		width:50%;
	}
	.design-process ul li,.design-process ul li.process-middle,.design-process ul li.process-short,.design-content,.personal-order-images,.visual-marketing,.good-team,.problem-list{
		width:100%;
	}
	.visual-marketing div span{
		display:block;
	}
	.visual-marketing div,.personal-order h2,#design-detail,#design-detail-content,#design{
		margin-top:20px;
	}
	.advantage-choose{
		padding-top:20px;
	}
	.visual-marketing{
		margin-bottom:20px;
	}
	.visual-marketing h2{
		font-size:20px;
	}
	.design-content img{
		display:none;
	}
	.design-content .more-things img{
		display:block;
		margin: 0px auto;
		float: none;
	}
	.more-things{
		width:100%;
		display:block;
		margin-bottom: 40px;
	}
	.design-content ul{
		width: 44%;
		margin-left: 6%;
	}
	#rate-descrition{
		display: inline-block;
		padding-bottom: 30px;
	}
	.design-content{
		width:100%;
		margin: 60px 0px 0px 0px;
	}
	.study-desc div span{
		font-size:22px;
	}
	#diagnosis-team .online-message h2{
		font-size:20px;
	}
	.online-message p{
		font-size:14px;
	}
	.contrast-content-img{
		width:100%;
		margin-top:10px;
	}
	.contrast-content-first, .contrast-content-two, .contrast-content-three,.advantage-hosting,.problem-list,#problem-encountered{
		width:96%;
		padding-top:0px;
		height:auto;
		padding:0px 2%;
	}
	.contrast-content{
		margin-bottom:20px;
		height:auto;
	}
	#cooperative-brand,#case-contrast,.effect-comparison,.hosting-operating,.advantage-hosting{
		margin-top:20px;
	}
	.advantage-hosting ul li{
		color: #3e3e3e;
		float: left;
		width: 48%;
		background: #e7e7e7;	   
		position: relative;
		padding: 15px 0px;
		margin: 1%;
		text-align: center;
		font-size: 12px;
	}
	.effect-comparison ul li{
		float: left;
		text-align: left;
		border-right: none;
		width: 48%;
		text-align: center;
		padding:0px;
	}
	.hosting-operating ul li{
		float: left;
		padding: 0px;
		text-align: center;
		margin-right: 0px;
		background: url("../images/quire.png")/*tpa=http://jintaovip.com/skin/images/quire.png*/ no-repeat 30px 6px;
		width: 33%;
		margin-bottom: 10px;
	}
	.show-img {
		display:none;
	}
	#problem-encountered .problem-list,#problem-encountered .problem-show-img{
		width:100%;
		padding: 0px;
	}
	.encountered-list{
		height:auto;
	}
	.laws ul li,.item_wrapper{
		width: 48%;
		margin: 10px 1%;
	}
	.laws ul li span,#success-case ul li div span{
		font-size:16px;
	}
	#problem-encountered .team ul li{
		width:100%;
		margin:0px;
	}
	#media-advantage::after{
		background:none;
	}
	.about-service{
		margin:40px 0px;
	}
	.laws,#problem-encountered{
		margin-top:40px;
	}
	.encountered-list{
		margin-bottom:20px;
	}
	#ilecturer,#outline-facebook,#course-outline .bx-prev,#course-outline .bx-next{
		background:none;
	}
	#ilecturer .lturer h2,#ilecturer .lturer .title span{
		text-align:center;
	}
	#ilecturer .lturer .title span{
		font-size:20px;
	}
	#ilecturer .lturer ul,#student-case .clist li p,#outline-facebook,#signkown .payimage,#signkown .kinfo ul{
		width:96%;
		margin:0px 2%;
	}
	#ilecturer .title h1, #pconfused .title h1, #outline-facebook .title h1, #signkown .title h1{
		margin-top:30px;
		font-size: 40px;
	}
	#ilecturer .lturer{
		padding: 40px 0px 0px 0px;
	}
	#pconfused,#course-outline,#signkown{
		background:#000;
	}
	#pconfused .dinfo-list ul{
		margin-left:0px;
		padding:0px;
	}
	#pconfused .dinfo-list ul li .qinfo p{
		font-size:16px;
	}
	#pconfused .dinfo-list,#signkown .kinfo{
		padding: 30px 0px;
	}
	#hcurriculum ul li{
		width:50%;
		margin: 30px 0px;
	}
	#hcurriculum ul li .number{
		height: 120px;
		font-family:yahei;
		font-weight:bold;
	}
	#hcurriculum ul li .hdetail{
		font-size:16px;
	}
	#sknow .slist ul li{
		float:none;
		width: 96%;
		margin: 0px 2%;
	}
	#student-case .clist h2 {
		font-size: 22px;
		font-weight: normal;
		margin-bottom: 20px;
		margin-left: 2%;
	}
	#student-case .clist li p img{
		margin-left:0px;
	}
	#outline-facebook .facebook-images{
		padding: 30px 0px 30px 0px;
	}
	#ilecturer .lturer ul li {
		font-size: 16px;
		color: #666666;
		font-family: yahei;
		padding-bottom: 20px;
		line-height: 35px;
	}
	#hcurriculum ul,#sknow .slist{
		margin-top:0px;
	}
	#course-outline .outline-list ul{
		margin-left:0px;
	}
	#course-outline .outline-list .every-list,#course-outline .outline-list ul{
		width:100%;
	}
	#course-outline .outline-list ul li{
		width:96%;
		margin:10px 2%;
	}
	.oinfo{
		height:auto;
	}
	#course-outline .outline-list ul li .course-content h3{
		font-size:16px;
	}
	#course-outline .outline-list ul li .course-content div{
		font-size:14px;
	}
	#course-outline .outline-list ul li .outline-step{
		width: 90px;
		height: 140px;
		line-height: 140px;
	}
	#course-outline,#course-outline .title h1,#course-outline .outline-list{
		margin-top:30px;
	}
	#course-outline{
		padding-top:0px;
		padding-bottom: 30px;
	}
	#signkown .kinfo ul{
		text-align:center;
		margin-top:30px;
	}
	#signkown .payimage{
		border-right:none;
	}
}
/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}	
	#design .design-list ul li{
		width:99%;
	}
	#design .design-desction,#server .desction{
		width:96%;
		padding:0px 2%;
		text-align:left;
	}
	#classify ul.design-sort,.case-list ul li{
		padding:0px;
	}
	.server-img-list ul li{
		width:48%;
		margin:0px 0px 20px 0px;
		text-align:center;
		padding:0px;
		float:left;
	}
	#server .projectitem {
		width: 50%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	.short-desc{
		font-size:12px;
		margin-left:0px;
	}
	#server .projectitem{
		float:none;
	}
	.server-name{
		text-align:left;
		text-align: left;
		float: left;
		width: 58%;
		font-size: 14px;
	}
	.server-title{
		padding-bottom:0px;
		height: 35px;
		display:block;
	}
	#store,.electrical_success_case{
		display:none;
	}	
	.sti_paginate{
		width:100%;
		max-width:1200px;
	}
	#case-logo .desction,.case-short{
		width: 96%;
		padding: 0px 2%;
		text-align: left;
		padding-bottom: 5%;
	}
	.newsbody,#news-content,#newslist .newscontent,.desction-left,.electrical_list{
		width:100%;
		float:none;
	}
	.newscontent .fl{
		float:none;
	}
	.newsdate{
		text-align:right;		
	}
	#news,#server,#team,#success-case,#team-center{
		padding:0 2%;
		margin-top:50px;
	}
	#success-case .case-img,.case-img,#team-center .team-title,.autobiography{
		padding-top:0px;
	}
	#case .case-img{
		padding-top:50px;
	}
	#case{
		margin-top:0px;
	}	
	#indexPage{
		width:100%;
	}
	.casetitle span.publicdata{
		display:none;
	}	
	.locatit{
		width:96%;
		padding:0% 2% 4.5% 2%;
	}
	.operate h2,#problem h2{
		border-top:none;
		width: 100%;
		display: inline-table;
		font-size:16px;
	}
	.operate h2 span.title{
		width:100%;
	}
	.contact_menu {
		display: inline;
	}
	.contact_menu li{
		width: 100%;
		text-align: center;
		padding: 10px 0px;
	}	
	.course_achievement_two,.course_achievement{
		width: 100%;
		padding: 0px;
		margin:0px;
	}
	.course_achievement_two ul,#culture{
		margin-top:20px;
	}
	ul li span.course_year{
		width:100%;
	}
	.course_content{
		display: inline-block;
		padding-top: 10px;
	}
	.pd,.course_data,#electrical_seriver .projectitem,#success-case ul li div{
		width:100%;
		text-align:center;
	}
	.achievement_four .course_images{
		top:0px;
		position:relative;
	}	
	.design-image,.library-list ul li{
		width:100%;
		padding: 10px 0px 10px 0px;
	}	
	#from form ul li input, #from form ul li textarea{
		padding:20px 0px;
		border: 1px solid #e5e5e5;
		background:#ffffff;
	}
	.language,.data,.heng,.library-data,.tel,#colophon,.pro,.add,#contact .map,p.newmore{
		display:none;
	}
	.menu,.logo,.public_class{
		width:100%;
	}
	.logo{
		text-align:center;
	}
	.menu{
		margin-top:0px;
	}
	.nibox{
		margin: 135px auto 0;
		width: 100%;
	}
	.circle-desction,.library-desction{
		padding:10px 0px 0px 0px;
	}
	.news-list ul li{
		width: 100%;
		padding:20px 0px;
		margin:0px 0px 20px 0px;
	}
	.news-list ul li:last-child,.recruit,#problem .problem ul{
		margin:0px;
	}
	.every-news-list{
		padding-top: 20px;
	}
	.every-news-list img,#bottom{
		padding-bottom:25px;
	}
	.fridays-menu ul li{
		width:100%;
		margin:15px 0px;
	}
	#fridays-view .new-title h1{
		font-size:16px;
	}
	.library-list ul li span.title,.circle-list .title{
		font-size:16px;
		text-align: left;
	}
	.library-list ul{
		margin-right:0px;
	}
	.company,#bott p{
		padding:0px 2%;
		width:96%;
	}
	#bootom-menu,#video,.new-image,#service-bg{
		display:none;
	}
	#bott .con{
		margin-left:0px;
		margin-top:20px;
		width: 100%;
	}
	#bott,.map{
		padding-top:20px;
	}
	#footer{
		padding-bottom: 30px;
		margin-top: 30px;
		background:#151516;
	}
	.company,#case_show{
		margin-top:0px;
	}
	#contact .guarantee{
		text-align:left;
		padding: 10px 10px 0px 10px;
	}
	.company .contact-us p,#contact .guarantee,#bott p{
		font-size:14px;
	}
	.course_images{
		position:relative;
		top:0px;
	}
	#bott .con li{
		margin: 0px;
		width: 50%;
		margin: 0px auto;
		text-align: center;
	}
	#contact .contact_content h2, .situation_content .situation-title h2{
		font-size:24px;
		text-align:center;
		padding:40px 0px 40px 0px;
	}
	.course{
		padding:0px 0px 20px 0px;
	}
	.contact_content li,.contact-detial ul li{
		width:100%;
		font-size:14px;
	}
	.lxform form ul li input, .lxform form ul li textarea{
		padding:20px 5px;
	}
	#problem .problem ul li,.problem_image{
		width:100%;
	}
	#problem .problem{
		width:96%;
	}
/***************************/
	.bg,.beforebg,.point_img,.lefttheme,.status .store img,.project_info,.newsdate,.desction-left img,#data-speak{
		display:none;
	}
	#takebefore p, #takeover p,#question .leftquestion,#question .rightquestion,.righttheme{
		width:100%;
	}
	#successcase_desctions,#takebefore,#takeover,#question,#classicontent,#design-content,#case,.operate,.design-list,#fridays-view, #commentaries, #business-school,.every-news-list,.situation_content,.contact_content,.electrical_list,.electrical_detail,#problem,#team,#strengths,#case-analysis,#service-system,#brands-content,#brands-service,#ascendancy{
		width:96%;
		padding:0px 2%;
	}
	.strategy ul.point li span.point_desction{
		font-size:12px;
		text-align:left;
	}
	.status,.strategy ul.point{
		padding-top:0px;
	}
	.status .store div,.status .store{
		margin:0px;
		width:96%;
	}
	.righttheme .year .imagesa{
		margin-right:10px;
	}
	.righttheme .year ul{
		width:77%;
	}
	#classicontent,#question,#takeover,#takebefore,.casebackground,#contact,#electrical_seriver,#brands-content,.brands-contact{
		margin-top:20px;
	}
	.theme,#question .strategy,.operate{
		padding-top:20px;
	}
	.strategy ul li.point_list{
		width:40%;
		margin:0px 5%;
	}
	.success_content h2{
		font-size:24px;
	}
	.design-image{
		width:100%;
		margin:0px;
		padding:0px;
	}
	.design-good{
		margin-left:0px;
		width:100%;
		left:0px;
		position:relative;
		height:100%;
	}
	.electrical_list ul li,.electrical_detail h2,.electrical_detail .detail{
		width:96%;
	}
	#problem .problem .fl{
		float:none;
	}
	.newmore a{
		width: 45%;
	}
	#success-case ul li{
		width:48%;
		float:left;
		margin:20px 1%;
	}
	#success-case ul li p{
		font-size:12px;
		padding:5px 0px;
		line-height:20px;
	}
	.ico-image{
		padding:0px;
		margin: 0px 10px;
	}	
	#case{
		height:auto;
		padding-bottom: 20px;
	}
	#case-logo .desction{
		margin-bottom:0px;
	}
	#firsr-index{
		border-bottom: none; 
		width: 100%;
		margin-top: 0px; 
	}
	.company .contact-us,.map,.public_images {
		width:100%;
	}
	#problem h2{
		font-size:24px;
	}
	#classify ul li{
		margin:0px;
		float:none;
		width: 48%;
		display: inline-block;
	}
	.design-sort{
		width: 100%;
		display: inline-block;
		margin: 0px auto;
		text-align: center;
	}
	.pd{
		margin-top:20px;
	}
	#classify ul li a{
		padding: 17px 60px 17px 20px;
	}
	#classify li.nsec {
		background: rgba(0, 0, 0, 0) url("../images/arrows.png")/*tpa=http://jintaovip.com/skin/images/arrows.png*/ no-repeat scroll 80% center;
	}
	#fridays-view{
		margin-top: 30px;
		display: inline-block;
	}
	.circle-list ul li{
		padding: 15px 0px;
	}
	#business-school{
		margin-bottom:5%;
	}
	.strengths-first-descrpition{
		margin: 30px 0px 0px 0px;
	}
	.amount,.advantages-service,.development-course,.development-course ul{
		margin-top:30px;
	}
	.strengths ul li{
		padding-left:15px;
	}
	.strengths h3,.amount ul li,.analysis div h3{
		font-size:16px;
	}
	.outsourcing, .over-customers{
		width:100%;
	}
	.advantages-compared{
		margin-left:0px;
	}
	.vs{
		margin-top:20px;
		margin-bottom:20px;
	}
	.service-process li{
		width:50%;
	}
	#case-analysis{ 
		padding-bottom:20px;
	}
	.customers_problems{
		margin-top:0px;
	}
	#case{
		background:#f5f5f5;
	}	
	.join-us-list img,.join-us-list{
		margin-right:0px;
	}
	.page img{
		padding:15px 0px;
	}
	.flex-direction-nav a.flex-prev,.flex-direction-nav a.flex-next{
		background:none;
	}	
	.profile-descrition{
		padding:0px;
		text-align: left;
	}
	.service-descrition dt,.service-descrition dl,.list,.success-list,.contact-detial img,.contact-detial ul,.service-first dd, .service-six dd,.service-four dd{
		width:100%;
		margin-left:0px;
	}
	.service-descrition dd span{
		padding-right:10px;
	}
	.list dl{
		width:50%;
		margin: 0px 0px 20px 0px;
	}
	.personalized{
		position:relative;
		top:0px;
		right:0px;
	}
	.development-course ul{
		background:none;
	}
	.development-course ul li.course-first,.development-course ul li.course-two,.development-course ul li.course-third,.development-course ul li.course-fourth,.development-course ul li.course-five,.development-course ul li.course-six{
		position:static;
		left:0px;
		top:0px;
		width:100%;
		margin-bottom:20px;
	}
	.brand-cooper h2, .brands-contact h2{
		padding: 0px 0px 40px 0px;
	}
	.service-five dd,.service-six dd,.service-four dd,.service-third dd,.service-two dd,.service-first dd{
		width:100%;
		padding-right: 0px;
		text-align: left;
	}
	.phone{
		position: absolute;
		top: -5px;
		left: 0px;
		margin-left:40px;
	}
	.menu ul.phone li a{
		font-size:14px;
		margin:0px 6px;
	}
	#case_show h2{
		padding: 30px 0px 30px 0px;
	}
	#header .nav{
		margin-top:45px;
	}	
/******2017-11-06*****/	
	#personal-customization,#rate,#design-detail,#design-detail-content,#shop-problem,#diagnosis-team,.problem-list{
		width:96%;
		padding:0px 2%;
	}
	.personal-order,.hoisting,.study-desc,.shop-decoration{
		width:100%;
	}
	#personal-customization{
		margin-top:10px;
	}	
	#personal-customization ul li{
		width:100%;
		float:none;
		border-right: none;
	}	
	.learn-more{
		margin-top:0px;
		width:100%;
		padding:0px;
	}	
	.study-title{
		width:87%;		
	}
	.study-desc{
		margin-left:0px;
	}
	.study-desc div{
		text-align:center;
	}	
	.shop-decoration,.encountered-list img{
		margin: 20px 0px 0px 0px;
	}
	.design-benefits ul li{
		width:50%;
	}
	.problem-list,.design-process ul li,.design-process ul li.process-middle,.design-process ul li.process-short,.design-content,.personal-order-images,.visual-marketing,.good-team,.precess-diagnosis .diagnosis-list{
		width:100%;
	}
	.visual-marketing div span{
		display:block;
	}
	.visual-marketing div,.personal-order h2,#design-detail,#design-detail-content,#design{
		margin-top:20px;
	}
	.advantage-choose{
		padding-top:20px;
	}
	.visual-marketing{
		margin-bottom:20px;
	}
	.visual-marketing h2{
		font-size:20px;
	}
	.design-content img{
		display:none;
	}
	.design-content .more-things img{
		display:block;
		margin: 0px auto;
		float: none;
	}
	.more-things{
		width:100%;
		display:block;
		margin-bottom: 40px;
	}
	.design-content ul{
		width: 44%;
		margin-left: 6%;
	}
	#rate-descrition{
		display: inline-block;
		padding-bottom: 30px;
	}
	.design-content{
		width:100%;
		margin: 60px 0px 0px 0px;
	}
	.study-desc div span{
		font-size:22px;
	}
	#shop-problem ul li{
		width: 50%;   
		margin-bottom: 30px;
	}
	#diagnosis-team .team{
		display:inline-block;
	}
	#diagnosis-team .form input, #diagnosis-team .form textarea{
		width:60%;
	}	
	#diagnosis-team .online-message h2{
		font-size:20px;
	}
	.online-message p{
		font-size:14px;
	}
	.show-img{
		display:none;
	}
	.hosting-operating ul li {
		float: left;
		text-align: center;
		background: url("../images/quire.png")/*tpa=http://jintaovip.com/skin/images/quire.png*/ no-repeat 20px 7px;
		width: 33.3%;
		margin-bottom: 20px;
		padding: 0px;
		margin-right: 0px;
	}
	.effect-comparison ul li {
		float: left;
		padding: 0px;
		text-align: left;
		border-right: none;
		width: 49%;
		text-align: center;
	}
	.contrast-content-img{
		width:100%;
		margin-top:10px;
	}
	.contrast-content-first, .contrast-content-two, .contrast-content-three,.advantage-hosting,#problem-encountered{
		width:96%;
		padding-top:0px;
		height:auto;
		padding:0px 2%;
	}
	.contrast-content{
		margin-bottom:20px;
		height:auto;
	}
	#cooperative-brand,#case-contrast,.effect-comparison,.hosting-operating,.advantage-hosting{
		margin-top:20px;
	}
	.advantage-hosting ul li {
		color: #3e3e3e;
		float: left;
		width: 48%;
		background: #e7e7e7;	   
		position: relative;
		padding: 15px 0px;
		margin: 1%;
		text-align: center;
		font-size: 12px;
	}
	
	
	#problem-encountered .problem-list,#problem-encountered .problem-show-img{
		width:100%;
		padding: 0px;
	}
	.encountered-list{
		height:auto;
	}
	.laws ul li,.item_wrapper{
		width: 48%;
		margin: 10px 1%;
	}
	.laws ul li span,#success-case ul li div span{
		font-size:16px;
	}
	#problem-encountered .team ul li{
		width:100%;
		margin:0px;
	}
	#media-advantage::after{
		background:none;
	}
	.about-service{
		margin:40px 0px;
	}
	.laws,#problem-encountered{
		margin-top:40px;
	}
	
	.encountered-list{
		margin-bottom:20px;
	}
	
	#ilecturer,#outline-facebook,#course-outline .bx-prev,#course-outline .bx-next{
		background:none;
	}
	#ilecturer .lturer h2,#ilecturer .lturer .title span{
		text-align:center;
		font-size: 30px;
	}
	#ilecturer .lturer .title span{
		font-size:20px;
	}
	#ilecturer .lturer ul,#student-case .clist li p,#outline-facebook,#signkown .payimage,#signkown .kinfo ul{
		width:96%;
		margin:0px 2%;
	}
	#ilecturer .title h1, #pconfused .title h1, #outline-facebook .title h1, #signkown .title h1{
		margin-top:30px;
		font-size: 40px;
	}
	#ilecturer .lturer{
		padding: 40px 0px 0px 0px;
	}
	#pconfused,#course-outline,#signkown{
		background:#000;
	}
	#pconfused .dinfo-list ul{
		margin-left:0px;
		padding:0px;
	}
	#pconfused .dinfo-list ul li .qinfo p{
		font-size:15px;
	}
	#pconfused .dinfo-list,#signkown .kinfo{
		padding: 30px 0px;
	}
	#hcurriculum ul li{
		width:50%;
		margin: 30px 0px;
	}
	#hcurriculum ul li .number{
		height: 120px;
		font-family:yahei;
		font-weight:bold;
	}
	#hcurriculum ul li .hdetail{
		font-size:16px;
	}
	#sknow .slist ul li{
		float:none;
		width: 96%;
		margin: 0px 2%;
	}
	#student-case .clist h2 {
		font-size: 22px;
		font-weight: normal;
		margin-bottom: 20px;
		margin-left: 2%;
	}
	#student-case .clist li p img{
		margin-left:0px;
	}
	#outline-facebook .facebook-images{
		padding: 30px 0px 30px 0px;
	}
	#ilecturer .lturer ul li {
		font-size: 16px;
		color: #666666;
		font-family: yahei;
		padding-bottom: 20px;
		line-height: 35px;
	}
	#hcurriculum ul,#sknow .slist{
		margin-top:0px;
	}
	#course-outline .outline-list ul{
		margin-left:0px;
	}
	#course-outline .outline-list .every-list,#course-outline .outline-list ul{
		width:100%;
	}
	#course-outline .outline-list ul li{
		width:96%;
		margin:10px 2%;
	}
	.oinfo{
		height:auto;
	}
	#course-outline .outline-list ul li .course-content h3{
		font-size:16px;
	}
	#course-outline .outline-list ul li .course-content div{
		font-size:14px;
	}
	#course-outline .outline-list ul li .outline-step{
		width: 90px;
		height: 140px;
		line-height: 140px;
	}
	#course-outline,#course-outline .title h1,#course-outline .outline-list{
		margin-top:30px;
	}
	#course-outline{
		padding-top:0px;
		padding-bottom: 30px;
	}
	#signkown .kinfo ul{
		text-align:center;
		margin-top:30px;
	}
	#signkown .payimage{
		border-right:none;
	}
}
/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {
	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
.phone{
		position: absolute;
		top: -5px;
		right: 0px;
	}
	.menu ul.phone li a{
		font-size:14px;
		margin:0px 6px;
	}
}

