.sti_container {
	font-family:Helvetica, Arial, sans-serif; font-size: 12px; line-height: 18px; color: #333;
    margin:0px auto;
    width:1200px;

	padding:0px;
	overflow:hidden;
}
.sti_container a { text-decoration:none; color:#2d75cd; }
.ajax_content { clear:both; }
.sti_slider {
	width:1200px;
	overflow:hidden;
	position:relative;
	margin:0;
}
.sti_items {
	float:left;
	display:none;
	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	padding:0px;
	margin:0px;
	width:15000px;
	-webkit-transform: translate3d(0px,0px,0px); 
}
.sti_items img { 
	padding:0px; margin:0px; 
	-webkit-transform: translate3d(0px,0px,0px);
	-webkit-transform: translate2d(0px,0px);
}
.sti_slide { width:1200px; height:348px; float:left; padding:0; margin:0; position:relative; }
.sti_slide div.banner_title a { color:#fff; }
.sti_slide div.banner_title a:hover { text-decoration:underline; }
.sti_content_slider p { margin-top:0; margin-bottom:20px; }
.sti_content_slider a:hover { text-decoration:underline; color:#6fa1df; }
.sti_content_slider img { margin:0 0 20px 0 !important; }
.sti_clear { clear:both; }
.sti_line { border-top:#ddd solid 1px; margin-top:20px; clear:both; }
.sti_prod { 
	width:110px; height:150px; display:inline-block; margin:22px 0px -5px 20px; position:relative !important; line-height:30px;
	zoom: 1; *display: inline; *margin-bottom:0px;
}
.sti_prod img { 
	position:absolute !important; bottom:0;
	display:block !important; border:none !important; margin:0 !important; padding:0 !important; max-width:none !important; max-height:none !important; height:none !important; 
}
.sti_thumb_gallery { margin:12px; margin-top:16px; }
.sti_thumb_gallery img { border:#ddd solid 1px !important; padding:3px !important; box-shadow: 0px 0px 3px rgba(0, 0, 0, .1) !important; }
.sti_paginate {
	position:relative;
	display:inline-block;
	zoom:1; *display:inline;
	margin-top:45px;
	width:1200px;
    background-color:#fff;
    text-align:center;
	overflow:hidden;
}
.sti_paginate .sti_control {
	border-left:#eaeaea solid 1px; margin-left:10px; padding-left:8px;
}
.sti_paginate .sti_control img { border:none !important; padding:0; }

.sti_paginate .sti_play { padding:0 !important; line-height:0 !important; float:left; margin-left:6px; margin-right:0 !important; }
.sti_paginate .sti_pause { padding:0 !important; line-height:0 !important; float:left; margin-left:6px; margin-right:0 !important; }
.sti_paginate .sti_btn {
    display: inline-block;
    zoom: 1;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 10px;
    -webkit-border-radius: 8px;
	-moz-border-radius:  8 ;
    border-radius: 8px;
    height: 10px;
    text-indent: 999px;
	background-color:#ffd1b2;
}
.sti_paginate .active {
	background-color: #FF7900;
	background-image: none; 
}
.sti_previous { 
	top:30%; left:30px; height:40px; width:40px; position:absolute; background:url("../images/leftarrow.png")/*tpa=http://jintaovip.com/skin/images/leftarrow.png*/ left top no-repeat; 
	opacity:.8;  cursor:pointer; z-index:2;
}
.sti_next { 
	top:30%; right:30px; height:40px; width:40px; position:absolute; background:url("../images/rightarrow.png")/*tpa=http://jintaovip.com/skin/images/rightarrow.png*/ right top no-repeat; 
	opacity:.8;  cursor:pointer; z-index:2;
}




